/* common */

body { background-color:#e7ebee; }
html, body { height:100%; }
.body_hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}

#wrap { position:relative; width:100%; height:100%; }
.wrapper { width:100%; height:100%; overflow:auto; }
.wrapper.scrollbar-dynamic { max-height:none; }

.font-NotoKR { font-family: 'Noto Sans KR'; }

/* lnb */
#lnb { position:absolute; left:0; right:auto; width:330px; background-color:#252d3a; min-height:100%; }
#lnb .bg { position:fixed; background-color:#252d3a; width:330px; height:100vh; top:0; right:0; left:0; bottom:0; }
#lnb .topbox { position:relative; height:359px; z-index:999; }
#lnb .topbox .info { position:absolute; top:50%; transform:translateY(-50%); text-align:center; width:100%; }
#lnb .topbox .info .thumb span { padding:10px; border:1px solid rgba(255,255,255,0.1); border-radius:100px; display:inline-block; }
#lnb .topbox .info .thumb span > img { border:1px solid rgba(0,0,0,0.05); border-radius:100px; }
#lnb .topbox .info .txt_1 { margin:13px 0 0 0; color:#fff;font-size:20px; font-weight:200;}
#lnb .topbox .info .txt_2 { position:relative; margin:17px 0 0 0; cursor:pointer; display:inline-block; }
#lnb .topbox .info .txt_2 span { position:relative; color:#fff;font-size:14px; line-height:12px; height:32px; font-weight:200; border:1px solid #515761; border-radius:30px; padding:8px 36px 0 29px; display:inline-block; }
#lnb .topbox .info .txt_2 span:after{ content:''; display:block; width:9px; height:9px; border-radius:50px; background-color:#06a9b7; position:absolute; left:11px; top:10px; }
#lnb .topbox .info .txt_2 span:before{ content:''; display:block; width:6px; height:9px; background:url(../img/contents/icon_arr.png) center center no-repeat; position:absolute; right:8px; top:11px; }
#lnb .topbox .info .txt_2 .infobox { display:none; position:absolute; left:50%; top:43px; transform:translateX(-50%); background-color:#5e636c; border-radius:8px; }
#lnb .topbox .info .txt_2 .infobox:after { content:''; display:block; position:absolute; top:-7px; left:50%; transform:translateX(-50%);  border-bottom:7px solid #5e636c; border-right:6px solid transparent;  border-left:6px solid transparent; }
#lnb .topbox .info .txt_2 .infobox .box { padding:20px 20px 21px 24px; min-width:136px; text-align:left; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li { margin:8px 0 2px 0; color:#06a9b7;font-size:14px; line-height:14px; font-weight:400; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li:first-child { margin:0; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li > a { color:#06a9b7;font-size:14px; line-height:14px; font-weight:400; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li > a { color:#06a9b7;font-size:14px; line-height:14px; font-weight:400; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul { padding:0 0 0 12px; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul > li { margin:8px 0 0 0; color:#fff;font-size:14px; line-height:14px; font-weight:100; }
#lnb .topbox .info .txt_2 .infobox .box > ul > li > ul > li > a { color:#fff;font-size:14px; line-height:14px; font-weight:100; }

#lnb .leftmenu { position:relative; border-top:1px solid #fff; z-index:99; }
#lnb .leftmenu:after {content:""; display:block; visibility:hidden; clear:both; height:0; }
#lnb .leftmenu ul.nav li { background-color:#fff; }
#lnb .leftmenu ul.nav li a { position:relative; color:#5e636c; padding:24px 0;font-size:16px; font-weight:200; display:block; }
#lnb .leftmenu ul.nav li a.active { color:#fff; background-color:#252d3a; }
#lnb .leftmenu ul.nav li:nth-child(1) a { padding-left:77px; width:177px; }
#lnb .leftmenu ul.nav li:nth-child(1) a:before { content:''; display:block; width:16px; height:16px; background:url(../img/contents/icon_mo.png) left top no-repeat; position:absolute; left:48px; top:25px; }
#lnb .leftmenu ul.nav li:nth-child(1) a.active { color:#fff; background-color:#252d3a; border-radius:0 20px 0 0; padding-left:77px; width:187px; }
#lnb .leftmenu ul.nav li:nth-child(1) a.active:before { background:url(../img/contents/icon_mo.png) left bottom no-repeat; }
#lnb .leftmenu ul.nav li:nth-child(2) a { padding-left:49px; width:143px; }
#lnb .leftmenu ul.nav li:nth-child(2) a:before { content:''; display:block; width:15px; height:16px; background:url(../img/contents/icon_ms.png) left top no-repeat; position:absolute; left:24px; top:25px; }
#lnb .leftmenu ul.nav li:nth-child(2) a.active { color:#fff; background-color:#252d3a; border-radius:20px 0 0 0; padding-left:59px; width:153px; }
#lnb .leftmenu ul.nav li:nth-child(2) a.active:before { background:url(../img/contents/icon_ms.png) left bottom no-repeat; left:34px; }
#lnb .leftmenu ul.menu { border-top:1px solid #4c535e; }
#lnb .leftmenu ul.menu > li { position:relative; border-bottom:1px solid #4c535e; }
#lnb .leftmenu ul.menu > li > a { display:block;padding:21px 0 0 114px; height:57px; color:#fff;font-size:20px; line-height:20px; font-weight:300; background-color:#252d3a;}
#lnb .leftmenu ul.menu > li > ul { display:none; }
#lnb .leftmenu ul.menu > li.active > ul  { display:block; }
#lnb .leftmenu ul.menu > li > ul > li { border-top:2px solid #252d3a; }
#lnb .leftmenu ul.menu > li > ul > li:first-child { border-top:none; }
#lnb .leftmenu ul.menu > li > ul > li > a { position:relative; display:block; padding:20px 0 0 138px; height:58px; color:#fff;font-size:18px; line-height:18px; font-weight:300; background-color:#1d232c; }
#lnb .leftmenu ul.menu > li > ul > li > a:after { content:''; display:block; width:6px; height:6px; border-radius:50px; background-color:#fff; position:absolute; left:116px; top:26px; }
#lnb .leftmenu ul.menu > li > ul > li.on > a { background-color:#06a9b7; }
#lnb .leftmenu ul.menu > li > ul > li.on > a:before { content:''; display:block; width:8px; height:13px; background:url(../img/contents/icon_m_arr.png) center center no-repeat; position:absolute; right:35px; top:23px; }
#lnb .leftmenu ul.menu > li::before { content:''; display:block; position:absolute; }
#lnb #Operation ul.menu > li:nth-child(1):before { width:17px; height:16px; background:url(../img/contents/icon_menu1_1.png)center center no-repeat; position:absolute; left:77px; top:20px; }
#lnb #Operation ul.menu > li:nth-child(2):before { width:19px; height:22px; background:url(../img/contents/icon_menu1_2.png)center center no-repeat; position:absolute; left:77px; top:17px; }
#lnb #Operation ul.menu > li:nth-child(3):before { width:19px; height:17px; background:url(../img/contents/icon_menu1_3.png)center center no-repeat; position:absolute; left:77px; top:20px; }
#lnb #Operation ul.menu > li:nth-child(4):before { width:18px; height:22px; background:url(../img/contents/icon_menu1_4.png)center center no-repeat; position:absolute; left:77px; top:19px; }
#lnb #Operation ul.menu > li:nth-child(5):before { width:17px; height:15px; background:url(../img/contents/icon_menu1_5.png)center center no-repeat; position:absolute; left:77px; top:22px; }
#lnb #Setting ul.menu > li:nth-child(1):before { width:18px; height:19px; background:url(../img/contents/icon_menu2_1.png)center center no-repeat; position:absolute; left:77px; top:20px; }
#lnb #Setting ul.menu > li:nth-child(2):before { width:21px; height:18px; background:url(../img/contents/icon_menu2_2.png)center center no-repeat; position:absolute; left:76px; top:20px; }
#lnb #Setting ul.menu > li:nth-child(3):before { width:23px; height:21px; background:url(../img/contents/icon_menu2_3.png)center center no-repeat; position:absolute; left:74px; top:19px; }
#lnb #Setting ul.menu > li:nth-child(4):before { width:20px; height:20px; background:url(../img/contents/icon_menu2_4.png)center center no-repeat; position:absolute; left:77px; top:20px; }

#lnb .bottom { display:none; position:relative; width:100%; z-index:99999; }
#lnb .bottom .topmenu { position:relative; padding:10px 30px 5px 0; border-top:1px solid #06a9b7; }
#lnb .bottom .topmenu > ul { text-align:center; }
#lnb .bottom .topmenu > ul > li { position:relative; display:inline-block; margin:0 0 0 22px; color:#5e636c;font-size:12px; line-height:12px; text-align:center; vertical-align:bottom; }
#lnb .bottom .topmenu > ul > li > a { position:relative; display:block;}
#lnb .bottom .topmenu > ul > li:first-child { margin:0 -8px -10px 0; width:50px; text-align:center; }
#lnb .bottom .topmenu > ul > li > a img { vertical-align:middle; display:inline-block; }
#lnb .bottom .topmenu > ul > li > span { position:absolute; right:-8px; top:-7px; padding:3px 6px; background-color:#fc1656; font-size:10px; line-height:10px; color:#fff;font-weight:500; border-radius:20px;}
#lnb .bottom .topmenu .infobox { display:none; position:absolute; left:50%; bottom:36px; transform:translateX(-50%); background-color:#5e636c; border-radius:8px; }
#lnb .bottom .topmenu .infobox:after { content:''; display:block; position:absolute; bottom:-7px; left:50%; transform:translateX(-50%);  border-top:7px solid #5e636c; border-right:6px solid transparent; border-left:6px solid transparent; }
#lnb .bottom .topmenu .infobox .box { padding:20px 24px 21px 24px; min-width:156px; text-align:left; }
#lnb .bottom .topmenu .infobox .box.box_txt { padding:12px 12px; min-width:auto; white-space:nowrap; color:#fff; font-size:13px; }
#lnb .bottom .topmenu .infobox .box p { color:#06a9b7;font-size:14px; line-height:14px; font-weight:400; }
#lnb .bottom .topmenu .infobox .box > ul > li { margin:5px 0 0 0; color:#fff;font-size:14px; line-height:14px; font-weight:100; }
#lnb .bottom .topmenu .infobox .box > ul > li > a { color:#fff;font-size:14px; line-height:14px; font-weight:100; }

@media screen and (max-width:1024px){
	#lnb { position:fixed; right:-350px; top:0; bottom:0; left:auto; z-index:99999; transition:all 0.4s ease-in-out; overflow-y:auto; height:100%; box-shadow:5px 0 8px 5px #252d3a; }
	#lnb .bg { display:none; }
	#lnb.on .bg { display:block; background:rgba(255,255,255,.01); width:100%; height:100%; }
	#lnb .m_box {  min-height:100%; clear:both; margin-bottom:-50px; }
	#lnb .leftmenu { padding:0 0 70px 0; }
	#lnb .bottom { display:block; }
}
@media screen and (max-width:768px){
}

#btn_menu { display:none; position:absolute; right:30px; top:50%; width:30px; z-index:999; margin-top:-10px; }
#btn_menu:before, 
#btn_menu:after,
#btn_menu span { content:''; display:block; height:1px; background:#000; }
#btn_menu span { width:auto; margin:10px 0 10px 8px; }
#m_close { display:none; position:absolute; right:15px; top:25px; z-index:999999; width:30px; height:30px; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }
#m_close:before { content:''; display:block; width:100%; height:1px; margin:15px 0; background:#a89704; }
#m_close:after { content:''; display:block; position:absolute; left:0; right:0; top:0; bottom:0; width:1px; margin:0 auto; background:#a89704; }

#contents { position:relative; margin-left:330px; height:100%; }
#contents .header { position:relative; height:79px; border-bottom:1px solid #ccd0d4; z-index:9; }
#contents .header .logo { padding:14px 0 0 48px; }
#contents .header .logo img { display:block; }
#contents .header .topmenu { position:absolute; right:45px; top:31px; }
#contents .header .topmenu > ul > li { position:relative; float:left; margin:0 0 0 42px; color:#5e636c;font-size:14px; line-height:14px; }
#contents .header .topmenu > ul > li > a { position:relative; display:block; }
#contents .header .topmenu > ul > li > a img { vertical-align:middle; }
#contents .header .topmenu > ul > li span { position:absolute; right:-8px; top:-7px; padding:3px 6px; background-color:#fc1656; font-size:10px; line-height:10px; color:#fff;font-weight:500; border-radius:20px;}
#contents .header .topmenu .logout { margin-top:-1px; }
#contents .header .topmenu .logout img { margin:0 8px 0 0; }
#contents .header .topmenu .notice { margin:0 0 0 36px; }
#contents .header .topmenu .email { margin:0 0 0 38px; }
#contents .header .topmenu .setting { margin:0 0 0 39px; }
#contents .header .topmenu .infobox { display:none; position:absolute; left:50%; top:36px; transform:translateX(-50%); background-color:#5e636c; border-radius:8px; }
#contents .header .topmenu .infobox:after { content:''; display:block; position:absolute; top:-7px; left:50%; transform:translateX(-50%);  border-bottom:7px solid #5e636c; border-right:6px solid transparent; border-left:6px solid transparent; }
#contents .header .topmenu .infobox .box { padding:20px 24px 21px 24px; min-width:156px; text-align:left; }
#contents .header .topmenu .infobox .box.box_txt {  padding:12px 15px; min-width:auto; white-space:nowrap; color:#fff; font-size:14px; }
#contents .header .topmenu .infobox .box p { color:#06a9b7;font-size:14px; line-height:14px; font-weight:400; }
#contents .header .topmenu .infobox .box > ul > li { margin:8px 0 2px 0; color:#fff; font-size:14px; line-height:14px; font-weight:100; }
#contents .header .topmenu .infobox .box > ul > li > a { color:#fff;font-size:14px; line-height:14px; font-weight:100; }


@media screen and (max-width:1200px){
	#contents .header .topmenu { right:35px; }
	#contents .header .topmenu > ul > li { margin:0 0 0 30px; }
	#contents .header .topmenu .notice { margin:0 0 0 30px; }
	#contents .header .topmenu .email { margin:0 0 0 30px; }
	#contents .header .topmenu .setting { margin:0 0 0 30px; }
	#contents .header .logo { padding:14px 0 0 35px; }
}
@media screen and (max-width:1024px){
	#btn_menu { display:block; }
	#m_close { display:block; }
	#contents { margin-left:0; }
	#contents .header { position:fixed; top:0; left:0; right:0; width:100%; background-color:#e7ebee; z-index:999; }
	#contents .header .topmenu { display:none; }
	#lnb .leftmenu ul.nav li:nth-child(1) a { padding-left:60px; width:165px; }
	#lnb .leftmenu ul.nav li:nth-child(1) a:before { left:35px; top:19px; }
	#lnb .leftmenu ul.nav li:nth-child(1) a.active { padding-left:60px; width:165px; }
	#lnb .leftmenu ul.nav li:nth-child(2) a { padding-left:70px; width:165px; }
	#lnb .leftmenu ul.nav li:nth-child(2) a:before { left:45px; top:19px; }
	#lnb .leftmenu ul.nav li:nth-child(2) a.active { padding-left:70px; width:165px; }
	#lnb .leftmenu ul.nav li:nth-child(2) a.active:before { left:45px; top:19px; }
}
@media screen and (max-width:768px){
	#contents .header .topmenu { right:25px; }
	#contents .header .topmenu > ul > li { margin:0 0 0 25px; }
	#contents .header .topmenu .notice { margin:0 0 0 25px; }
	#contents .header .topmenu .email { margin:0 0 0 25px; }
	#contents .header .topmenu .setting { margin:0 0 0 25px; }
	#contents .header .logo { padding:14px 0 0 25px; }
}
@media screen and (max-width:640px){
	#contents .header .topmenu { right:20px; }
	#contents .header .logo { padding:14px 0 0 20px; }
	#lnb .topbox { height:200px; }
	#lnb .topbox .info .thumb span { padding:5px; }
	#lnb .topbox .info .thumb span > img { width:76px; height:76px; }
	#lnb .topbox .info .txt_1 { margin:8px 0 0 0; font-size:16px; }
	#lnb .topbox .info .txt_2 { margin:10px 0 0 0; }
	#lnb .leftmenu ul.nav li a { padding:18px 0;font-size:16px; }
	#lnb .leftmenu ul.menu > li > a { display:block;padding:14px 0 0 84px; height:48px; font-size:17px; line-height:17px; }
	#lnb .leftmenu ul.menu > li > ul > li:first-child { border-top:none; }
	#lnb .leftmenu ul.menu > li > ul > li > a { padding:12px 0 0 100px; height:46px; font-size:15px; line-height:15px; }
	#lnb .leftmenu ul.menu > li > ul > li > a:after { left:85px; top:18px; }
	#lnb .leftmenu ul.menu > li > ul > li.on > a:before { right:25px; top:16px; }
	#lnb #Operation ul.menu > li:nth-child(1):before { left:54px; top:16px; }
	#lnb #Operation ul.menu > li:nth-child(2):before { left:54px; top:13px; }
	#lnb #Operation ul.menu > li:nth-child(3):before { left:54px; top:16px; }
	#lnb #Operation ul.menu > li:nth-child(4):before { left:54px; top:13px; }
	#lnb #Operation ul.menu > li:nth-child(5):before { left:54px; top:15px; }
	#lnb #Setting ul.menu > li:nth-child(1):before { left:54px; top:16px; }
	#lnb #Setting ul.menu > li:nth-child(2):before { left:53px; top:16px; }
	#lnb #Setting ul.menu > li:nth-child(3):before { left:51px; top:15px; }
	#lnb #Setting ul.menu > li:nth-child(4):before { left:54px; top:16px; }
}

/* container */
#container { min-height:100%; clear:both; margin-bottom:-78px; }
#container .contbox { padding:32px 45px 140px 45px; min-height:750px; }

@media screen and (max-width:1200px){
	#container .contbox { padding:28px 35px 120px 35px; }
}
@media screen and (max-width:1024px){
	#container .contbox { padding:100px 35px 120px 35px; }
}
@media screen and (max-width:768px){
	#container .contbox { padding:90px 25px 120px 25px; }
}
@media screen and (max-width:640px){
	#container .contbox { padding:88px 20px 120px 20px; }
}


/* color */
.color_b { color:#06a9b7; }
.color_y { color:#ffc800; }
.color_r { color:#fc1656; }
.color_g { color:#5e636c; }
.bgbox_b { background-color:#06a9b7; }
.bgbox_y { background-color:#ffc800; }
.bgbox_r { background-color:#fc1656; }
.bgbox_g { background-color:#5e636c; }


/* select */
.nice-select { background-color:#fff; border-radius:5px; border:none; background-color:#e7ebee; box-sizing:border-box; cursor:pointer; display:inline-block; vertical-align:middle; color:#5e636c; font-weight:300; font-size:15px; height:38px; line-height:38px; outline:none; padding:0 28px 0 15px; position:relative; text-align:left !important; -webkit-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out; white-space:nowrap; }
.nice-select .current { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; width:100%; }
.nice-select.white { border:1px solid #e1e1e1; background-color:#fff; }
.nice-select.pline { border:1px dashed #ccc; }
.nice-select:active, .nice-select.open, 
.nice-select:focus { border:none; }
.nice-select.white:active, 
.nice-select.white.open, 
.nice-select.white:focus { border:1px solid #e1e1e1; }
.nice-select.pline:active, 
.nice-select.pline.open, 
.nice-select.pline:focus { border:1px dashed #ccc; }
.nice-select:after { content:''; display:block; pointer-events:none; width:10px; height:9px; background:url(../img/contents/icon_down_sel.png) center center no-repeat; position:absolute; right:12px; top:50%; transform:translateY(-50%) rotate(0deg); transition:all 0.15s ease-in-out; }
.nice-select.open:after { transform:rotate(-180deg); margin-top:-5px; }
.nice-select.open .list { opacity:1; pointer-events:auto; transform:scale(1) translateY(0); }
.nice-select.disabled:after { border-color:#cccccc; }
.nice-select .list { text-align:left; background-color:#fff; border-radius:5px; width:100%; border:1px solid #e1e1e1; box-sizing:border-box; margin:0; padding:0; color:#5e636c; font-weight:300; font-size:15px; opacity:0; overflow:hidden; pointer-events:none; position:absolute; top:100%; left:0; transform-origin:50% 0; transform:scale(0.8) translateY(0); transition:all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out; z-index:9; }
.nice-select .list:hover .option:not(:hover) { background-color:transparent !important; }
.nice-select .option { cursor:pointer; color:#5e636c; font-weight:300; font-size:15px; width:100%; line-height:38px; min-height:38px; outline:none; margin:0 !important; padding:0 14px !important; text-align:left !important; transition:all 0.2s; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.nice-select .option:hover, 
.nice-select .option.focus, 
.nice-select .option.selected.focus { background-color:#f6f6f6; }
.nice-select .option.selected { font-weight:400; }
.nice-select .option.disabled { background-color:transparent; color:#999; cursor:default; }
.no-csspointerevents .nice-select .list { display:none; }
.no-csspointerevents .nice-select.open .list { display:block; }


#footer { position:relative; border-top:1px solid #d8dde1; text-align:center; height:77px; }
#footer .txt { color:#5e636c;font-size:14px; line-height:14px; font-weight:200; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); }
#footer .btn_top { position:absolute; right:34px; top:50%; transform:translateY(-50%); }
#footer .btn_top a { position:relative; display:block; width:46px; height:46px; border-radius:100px; background-color:#5e636c; }
#footer .btn_top a:before { content:''; display:block; width:11px; height:20px; background:url(../img/contents/btn_top.png) center center no-repeat; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
#footer .btn_top a span  { overflow:hidden; text-indent:-9999em; display:block; }
