@charset "utf-8";
@import url("base.css");
@import url("jquery.scrollbar.css");

html, body { height:100%; }

body.bg_login{ width:100%; height:100%; background-position:center top; background-repeat:no-repeat; background-size:cover; background-image:url(../img/common/bg_login.jpg); transition:all 0.4s ease-in-out; }
.loginarea { position:relative; height:100%; min-height:800px; }
.logintop { position:relative; height:calc(100% - 30%); }
.loginbox { position:absolute; z-index:3; right:250px; top:50%; transform:translateY(-52%); }
.loginbox .loginlogo { text-align:center; padding:0; }
.loginbox .title { text-align:center; padding:30px 0 0 0; color:#fff; font-size:21px; font-weight:800; line-height:22px; text-transform: uppercase; font-family: 'Nanum Myeongjo', sans-serif; }
.loginbox .title span { font-size:35px; font-family: 'Nanum Myeongjo', sans-serif; font-weight:800; }
.loginbox .ipbox { padding:35px 0 0 0; width:500px; }
.loginbox .ipbox li { position:relative; margin:30px 0 0 0; background-color:rgba(255,255,255, .13); border-radius:7px; }
.loginbox .ipbox li label { position:absolute; left:-150px; top:20px; text-align:right; color:#fff; width:120px; font-size:18px; display:inline-block; }
.loginbox .ipbox li input[type="text"],
.loginbox .ipbox li input[type="password"] { width:100%; height:63px; padding:20px 30px; border:none; font-size:18px; font-weight:200; color:#fff; outline:none; background:none;}
.loginbox .ipbox li ::-webkit-input-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li :-moz-input-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li ::-moz-input-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li :-ms-input-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li ::-webkit-select-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li :-moz-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li ::-moz-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox li :-ms-select-placeholder { color:rgba(255,255,255, .8); opacity:1; }
.loginbox .ipbox .ch { margin:13px 0 0 0; }
.loginbox .ipbox .ch label { color:#fff; font-size:16px; line-height:14px; display:inline-block; }
.loginbox .ipbox .ch input[type="checkbox"]{display:none}
.loginbox .ipbox .ch input[type="checkbox"] + label span{ display:inline-block; margin:-1px 10px 0 0; width:18px; height:18px; vertical-align:middle; background:url(../img/common/btn_ch_off.png)center center no-repeat; }
.loginbox .ipbox .ch input[type="checkbox"]:checked + label span { background:url(../img/common/btn_ch_on.png) center center no-repeat; }
.loginbox .ipbox .btnbox { margin:24px 0 0 0; font-size:10px; color:#4e4e4e; font-weight:500; }
.loginbox .ipbox .btnbox:after {content:""; display:block; visibility:hidden; clear:both; height:0; }
.loginbox .ipbox .btnbox span { letter-spacing:-2px; width:1px; overflow:hidden; font-size:10px; height:10px; display:inline-block; background-color:#fff; }
.loginbox .ipbox .btnbox .btn_pw { float:left; padding:27px 0 0 12px; font-size:16px; color:#fff; font-weight:200; }
.loginbox .ipbox .btnbox .btn_pw a { font-weight:200; color:#fff; display:inline-block; margin:0 12px 0 12px; }
.loginbox .ipbox .btnbox .btn_pw a:first-child { margin-left:0; }
.loginbox .ipbox .btnbox  button.btn_login { float:right; cursor:pointer; width:180px; padding:20px 0; height:63px; line-height:23px; border:none; font-size:22px; font-weight:300; color:#fff;  outline:none; border-radius:5px; background-color:#06a9b7; }
.login_footer { position:absolute; width:100%; height:30%; background-color:rgba(0,0,0, .33); font-size:12px; }
.login_footer .infobox { position:absolute; z-index:3; right:250px; top:40%; transform:translateY(-40%); width:500px; color:#fff; }
.login_footer .infobox .tit { font-size:20px; line-height:20px; color:#14d4e5; font-weight:300; }
.login_footer .infobox .linkbox { margin:25px 0 0 0; }
.login_footer .infobox .linkbox p { color:#fff; font-size:15px; font-weight:300; padding:0 0 4px 0; }
.login_footer .infobox .linkbox a { color:#ccc; font-size:15px; font-weight:200; }
.login_footer .infobox .listbox:after {content:""; display:block; visibility:hidden; clear:both; height:0; }
.login_footer .infobox .listbox .linkbox { float:left; }
.login_footer .infobox .listbox .linkbox:first-child { width:255px; }

@media screen and (max-height:768px){
	body.bg_login{ background-size:initial; } 
}
@media screen and (max-width:1400px){
	.loginbox { right:100px; }
	.login_footer .infobox { right:100px; }
}
@media screen and (max-width:1200px){
		body.bg_login{ background-image:url(../img/common/bg_login_s.jpg); } 
}
@media screen and (max-width:1024px){
	.loginarea { min-height:768px; }
	.loginbox { right:60px; }
	.loginbox .ipbox { padding:35px 0 0 0; width:480px; }
	.loginbox .ipbox li { position:relative; margin:18px 0 0 0; }
	.loginbox .ipbox li label { left:-140px; top:16px; }
	.loginbox .ipbox li input[type="text"],
	.loginbox .ipbox li input[type="password"] { width:100%; height:53px; padding:20px 20px; }
	.loginbox .ipbox .btnbox .btn_pw { float:left; padding:18px 0 0 0; }
	.loginbox .ipbox .btnbox  button.btn_login { width:130px; padding:15px 0; height:53px; }
	.login_footer .infobox { right:60px; width:480px; }
	.login_footer .infobox .linkbox { margin:20px 0 0 0; }
}
@media screen and (max-width:640px){
	body.bg_login{ background-size:auto; background-image:url(../img/common/bg_login_m.jpg);} 
	.loginarea { position:relative; height:100%; min-height:720px; }
	.loginbox { right:auto; width:100%; }
	.loginbox .ipbox { padding:20px 20px 0 20px; width:auto; }
	.loginbox .ipbox li label { display:none; }
	.login_footer .infobox { padding:0 20px; z-index:3; right:auto; width:auto; }
}
@media screen and (max-width:480px){
	.loginarea { position:relative; height:100%; min-height:650px; }
	.logintop { position:relative; height:calc(100% - 240px); }
	.loginbox { position:relative; z-index:3; right:auto; top:0; padding:40px 0 0 0;  transform:translateY(0); }
	.loginbox .loginlogo { width:98px; margin:0 auto; }
	.loginbox .loginlogo img { width:80%; }
	.loginbox .title { padding:20px 0 0 0; font-size:18px; line-height:18px; }
	.loginbox .title span { font-size:31px; }
	.loginbox .ipbox { padding:15px 20px 0 20px; }
	.loginbox .ipbox li { margin:12px 0 0 0; }
	.loginbox .ipbox li input[type="text"],
	.loginbox .ipbox li input[type="password"] { height:48px; }
	.loginbox .ipbox .btnbox { margin:5px 0 0 0; }
	.loginbox .ipbox .btnbox .btn_pw { float:left; padding:18px 0 0 0; }
	.loginbox .ipbox .btnbox  button.btn_login { width:100px; padding:12px 0; height:45px; line-height:20px; font-size:20px;}
	.login_footer { position:absolute; bottom:0; margin:0 0 0 0; height:240px; }
	.login_footer .infobox { position:relative; width:auto; top:auto; transform:translateY(0); padding:25px 20px; }
	.login_footer .infobox .listbox .linkbox { float:none; clear:both; }
	.login_footer .infobox .listbox .linkbox:first-child { width:auto; }
}
@media screen and (max-width:320px){
	.loginarea { min-height:auto; }
	.logintop { position:relative; height:auto; }
	.loginbox .loginlogo { width:98px; margin:0 auto; }
	.loginbox .loginlogo img { width:70%; }
	.loginbox .title { padding:18px 0 0 0; font-size:16px; line-height:16px; }
	.loginbox .title span { font-size:28px; }
	.login_footer { position:relative; bottom:auto; height:auto; margin:10px 0 0 0; }
	.loginbox .ipbox { padding:10px 20px 0 20px; }
	.loginbox .ipbox .btnbox { margin:15px 0 0 0; padding:0 0 25px 0; }
	.loginbox .ipbox .btnbox span { display:none; }
	.loginbox .ipbox .btnbox .btn_pw { padding:0 0 0 0;  }
	.loginbox .ipbox .btnbox .btn_pw a { display:block; margin:5px 0 0 0; }
}

#popLogin { }
#popLogin .modal-dialog { max-width:100%; width:auto; display:block; top:50%; transform:translateY(-50%);  padding:0 !important; }
#popLogin .modal-content { background:none; border:none; width:1200px; margin:0 auto; padding:0 !important; }
#popLogin .modal-content > div { position:relative; margin:0 !important; padding:0 !important; }
#popLogin .modal-content > div > div { position:relative; width:100%; }
#popLogin .modal-content .wbox { position:relative; width:998px; margin-left:80px; height:598px; }
#popLogin .modal-content .popbox { float:left; display:inline-block; width:455px; height:598px; border:1px solid #e1e1e1; background-color:#fff; border-radius:10px; }
#popLogin .modal-content .popbox.popboxNS { float:right; display:none; }
#popLogin .modal-content .popbox .popcont { padding:40px 35px 0 35px;  }
#popLogin .modal-content .popbox .titlebox .tit { color:#5e636c; font-size:26px; line-height:28px; font-weight:400; }
#popLogin .modal-content .popbox .titlebox .tit span { color:#06a9b7; }
#popLogin .modal-content .popbox .titlebox .txt { margin:10px 0 0 0; color:#8c929c; font-size:16px; font-weight:300; }
#popLogin .modal-content .popbox .cloudlist { margin:20px 0 0 0; padding:9px 10px 10px 10px; background-color:#d5d9df; border-radius:6px; }
#popLogin .modal-content .popbox .cloudlist .listbox { height:128px; overflow:auto; }
#popLogin .modal-content .popbox .cloudlist .listbox .list { cursor:pointer; margin:6px 0 0 0; width:343px; height:61px; background:linear-gradient(to bottom, #fff 70%, #eee); box-shadow:3px 3px 3px 3px #cbcfd5; border-radius:8px; }
#popLogin .modal-content .popbox .cloudlist .listbox .list:nth-of-type(1) { margin:0; }
#popLogin .modal-content .popbox .cloudlist .listbox .list .stit { padding:12px 0 0 28px; color:#5e636c; font-size:18px; line-height:18px; font-weight:500; }
#popLogin .modal-content .popbox .cloudlist .listbox .list .stxt { padding:5px 0 0 28px; color:#8c929c; font-size:14px; line-height:14px; font-weight:300; }
#popLogin .modal-content .popbox .cloudlist .listbox .list.selected { background:linear-gradient(to bottom, #e3f2f4, #d6e4e6); }
#popLogin .modal-content .popbox .addbox { margin:22px 0 0 0; text-align:right; }
#popLogin .modal-content .popbox .addbox .txt { margin:0 28px 0 0; display:inline-block; vertical-align:middle; font-size:15px; color:#5e636c; font-weight:300; }
#popLogin .modal-content .popbox .addbox .txt span { font-weight:500; }
#popLogin .modal-content .popbox .addbox button.btn_add { display:inline-block; vertical-align:middle; cursor:pointer; width:70px; padding:10px 0; line-height:12px; border:none; font-size:12px; font-weight:600; color:#fff; outline:none; border-radius:5px; background-color:#06a9b7; }
#popLogin .modal-content .popbox .add_ipbox { display:none; }
#popLogin .modal-content .popbox .add_ipbox .iplist { margin:13px 0 0 0; min-height:246px; background-color:#f8f9fa; border-radius:6px; text-align:right; }
#popLogin .modal-content .popbox .add_ipbox .iplist ul { padding:7px 10px 0 0; height:170px; }
#popLogin .modal-content .popbox .add_ipbox .iplist li { margin:5px 0 0 0; }
#popLogin .modal-content .popbox .add_ipbox .iplist li label { position:relative; display:inline-block; font-size:16px; color:#5e636c; vertical-align:top; margin:8px 22px 0 0; font-weight:400; }
#popLogin .modal-content .popbox .add_ipbox .iplist li label.chk:before{ content:'*'; display:block; color:#ff0000; position:absolute; right:-12px; top:2px; font-weight:300; }
#popLogin .modal-content .popbox .add_ipbox .iplist li:first-child label { font-weight:500; }
#popLogin .modal-content .popbox .add_ipbox .iplist li input[type="text"],
#popLogin .modal-content .popbox .add_ipbox .iplist li input[type="password"] { display:inline-block; vertical-align:middle;width:calc(100% - 200px); height:37px; padding:12px 14px; border:1px solid #e1e1e1; border-radius:4px; font-size:15px; font-weight:300; color:#5e636c; outline:none; background-color:#fff; }
#popLogin .modal-content .popbox .add_ipbox .iplist li select { display:inline-block; vertical-align:middle;width:calc(100% - 200px); height:37px; padding:0 9px; border:1px solid #e1e1e1; border-radius:4px; font-size:15px; font-weight:300; color:#5e636c; outline:none; background-color:#fff; }
#popLogin .modal-content .popbox .add_ipbox .iplist li textarea { display:inline-block; vertical-align:middle;width:calc(100% - 200px); height:100px; line-height:18px; padding:0 14px; border:1px solid #e1e1e1; border-radius:4px; font-size:15px; font-weight:300; color:#5e636c; outline:none; background-color:#fff; }
#popLogin .modal-content .popbox .add_ipbox .btnbox { margin:18px 10px 0 0; text-align:right; }
#popLogin .modal-content .popbox .add_ipbox .btnbox button { margin:0 0 0 2px; display:inline-block; vertical-align:middle; cursor:pointer; width:135px; padding:12px 0; line-height:16px; border:none; font-size:16px; font-weight:300; color:#fff; outline:none; border-radius:5px; background-color:#999ea7; }
#popLogin .modal-content .popbox .add_ipbox .btnbox button.btn_create { background-color:#06a9b7; }
#popLogin .modal-content .arr { display:none; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:52px; height:52px; border-radius:100px; background-color:#fff; }
#popLogin .modal-content .arr:before{ content:''; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:13px; height:16px; background:url(../img/common/icon_arr.png) center center no-repeat; }
#popLogin .modal-content button.btn_ok { display:none; position:absolute; top:50%; right:0; transform:translateY(-50%); width:100px; height:90px; border:none; font-size:22px; font-weight:300; color:#fff; outline:none; border-radius:9px; background-color:#06a9b7; }

@media screen and (max-width:1270px){
	#popLogin .modal-content { width:998px; }
	#popLogin .modal-content .wbox { width:auto; margin-left:0; height:705px; }
	#popLogin .modal-dialog { top:30%; transform:translateY(-30%); }
	#popLogin .modal-content .arr { top:273px; }
	#popLogin .modal-content button.btn_ok { top:auto; bottom:0; right:auto; left:50%; transform:translate(-50%, 0);  }
}
@media screen and (max-width:1024px){
	#popLogin .modal-body { max-height:650px; height:100%; overflow-y:auto; border-radius:10px; }
	#popLogin .modal-content .wbox { height:650px; }
	#popLogin .modal-content { background:none; border:none; width:475px; }
	#popLogin .modal-content .popbox.popboxNS { float:left; margin:20px 0 0 0 }
	#popLogin .modal-content .arr { border:1px solid #888; transform:rotate(90deg) translate(0, -50%); top:585px; left:50%; margin-left:-52px; }
	#popLogin .modal-content button.btn_ok { top:auto; bottom:-40px; right:auto; left:50%; transform:translate(0, -50%); width:80px; height:80px; margin:0 0 0 -40px; }
	
}
@media screen and (max-width:640px){
	#popLogin .modal-dialog { top:30%; transform:translateY(-30%); }
	#popLogin .modal-body { max-height:540px; }
	#popLogin .modal-content { width:415px;  }
	#popLogin .modal-content .wbox { height:540px; }
	#popLogin .modal-content .popbox { float:none; width:415px; height:500px; margin:0 auto; }
	#popLogin .modal-content .popbox .popcont { padding:25px 20px 0 20px;  }
	#popLogin .modal-content .popbox.popboxNS { float:none; margin:15px 0 0 0 }
	#popLogin .modal-content .popbox .titlebox .tit { font-size:24px; line-height:24px;}
	#popLogin .modal-content .popbox .titlebox .txt { margin:8px 0 0 0; font-size:15px; }
	#popLogin .modal-content .popbox .cloudlist { margin:15px 0 0 0; padding:7px 8px 8px 8px; }
	#popLogin .modal-content .popbox .cloudlist .listbox { height:116px; overflow:auto; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list { margin:5px 0 0 0; width:326px; height:55px; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list .stit { padding:10px 0 0 25px; font-size:16px; line-height:16px; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list .stxt { padding:5px 0 0 25px; font-size:13px; line-height:13px; }
	#popLogin .modal-content .popbox .addbox { margin:15px 0 0 0; }
	#popLogin .modal-content .popbox .addbox .txt { margin:0 24px 0 0; font-size:14px; }
	#popLogin .modal-content .popbox .addbox button.btn_add { width:68px; }
	#popLogin .modal-content .popbox .add_ipbox { display:none; }
	#popLogin .modal-content .popbox .add_ipbox .iplist { margin:10px 0 0 0; min-height:210px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist ul { padding:5px 10px 0 0; height:140px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li { margin:4px 0 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li label { font-size:14px; margin:8px 20px 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li label.chk:before{right:-12px; top:2px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li input[type="text"],
	#popLogin .modal-content .popbox .add_ipbox .iplist li input[type="password"] { width:calc(100% - 170px); height:32px; padding:10px 14px; font-size:14px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li select { width:calc(100% - 170px); height:32px; font-size:14px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li textarea { width:calc(100% - 170px); height:80px; line-height:16px; padding:0 14px; font-size:14px; }
	#popLogin .modal-content .popbox .add_ipbox .btnbox { margin:18px 10px 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .btnbox button { width:125px; padding:12px 0; line-height:14px; font-size:14px;  }
	#popLogin .modal-content .arr { top:480px; }
}

@media screen and (max-width:480px){
	#popLogin .modal-content { width:360px; }
	#popLogin .modal-content .popbox { width:360px; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list {width:286px; }
	#popLogin .modal-content button.btn_ok { width:120px; height:50px; margin:0 0 0 -60px; bottom:-16px; }
}
@media screen and (max-width:320px){
	#popLogin .modal-body { max-height:490px; }
	#popLogin .modal-content { width:280px;  }
	#popLogin .modal-content .wbox { height:490px; }
	#popLogin .modal-content .popbox { float:none; width:280px; height:470px; margin:0 auto; }
	#popLogin .modal-content .popbox .popcont { padding:20px 15px 0 15px;  }
	#popLogin .modal-content .popbox.popboxNS { float:none; margin:10px 0 0 0 }
	#popLogin .modal-content .popbox .titlebox .tit { font-size:18px; line-height:18px;}
	#popLogin .modal-content .popbox .titlebox .txt { margin:5px 0 0 0; font-size:13px; }
	#popLogin .modal-content .popbox .cloudlist { margin:10px 0 0 0; padding:7px 8px 8px 8px; }
	#popLogin .modal-content .popbox .cloudlist .listbox { height:116px; overflow:auto; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list { margin:5px 0 0 0; width:215px; height:55px; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list .stit { padding:12px 0 0 12px; font-size:14px; line-height:14px; }
	#popLogin .modal-content .popbox .cloudlist .listbox .list .stxt { padding:3px 0 0 12px; font-size:12px; line-height:12px; }
	#popLogin .modal-content .popbox .addbox { margin:10px 0 0 0; }
	#popLogin .modal-content .popbox .addbox .txt { margin:0 24px 0 0; font-size:14px; }
	#popLogin .modal-content .popbox .addbox button.btn_add { width:60px; padding:8px 0; }
	#popLogin .modal-content .popbox .add_ipbox { display:none; }
	#popLogin .modal-content .popbox .add_ipbox .iplist { margin:10px 0 0 0; min-height:210px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist ul { padding:5px 10px 0 0; height:140px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li { margin:4px 0 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li label { font-size:12px; margin:8px 14px 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li:first-child label { width:80px; margin:4px 17px 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li label.chk:before{right:-10px; top:2px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li input[type="text"],
	#popLogin .modal-content .popbox .add_ipbox .iplist li input[type="password"] { width:calc(100% - 103px); height:32px; padding:10px 10px; font-size:14px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li select { width:calc(100% - 103px); height:32px; font-size:14px; padding:0 5px; }
	#popLogin .modal-content .popbox .add_ipbox .iplist li textarea { width:calc(100% - 103px); height:80px; line-height:16px; padding:0 10px; font-size:14px; }
	#popLogin .modal-content .popbox .add_ipbox .btnbox { margin:18px 10px 0 0; }
	#popLogin .modal-content .popbox .add_ipbox .btnbox button { width:100px; padding:10px 0; line-height:14px; font-size:14px;  }
	#popLogin .modal-content .arr { top:450px; }
	#popLogin .modal-content button.btn_ok { bottom:-36px; }
}

#required .modal-dialog,
#idpwLost .modal-dialog { max-width:100%; width:auto; display:block; top:50%; transform:translateY(-50%);  padding:0 !important; }
#required .modal-content,
#idpwLost .modal-content { background:none; border:none; width:400px; margin:0 auto; padding:0 !important; }
#required .modal-content > div,
#idpwLost .modal-content > div { position:relative; margin:0 !important; min-height:185px; padding:0 0 20px 0 !important; background-color:#fff; border-radius:10px; text-align:center; }

#required .modal-content .txt { padding:51px 0 0 0; font-size:20px; color:#5e636c; font-weight:300; }
#required .modal-content .btnbox { margin:35px 0 0 0; } 
#required .modal-content .btnbox button { margin:0 0 0 2px; display:inline-block; vertical-align:middle; cursor:pointer; width:145px; padding:12px 0; line-height:18px; border:none; font-size:18px; font-weight:300; color:#fff; outline:none; border-radius:5px; background-color:#06a9b7; }

#idpwLost .modal-content .txt { padding:41px 0 0 0; font-size:16px; color:#5e636c; font-weight:300; }
#idpwLost .modal-content .txt span { display:block; font-size:20px; font-weight:400; padding:0 0 7px 0; }
#idpwLost .modal-content .btnbox { margin:25px 0 0 0; } 
#idpwLost .modal-content .btnbox button { margin:0 0 0 2px; display:inline-block; vertical-align:middle; cursor:pointer; width:145px; padding:12px 0; line-height:18px; border:none; font-size:18px; font-weight:300; color:#fff; outline:none; border-radius:5px; background-color:#06a9b7; }
#idpwLost .modal-content .btnbox button.btn_cancel { background-color:#999ea7; }

@media screen and (max-width:480px){
	#required .modal-content,
	#idpwLost .modal-content { width:300px; }
	#required .modal-content > div,
	#idpwLost .modal-content > div { min-height:170px; }
	
	#required .modal-content .txt { padding:45px 0 0 0; font-size:18px; }
	#required .modal-content .btnbox { margin:30px 0 0 0; } 
	#required .modal-content .btnbox button { width:115px; padding:10px 0; line-height:16px;font-size:16px; }
	#idpwLost .modal-content .txt { padding:36px 0 0 0; font-size:15px; }
	#idpwLost .modal-content .txt span { font-size:18px; }
	#idpwLost .modal-content .btnbox { margin:20px 0 0 0; } 
	#idpwLost .modal-content .btnbox button { width:115px; padding:10px 0; line-height:16px; font-size:16px; }
}
@media screen and (max-width:320px){
	#required .modal-content,
	#idpwLost .modal-content { width:260px; }
	#required .modal-content > div,
	#idpwLost .modal-content > div { min-height:160px; }
	#required .modal-content .btnbox button { width:110px; }
	#idpwLost .modal-content .btnbox button { width:110px; }
}
