{{template "OperationTop" .}}
<div id="lnb">

	<div class="bg"></div>

	<div class="m_box">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		<!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->
	</div>


	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>

</div>
{{template "Header" .}}
{{template "Modal" .}}
<script>

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!-- contents -->
<div class="contbox">

	<div class="titlebox">
		<div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" />Policy / <strong>Threshold</strong></div>
		<div class="location">Home <span>></span> Operation <span>></span> Policy <span>></span>
			<strong>Threshold</strong>
		</div>
	</div>

	<!-- list -->
	<div class="dashboard dashboard_cont">

		<div class="d_box box_m box_w100">
			<div class="titbox">
				<div class="tit initial"><strong>List of Threshold</strong></div>
				<div class="top_info">
					<ul>
						<li>
							<a href="javascript:void(0);">Filter</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('AlertPolicyName', 'monitoringAlertPolicyList')">Name</a>
										</li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('AlertPolicyMeasurement', 'monitoringAlertPolicyList')">Measurement</a>
										</li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('AlertPolicyTargetType', 'monitoringAlertPolicyList')">Target
												Type</a></li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('AlertPolicyEventType', 'monitoringAlertPolicyList')">Alert
												Event Type</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Sort</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="tableSort('monitoringAlertPolicyList', 'Name')">Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('monitoringAlertPolicyList', 'Measurement')">Measurement</a>
										</li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('monitoringAlertPolicyList', 'Target Type')">Target
												Type</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('monitoringAlertPolicyList', 'Alert Event Type')">Alert
												Event Type</a></li>

										<!-- <li><a href="javascript:void(0);">Date</a></li> -->
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Action</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox"
												onClick="addMonitoringAlertPolicy()">Add</a></li>
										<!-- <li><a href="javascript:void(0);">Change</a></li> -->
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist"
												onClick="commonConfirmOpen('DeleteMonitoringAlertPolicy')">Delete</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>


			<div class="ds_cont">

				<div class="dataTable status_list" id="monitoringAlertListTable">
					<table cellpadding="0" cellspacing="0" border="1" summary="" id="monitoringAlertPolicyList">
						<!-- <colgroup>
											<col width="50px"><col width="14%"><col width="16%"><col width="15%"><col width="15%"><col width="15%"><col width=""><col width="60px">
										</colgroup> -->
						<thead>
							<tr>
								<th class="column-50px-chk"><input type="checkbox" name="" value="" id="th_chall"
										title="" /><label for="th_chall"></label></td>
								<th class="column-14percent">Name</th>
								<th class="column-16percent">Measurement</th>
								<th class="column-15percent">Target Type</th>
								<th class="column-15percent">Target ID</th>
								<th class="column-15percent">Alert Event Type</th>
								<th>Alert Event Name</th>
								<!-- <th class="column-60px"></th> -->
							</tr>
						</thead>
						<tbody id="alertList">
							{{ $length := len .MonitoringAlertPolicyList }}
							{{ if eq $length 0 }}
							<tr>
								<td class="overlay hidden" data-th="" colspan="8">No Data</td>
							</tr>
							{{ end }}

							{{range $index, $item := .MonitoringAlertPolicyList}}
							<tr onclick="showMonitoringAlertPolicyInfo('{{$item.AlertName}}');">
								<td class="overlay hidden column-50px-chk" data-th="">
									<input type="hidden" id="alertpolicy_info_{{$index}}" value="{{$item.AlertName}}" />
									<input type="checkbox" name="chk" value="{{$item.AlertName}}" id="raw_{{$index}}"
										title="" />
									<label for="td_ch1"></label> <span class="ov off"></span>
								</td>
								<td class="overlay hidden column-14percent" data-th="Name">{{$item.AlertName}}</td>
								<td class="overlay hidden column-16percent" data-th="Measurement">{{$item.Measurement}}
								</td>
								<td class="overlay hidden column-15percent" data-th="TargetType">{{$item.TargetType}}
								</td>
								<td class="overlay hidden column-15percent" data-th="TargetId">{{$item.TargetID}}</td>
								<td class="overlay hidden column-15percent" data-th="AlertEventType">
									{{$item.AlertEventType}}</td>
								<td class="overlay hidden" data-th="AlertEventName">{{$item.AlertEventName}}</td>
								<!-- <td class="overlay hidden column-60px" data-th="">
													<a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a>
												</td> -->
							</tr>
							{{end}}

						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
	<!-- //list -->

	<!-- Modify Monitoring Alert -->
	<div class="dashboard dashboard_cont server_status" id="monitoringAlertInfoBox">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial"><strong>Threshold Info</strong> [ <span class="stxt" id="thresholdName"></span>
					] </div>
			</div>

			<div class="ds_cont">
				<div class="register_box">

					<div class="top_ipbox">
						<div class="ipbox ipbox1 ipbox2">
							<ul>
								<li>
									<label>Name</label>
									<input type="text" id="dtlMonitoringAlertName" name="dtlMonitoringAlertName"
										value="" placeholder="" class="gray" title="" readonly />
									<!-- <select class="selectbox w1 ">
														<option value="1">Selected Provider</option>
														<option value="2" disabled>Selected disabled</option>
													</select>
													<select class="selectbox w2">
														<option value="1">Selected Region</option>
													</select> -->
								</li>
								<li>
									<label>Measurement</label>
									<input type="text" id="dtlMonitoringAlertMeasure" name="dtlMonitoringAlertMeasure"
										value="" placeholder="" class="gray" title="" readonly />
								</li>
								<li>
									<label>Target Type</label>
									<input type="text" id="dtlMonitoringAlertTargetType"
										name="dtlMonitoringAlertTargetType" value="" placeholder="" class="gray"
										title="" readonly />
								</li>
								<li>
									<label>Target ID</label>
									<input type="text" id="dtlMonitoringAlertTargetID" name="dtlMonitoringAlertTargetID"
										value="" placeholder="" class="gray" title="" readonly />
								</li>
								<li>
									<label>Event Duration</label>
									<input type="text" id="dtlMonitoringAlertEventDuration"
										name="dtlMonitoringAlertEventDuration" value="" placeholder="" class="gray"
										title="" readonly />
								</li>
								<li>
									<label>Metric</label>
									<input type="text" id="dtlMonitoringAlertMetric" name="dtlMonitoringAlertMetric"
										value="" placeholder="" class="gray" title="" readonly />
								</li>
								<li>
									<label>Alert Math Expression</label>
									<input type="text" id="dtlMonitoringAlertAlertMathExpression"
										name="dtlMonitoringAlertAlertMathExpression" value="" placeholder=""
										class="gray" title="" readonly />
								</li>
								<li>
									<label>Alert Threshold</label>
									<input type="text" id="dtlMonitoringAlertAlertThreshold"
										name="dtlregMonitoringAlertAlertThreshold" value="" placeholder="" class="gray"
										title="" readonly />
								</li>
								<li>
									<label>Warn Event Count</label>
									<input type="text" id="dtlMonitoringAlertWarnEventCount"
										name="dtlMonitoringAlertWarnEventCount" value="" placeholder="" class="gray"
										title="" readonly />
								</li>
								<li>
									<label>Critic Event Count</label>
									<input type="text" id="dtlMonitoringAlertCriticEventCount"
										name="dtlMonitoringAlertCriticEventCount" value="" placeholder="" class="gray"
										title="" readonly />
								</li>
								<li>
									<label>Monitoring Alert Event Handler Type</label>
									<input type="text" id="dtlMonitoringAlertEventHandlerModalType"
										name="dtlMonitoringAlertEventHandlerModalType" value="" placeholder=""
										class="gray" title="" readonly />
								</li>
								<li>
									<label>Monitoring Alert Event Handler Name</label>
									<input type="text" id="dtlMonitoringAlertEventHandlerModalName"
										name="dtlMonitoringAlertEventHandlerModalName" value="" placeholder=""
										class="gray" title="" readonly />
								</li>
								<li>
									<label>Monitoring Alert Event Message</label>
									<input type="text" id="dtlMonitoringAlertEventMessage"
										name="dtlMonitoringAlertEventMessage" value="" placeholder="" class="gray"
										title="" readonly />
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox1 ipbox2">
							<ul>
								<li class="reg_2">
									<label>Monitoring Alert Event</label>
									<span class="sbox">
										<select id="selectMonitoringAlertEvent" class="selectbox2 white pline w_ip1"
											required>
											<option value="" selected>Select Alert Event Level</option>
											<option value="ok">OK</option>
											<option value="warning">Warning</option>
											<option value="critical">Critical</option>
										</select>
										<input type="submit" name="" class="btn_search2" value="" title=""
											onclick="searchAlertEvent('selectMonitoringAlertEvent')" />
									</span>
								</li>
								<li class="reg_2">
									<textarea cols="" rows="" placeholder="Monitoring Alert Event List Area"
										id="mAlertEventList" title="" class="gray" title="" readonly></textarea>
									<!-- <input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder="" class="gray" title="" readonly /> -->
								</li>
							</ul>
						</div>
					</div>
					<!-- TODO : tumblebug에 수정 기능 없음. 수정기능 생기면 처리
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_modify">Modify</button> 
										</div>
									</div>
								 	-->
				</div>
			</div>

		</div>

	</div>
	<!-- Modify Monitoring Alert -->

	<!-- Register Monitoring Alert -->
	<div class="dashboard dashboard_cont register_cont" id="CreateBox">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial cg"><strong>Create Threshold</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box reg">

					<div class="top_ipbox">
						<!--
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1">
										            <input type="hidden" id="regRegion" name="" value="" class="pline" title=""/>
                                                    <input type="hidden" id="regCredential" name="" value="" class="pline" title=""/>
                                                    <input type="hidden" id="regDriver" name="" value="" class="pline" title=""/>
                                                </li>
											</ul>
										</div>
										-->
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1">
									<label><span class="ch">*</span>Name</label>
									<input type="text" name="" value="" placeholder="insert a task name" class="pline"
										title="" id="regMonitoringAlertName" />
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Measurement</label>
									<select id="regMonitoringAlertMeasure" class="selectbox2 white pline w_ip1"
										required>
										<option value="" selected>Select Measurement</option>
										<option value="cpu">cpu</option>
										<option value="mem">memory</option>
										<option value="disk">disk</option>
									</select>
									<!-- <input type="text" name="" value="" placeholder="cpu | mem | disk" class="pline" title="" id="regMonitoringAlertMeasure"/> -->
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Target Type</label>
									<select id="regMonitoringAlertTargetType" class="selectbox2 white pline w_ip1"
										required>
										<option value="" selected>Select Target Type</option>
										<option value="NS">NS</option>
										<option value="MCIS">MCIS</option>
										<option value="VM">VM</option>
									</select>
									<!-- <input type="text" name="" value="" placeholder="NS | MCIS | VM" class="pline" title="" id="regMonitoringAlertTargetType"/> -->
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Target ID</label>
									<input type="text" name="" value="" placeholder="insert a target ID (MCIS, Server)"
										class="pline" title="" id="regMonitoringAlertTargetID" />
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Event Duration</label>
									<input type="text" name="" value="" placeholder="insert duration (1m, 5m, ...)"
										class="pline" title="" id="regMonitoringAlertEventDuration" />
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Metric</label>
									<select id="regMonitoringAlertMetric" class="selectbox2 white pline w_ip1" required>
										<option value="" selected>Select Metric</option>
										<option value="usage_utilization">[CPU] usage_utilization</option>
										<option value="used_percent">[Memory] used_percent</option>
										<option value="used_percent">[Disk] used_percent</option>
									</select>
									<!-- <input type="text" name="" value="" placeholder="" class="pline" title="" id=""/> -->
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Alert Math Expression</label>
									<select id="regMonitoringAlertAlertMathExpression"
										class="selectbox2 white pline w_ip1" required>
										<option value="" selected>Select Alert Math Expression</option>
										<option value="equal">equal</option>
										<option value="greater">greater</option>
										<option value="equalgreater">equalgreater</option>
										<option value="less">less</option>
										<option value="equalless">equalless</option>
									</select>
									<!-- <input type="text" name="" value="" placeholder="equal | greater | equalgreater | less | equalless" class="pline" title="" id="regMonitoringAlertAlertMathExpression"/> -->
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Alert Threshold</label>
									<input type="text" name="" value="" placeholder="insert treshold value"
										class="pline" title="" id="regMonitoringAlertAlertThreshold" />
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Warn Event Count</label>
									<input type="text" name="" value="" placeholder="insert count for warning event"
										class="pline" title="" id="regMonitoringAlertWarnEventCount" />
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Critic Event Count</label>
									<input type="text" name="" value="" placeholder="insert count for critical event"
										class="pline" title="" id="regMonitoringAlertCriticEventCount" />
								</li>
								<li class="reg_1">
									<input type="hidden" id="regMonitoringAlertEventType" name="" value="" class="pline"
										title="" />
									<input type="hidden" id="regMonitoringAlertEventName" name="" value="" class="pline"
										title="" />
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1">
									<!-- table class="table_plist" width: 100%; -->
									<div class="iptable_box2">
										<div class="table_plist" style="width:100%;">
											<div class="tit"><label><span class="ch">*</span>Monitoring Alert
													Event-Handler</label></div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal"
													data-target="#Add_MonitoringAlertEventHandler"
													onClick="addMonitoringAlertEventHandler()">write</button>
												<button class="btn_delete" value="" name=""
													onClick="commonConfirmOpen('deleteMonitoringAlertEventHandler')">delete</button>
												<!-- <button class="btn_delete" value="" name="" onClick="deleteMonitoringAlertEventHandler()">delete</button> -->
												<!-- <button class="btn_delete" value="" name="" data-toggle="modal" data-target="#Del_Region">delete</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary=""
													id="maEventHandlerList" style="width: auto;">
													<!-- <colgroup>
																		<col width="50px"><col width="30%"><col width="%">
																	</colgroup> -->
													<thead>
														<tr>
															<th class="column-50px">
																<!--	<input type="checkbox" name="" value="" id="th_chall" title="" />-->
																<label for="th_chall"></label>
																</td>
															<th class="column-30percent">Type</th>
															<th>Name</th>
														</tr>
													</thead>
													<tbody id="monitoringAlertEventHandlerList">
														{{ $length := len .MonitoringAlertEventHandlerList }}
														{{ if eq $length 0 }}
														<tr>
															<td class="overlay hidden" data-th="" colspan="3">No Data
															</td>
														</tr>
														{{ end }}

														{{ range $index, $item := .MonitoringAlertEventHandlerList }}
														<tr>
															<td class="overlay hidden  column-50px" data-th="">
																<input type="hidden"
																	id="monitoringAlertEventHandlerType_info_{{$index}}"
																	value="{{$item.Type}}" />
																<input type="hidden"
																	id="monitoringAlertEventHandlerName_info_{{$index}}"
																	value="{{$item.Name}}" />
																<input type="checkbox" name="chk" value="{{$item.Type}}"
																	id="raw_{{$index}}" title="" />
																<label for="td_ch1"></label> <span
																	class="ov off"></span>
															</td>
															<td class="btn_mtd ovm column-30percent" data-th="Type">{{
																$item.Type }}<span class="ov"></span>
																<!-- <input type="hidden" id="monitoringAlertEventHandler_info_{{ $index }}" value="{{ $item.Type }}"/> -->
															<td class="overlay hidden" data-th="Name">{{ $item.Name }}
															</td>
															<!-- <input type="hidden" id="monitoringAlertEventHandlerName_info_{{ $index }}" value="{{ $item.Name }}"/> -->
														</tr>
														{{ end }}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>



					<div class="top_ipbox">
						<div class="ipbox ipbox1" style="width: 100%;">
							<ul>
								<li class="reg_1">
									<label><span class="ch">*</span>Monitoring Alert Event Message</label>
									<input type="text" name="" value="" placeholder="type event message" class="pline"
										title="" id="regMonitoringAlertEventMessage" />
								</li>
							</ul>
						</div>
					</div>

					<div class="btnbox">
						<div class="btn_center">
							<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button>
							<button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
								onclick="createMonitoringAlertPolicy()">Ok</button>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- //Register Cloud Connection -->

	<!-- Monitoring Alert Event-Handler Modal 로 쪼개짐 -->
	{{template "MonitoringAlertEventHandlerModal" .}}


</div>
<!-- //contents -->

<script src="/assets/js/operation/policies/threshold/monitoringalertpolicymng.js"></script>
{{template "Footer" .}}