{{template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}
		
        <!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->	
		
	</div>
	
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}
				<script>
			
				</script>
				<!-- contents -->
				<div class="contbox">
					<input type="hidden" name="installMonAgent"  value="yes" id="installMonAgent" />
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Manage / <strong>MCIS</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Manage  <span>></span>  <strong>MCIS</strong></div>
					</div>
						
					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox line_none">
								<div class="tit initial">
									<strong>Create MCIS</strong>									
								</div>
								
								<div class="step_box">
									<div class="on">STEP 1 <div class="bar"></div></div>
									<div>STEP 2 <div class="bar"></div></div>
									<div>STEP 3 <div class="bar"></div></div>
								</div>

							</div>
							
							
							<div class="ds_cont">
								
								<div class="area_cont">

									<div class="box">
																				
										<div class="create_box">
											
											<div class="create_top">
											
												<div class="top_ipbox" id="mcisInfobox">
													<div class="ipbox ipbox1">
														<ul>
															<li>
																<label>Name</label>
																<input type="text" name="mcis_name" value="" id="mcis_name" placeholder="Input Name" class="pline ip_1" title="" onkeyup="setMcisValue(this.id, this.value)"/>
															</li>
															<li>
																<label>Description</label>
																<textarea cols="" rows="" id="mcis_desc" placeholder="type Description" name="mcis_desc" class="pline ta_1" title="" onkeyup="setMcisValue(this.id, this.value)"></textarea>
															</li>
														</ul>
													</div>
													<div class="ipbox ipbox2">
														<ul>
															<li>
																<label>Deployment Algorithm</label>
																<select class="selectbox white pline sel_1" name="placement_algo" id="placement_algo" disabled>
																	<option value="">Select Algorithm Name / (ID)</option>
																</select>
															</li>
															<li>
																<div class="btnbox">																	
																	<div class="btn_right">
																		<label>MCIS Import</label>
																		&nbsp;
																		<button name="" type="button" value="" class="btn_co btn_cr_g w95 btn_apply" onclick="displayMcisImportServerFormByImport(true);"><span>Import</span></button> 
																	</div>
																</div>
															</li>

																		
														</ul>
													</div>
												</div>
												
												<!-- servers -->
												<div class="servers_box" id="addVmList">
													<div class="title">Servers</div>
													<div class="switch">
														<span class="txt">Expert 
														<!-- <span class="txt_c on d_none">ON</span>
														<span class="txt_c off ">OFF</span></span> -->
														<label>
															<input type="checkbox" name="consent" class="ch" id="isExpert" />
															<span></span>
														</label>
													</div>
													
													<div class="list">
														<ul id="mcis_server_list">
															
															<li>
																<div class="server server_add" onClick="displayNewServerForm()">
																	<!-- <a href="#">+</a> -->
																	
																</div>
															</li>
														</ul>
													</div>
												</div>
												<!-- //servers -->
												
												<!-- import scripts-->
												<div class="servers_box" id="addMcisByScript" style="display:none;">
													<div class="title">Import MCIS by Script
													&nbsp;|&nbsp;<a href="javascript:void(0);" onclick="displayMcisImportServerFormByImport(true);">Import Mcis Script</a>
													&nbsp;|&nbsp;<a href="javascript:void(0);" onclick="displayMcisImportServerFormByImport(false);">Go to Vm Add</a>
													</div>
													
													<div class="list">
														<p>&nbsp;</p><br><p>&nbsp;</p>
														<input type="hidden" name="mcisImportScript" id="mcisImportScript" />
														
														<div class="svc_ipbox">
															<div class="ipbox ipbox3">
																<textarea  style="width:100%" rows="50" placeholder="Display imported MCIS Script" class="pline ta_1" id="mcisImportScriptPretty" readonly></textarea>																	
															</div>
														</div>												
													</div>
												</div>
												<!-- import scripts-->

												<div class="btnbox">
													<div class="btn_right">
														<button name="" type="button" value="" class="btn_co btn_cr_g w95 btn_apply" onclick="deployMcis();"><span>DEPLOY</span></button> 
													</div>
												</div>
						
												<!-- Simple Server Configuration -->
												{{template "VmConfigureSimple" .}}
												<!-- Simple Server Configuration -->
												
												<!-- New Server Config -->
												{{template "VmConfigureExpert" .}}
												<!-- //New Server Config -->
						
												<!-- Import Server Config -->
												{{template "VmConfigureImport" .}}
												<!-- //Import Server Config -->
												
												{{template "VmAssistPopup" .}}

											</div>
											
										</div>
										
										
									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
				</div>
				<!-- //contents -->

<script src="/assets/js/operation/manages/mcismng/mciscreate.js"></script>                
{{template "Footer" .}}
