{{ template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		{{template "MenuLeft" .}}
		
	</div>
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				<!-- contents -->
				<input type="hidden" id="mcis_id" value='{{ .McisID }}'/>
				<input type="hidden" id="mcis_name" value='{{ .McisName }}'/>
				<input type="hidden" id="vm_id" value=''/>
				<input type="hidden" id="vm_name" value=''/>
				
				<input type="hidden" id="selected_mcis_id" value='{{ .SelectedMcisID }}'/>
				<input type="hidden" id="selected_vm_id"/>

				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Manage / <strong>MCIS</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Manage  <span>></span>  <strong>MCIS</strong></div>
					</div>
					
					
					{{template "McisStatus" .}}				
					
					<!-- list -->
					{{template "McisList" .}}
					<!-- //list -->
					
					<!-- Info -->
					{{template "McisInfo" .}}
					<!-- //Info -->
					
					<script>
						/*
						$(document).ready(function(){
							$('.listbox li').click(function(){
								var contTop = $('.listbox').height();
								var offset = $('#dashboard_detailBox').offset();
								$('html,body,#wrap').animate({scrollTop : offset.top + contTop}, 400);
								return false;
							});
						});	
						*/    	
					</script>
		    	
					<!-- detail -->
					{{template "McisServerInfo" .}}
					<!-- //detail -->
					
				</div>
				<!-- //contents -->

<script type="text/javascript" src="/assets/js/operation/manages/mcismng/mcismng.js"></script>
<script type="text/javascript" src="/assets/js/util/mcislifecycle.js"></script>
{{template "Footer" .}}