{{define "McisDetailInfo"}}
	<!-- detail Info -->
	<div class="ds_cont">
								
		<div class="area_cont">

			<div class="box">
				
				<div class="titbox">
					<div class="tit initial"><strong>Server Detail Info</strong>  <span class="stxt" id="server_detail_info_text">[ Server 2 / mcis-t03 ]</span></div>
					<div class="txt_ip" id="server_detail_info_public_ip_text">Public IP : xxx.xxx.xxx.xxx</div>
					<div class="top_info">
						<div class="switch"><span class="txt">Monitoring</span> 
							<label>
								<input type="checkbox" name="consent" value="" class="ch" title="" id="mcis_detail_info_check_monitoring" /><span></span>
							</label>
						</div>
					</div>
					<script>
						
					</script>
					<!-- Monitoring popup -->
					<!-- TODO : popup은 공통으로-->
					{{ template "VmMonitoringSetPop" }}
					
					
					<!-- //popup Apply -->
					
					
					
				</div>
				
				<div class="tabbox">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Detail" >Detail</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#McisConnection" >Connection</a></li>
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#McisMonitoring" id="Monitoring_tab">Monitoring</a></li>
					</ul>
					
					<div class="tab-content">
						<!-- Detail -->
						{{template "McisDetailView" .}}
						
						<!-- //Detail -->
						
						<!-- Connection -->
						{{template "McisConnectionView" .}}
						
						<!-- //Connection -->
						
						<!-- Monitoring -->
						{{template "McisMonitoring" .}}
						
						<!-- //Monitoring -->
					</div>
					
					<!-- Monitoring view -->
					{{template "McisMonitoringView" .}}
				
					<!-- //Monitoring view -->
					
				</div>
			</div>
			
		</div>
		
	</div>
	<!-- //detail Info -->
{{end}}