{{define "VmAssistPopup"}}
<!-- 
	assist 버튼 클릭시 나타날 popup 

-->
									<!-- OS HW Spec -->
									<div class="modal fade popup_CreateTabBox popup_plineNone" id="OS_HW_Spec_Assist" tabindex="-1" role="dialog" aria-hidden="true">
										
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												
												<div class="modal-body">
													<div class="pop-body">
														
														<div class="pop-cont">
															<div class="ifbox">															
																<div class="ipbox ipbox1">
																	<ul>
																		<li class="txt">Search Spec to select <input type="submit" name="" class="btn_search" value="" title="" onclick="assistFilterSpec()"/></li>
																	</ul>
																</div>
															</div>

															<div class="spec_select_box active" >
																<div class="if_ipbox">
																	
																	<div class="ipbox ipbox2">
																		<ul>
																			<li>
																				<label>Cloud Provider / Region</label>
																				<select class="selectbox white pline sel_2" id="assist_select_provider" onchange="getRegionListFilterAtAssist(this.value, 'assist_select_resion');">
																					<option value="">Selected CP</option>
																					{{ range $cloudItem := .CloudOSList}}	
																					<option value="{{ $cloudItem }}">{{ $cloudItem }}</option>
																					{{ end }}
																				</select>
																				<select class="selectbox white pline sel_2" id="assist_select_resion" onchange="getConnectionListFilterForSelectbox(this.value, 'assist_select_provider', 'assist_select_connectionName');">
																					<option value="">Selected Region</option>
																					{{ range $regionItem := .RegionList}}	
																					<option value="{{ $regionItem.RegionName }}">[{{ $regionItem.ProviderName }}] {{ $regionItem.RegionName }}</option>
																					{{ end }}
																				</select>
																				<select class="selectbox white pline sel_1" id="assist_select_connectionName">
																					<option value="">Selected Connection</option>
																					{{ range $connectionItem := .CloudConnectionConfigInfoList}}	
																					<option value="{{ $connectionItem.ConfigName }}">{{ $connectionItem.ConfigName }} [{{ $connectionItem.ProviderName }}] {{ $connectionItem.RegionName }}</option>
																					{{ end }}
																				</select>
																			</li>
																		</ul>
																	</div>
																</div>

																<div class="spec_box">																	
																	<div class="s_box s_box_1">
																		<ul>
																			<!--  onload 시 $("#ex2").slider({}); 와 같이 slider를 활성화 시켜야 함.
																			<li>
																				<label>vCPU core </label>
																				<div class="slider_ip">
																					<b>Min 10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[50,60]"/> <b>Max 100</b>
																				</div>
																				<span class="stxt">Unit</span>
																			</li>
																			
																			<li>
																				<label>disk volume (min)</label>
																				<div class="s_slider_box">
																					<b>€ 10</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/><b>€ 1000</b>
																				</div>
																			</li>
																			 -->

																			<li>
																				<label>Storage  (min)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="1" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_max_num_storage_min" name="assist_max_num_storage_min" value="1" placeholder="1" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">TiB</span>
																			</li>
																			<li>
																				<label>Storage  (max)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_max_num_storage_max" name="assist_max_num_storage_max" value="100" placeholder="100" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">TiB</span>
																			</li>
																			<li>
																				<label>Core  (min)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_num_core_min" name="assist_num_core_min" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>
																			</li>
																			<li>
																				<label>Core  (max)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_num_core_max" name="assist_num_core_max" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>
																			</li>
																		</ul>
																	</div>
															
																	<div class="s_box s_box_2">
																		<ul>
																			<li>
																				<label>vCPU (min)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_num_vCPU_min" name="assist_num_vCPU_min" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>
																			</li>
																			<li>
																				<label>vCPU (max)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="10" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_num_vCPU_max" name="assist_num_vCPU_max" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>
																			</li>
																			
																			<li>
																				<label>ebs bandwidth (min)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_ebs_bw_Mbps_min" name="assist_ebs_bw_Mbps_min" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Mbps</span>
																			</li>
																			<li>
																				<label>ebs bandwidth (max)</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" id="assist_ebs_bw_Mbps_max" name="assist_ebs_bw_Mbps_max" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Mbps</span>
																			</li>
																			<!-- <li>
																				<label class="l_a">GPU</label>
																				<span class="a_link"><a href="javascript:void(0);" data-toggle="modal" data-target="#OS_HW_Spec_Select" class="btn_select">Select</a></span>
																			</li> -->
																		</ul>
																	</div>
																	
																</div>
																
															</div>																	
															
															<div class="stit">select Server Spec</div>
															<input type="hidden" id="assist_vmSpec_id"/>
															<input type="hidden" id="assist_vmSpec_specName"/>
															<input type="hidden" id="assist_vmSpec_cspSpecName"/>
															<input type="hidden" id="assist_vmSpec_connectionName"/>
															<input type="hidden" id="assist_vmSpec_info"/>
																														
															<!-- table scrollbar -->
															<div class="dtbox scrollbar-inner">
																<div class="dataTable dt_overlay">
																	<table cellpadding="0" cellspacing="0" border="1" summary="">
																		<colgroup><col width="14%"><col width="14%"><col width="13%"><col width="14%"><col width="14%"><col width=""><col width="15%"></colgroup>
																		<thead>
																			<tr>
																				<th>spec ID</th>
																				<th>spec Name</th>
																				<th>Connection Name</th>
																				<th>region</th>
																				<th>OS type</th>
																				<th>Cpu / core / mem / disk</th>
																				<th>Description</th>
																			</tr>
																		</thead>
																		<tbody id="assist_specList">

																			<!-- <tr>
																				<td class="btn_mtd" data-th="spec ID">aws-spec01 <span class="ov off"></span></td>
																				<td class="overlay hidden" data-th="spec Name">aws-spec01</td>
																				<td class="overlay hidden" data-th="CP">AWS</td>
																				<td class="overlay hidden" data-th="region">ap-northeast-1</td>
																				<td class="overlay hidden" data-th="os type">Amazon Linux</td>
																				<td class="overlay hidden" data-th="Cpu / core / mem / disk"></td>
																				<td class="overlay hidden" data-th="description"></td>
																			<tr>
																			</tr>
																				<td class="btn_mtd" data-th="spec ID">aws-spec02 <span class="ov off"></span></td>
																				<td class="overlay hidden" data-th="spec Name">aws-spec02</td>
																				<td class="overlay hidden" data-th="CP">AWS</td>
																				<td class="overlay hidden" data-th="region">ap-northeast-1</td>
																				<td class="overlay hidden" data-th="os type">Windows</td>
																				<td class="overlay hidden" data-th="Cpu / core / mem / disk"></td>
																				<td class="overlay hidden" data-th="description"></td>
																			<tr>
																			</tr>
																				<td class="btn_mtd" data-th="spec ID">azure-spec01 <span class="ov off"></span></td>
																				<td class="overlay hidden" data-th="spec Name">azure-spec01</td>
																				<td class="overlay hidden" data-th="CP">AZURE</td>
																				<td class="overlay hidden" data-th="region">ap-north-1</td>
																				<td class="overlay hidden" data-th="os type">Other Linux</td>
																				<td class="overlay hidden" data-th="Cpu / core / mem / disk"></td>
																				<td class="overlay hidden" data-th="description"></td>
																			<tr>
																			</tr>
																				<td class="btn_mtd" data-th="spec ID">gcp-spec01 <span class="ov off"></span></td>
																				<td class="overlay hidden" data-th="spec Name">gcp-spec01</td>
																				<td class="overlay hidden" data-th="CP">GCP</td>
																				<td class="overlay hidden" data-th="region">ap-east-1</td>
																				<td class="overlay hidden" data-th="os type">Other Linux</td>
																				<td class="overlay hidden" data-th="Cpu / core / mem / disk"></td>
																				<td class="overlay hidden" data-th="description"></td>
																			</tr> -->
																		</tbody>
																	</table>
																</div>
															</div>
															<!-- //table scrollbar -->
															
														</div>
														
													</div>
													
													<div class="btnbox">
														<div class="btn_right">
															<button name="" value="" class="btn_apply btn_co btn_cr_g" onclick="applyAssistSpec()"><span>Apply</span></button> 
															<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
														</div>
													</div>
													
												</div>
												
											</div>
										</div>
										
									</div>
									<!-- //OS HW Spec -->												
									
									<!-- OS HW Spec select -->
									<div class="modal fade popup_CreateTabBox popup_CreateTabBox_s" id="OS_HW_Spec_Select" tabindex="-1" role="dialog" aria-hidden="true">
										
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												
												<div class="modal-body">
													<div class="pop-body">
														
														<div class="pop-cont">
															<div class="ifbox">
																<div class="title">GPU</div>
																<div class="if_ipbox">
																	<div class="ipbox ipbox1">
																		<ul>
																			<li>
																				<label>GPU Mode</label>
																				<select class="selectbox white pline sel_1">
																					<option value="1">Input Name</option>
																				</select>
																			</li>
																		</ul>
																	</div>
																</div>
																
															</div>
															
															<div class="spec_select_box d_block">
															
																<div class="spec_box">
																	
																	<div class="s_box s_box_1">
																		<ul>
																			<li>
																				<label>vCPU core min</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>																				
																			</li>
																			<li>
																				<label>vCPU core max</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>																				
																			</li>
																		</ul>
																	</div>
																	
																	<div class="s_box s_box_2">
																		<ul>
																			<li>
																				<label>GPU memory</label>
																				<div class="s_slider_box">
																					<div class="slider_ip">
																						<button class="btn_s btn_s_minus">-</button>
																						<div>
																							<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" />
																						</div>
																						<button class="btn_s btn_s_plus">+</button>
																					</div>
																					<input type="text" name="" value="1" placeholder="0" class="components_input txt_ipbox" title="" disabled />
																				</div>
																				<span class="stxt">Unit</span>
																			</li>
																		</ul>
																	</div>
																	
																</div>
																
															</div>												
															
															
														</div>
														
													</div>
													
													<div class="btnbox">
														<div class="btn_right">
															<button name="" value="" class="btn_apply btn_co btn_cr_g"><span>Apply</span></button> 
															<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
														</div>
													</div>
													
												</div>
												
											</div>
										</div>
										
									</div>
									<!-- //OS HW Spec select -->
														
									<script src="/assets/js/bootstrap-slider.min.js"></script>			
									<script>
										
										// 추가 수량
										$(".spec_select_box .s_slider_box").each(function(){
											var $Slider_list = $(this);
											var $Slider_div =  $Slider_list.find('.slider_bar');
											var $Numinput =  $Slider_list.find('.components_input');
											var $btn_plus =  $Slider_list.find('.btn_s_plus');
											var $btn_minus =  $Slider_list.find('.btn_s_minus');
											var Slider_bar = $Slider_div.slider({
												//min: 0, max: 10, step: 1, value: 0
											});
											
											// Initialise slider
											$Slider_div.on("slide", function(slideEvt) {
												$Numinput.val(slideEvt.value);
											});
											
											$Slider_div.change(function() {
											$Numinput.val($(this).val());
											});
											
											// Allow input text to change slider on Blur or Enter
											var minSliderValue = $Slider_div.data("slider-min");
											var maxSliderValue = $Slider_div.data("slider-max");
											
											// Blur input
											$Numinput.on("blur", function() {
												var val = Math.abs(parseInt(this.value, 10) || minSliderValue);
												this.value = val > maxSliderValue ? maxSliderValue : val;
												$Slider_div.slider('setValue', val);
											});
											
											// Enter clicked
											$Numinput.keyup(function(e) {
												if (e.which == 13) // Enter key
												$(this).blur();
											});
											
											// Use buttons to increase/decrease
											// Increase
											$btn_plus.click(function() {
												var val = Slider_bar.slider('getValue');
												var step = Slider_bar.slider('getAttribute').step;
												$Numinput.val(val+step);
												Slider_bar.slider('setValue', val+step)
											});
											// Decrease
											$btn_minus.click(function() {
												var val = Slider_bar.slider('getValue');
												var step = Slider_bar.slider('getAttribute').step;
												$Numinput.val(val-step);
												Slider_bar.slider('setValue', val-step)
											});
											
											$('.spec_select_box .btn_clear').click(function() {
												$Slider_div.slider('refresh');
												$Numinput.val(0);
											});
										});
									</script>		
									
									<!-- Network Interface popup -->
									<div class="modal fade popup_CreateTabBox" id="Network_Interface" tabindex="-1" role="dialog" aria-hidden="true">
										
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												
												<div class="modal-body">
													<div class="pop-body">
														
														<div class="pop-cont">
															<div class="ifbox">
																<div class="title">Nic – eth0</div>
																
																<div class="if_ipbox">
																	<div class="ipbox ipbox1">
																		<ul>
																			<li>
																				<label><span class="ch">*</span>Name</label>
																				<select class="selectbox white pline sel_1">
																					<option value="1">Input / select Name</option>
																				</select>
																			</li>
																			<li>
																				<label>Description</label>
																				<textarea  cols="" rows="" placeholder="Input Description" class="pline ta_1" title="" ></textarea>
																			</li>
																		</ul>
																	</div>
																	<div class="ipbox ipbox2">
																		<ul>
																			<li>
																				<label>Private IP</label>
																				<select class="selectbox white pline sel_1">
																					<option value="1">Input / select Name</option>
																				</select>
																			</li>
																			<li>
																				<label>Public IP</label>
																				<select class="selectbox white pline sel_1">
																					<option value="1">Select Zone Name</option>
																				</select>
																			</li>
																		</ul>
																	</div>
																</div>
																
																<div class="if_ipbox if_ipbox_2">
																	<div class="ipbox ipbox1">
																		<ul>
																			<li>
																				<label>Security Group</label>
																				<select class="selectbox white pline sel_1">
																					<option value="">Input / select Name</option>
																					{{ range $securityGroupItem := .SecurityGroupList}}	
																					<option value="{{ $securityGroupItem.ID }}">[{{ $securityGroupItem.ConnectionName }}] {{ $securityGroupItem.Name }} {{ $securityGroupItem.VNetID }}</option>
																					{{ end }}
																				</select>
																			</li>
																		</ul>
																	</div>
																	<div class="ipbox ipbox2">
																		<ul>
																			<li>
																				<label></label>
																				<input type="text" name="" value="" placeholder="" class="gray ip_1" title=""readonly />
																			</li>
																		</ul>
																	</div>
																</div>		
																
																
																<button class="btn_del" name="" value="">del</button>
															</div>
															
															<div class="ifbox">
																<div class="title">Nic – eth1</div>
																
																
																<button class="btn_del" name="" value="">del</button>
															</div>
														</div>
														
													</div>
													
													<div class="btnbox">
														<div class="btn_right">
															<button name="" value="" class="btn_ok btn_co btn_cr_g w135">Ok</button> 
															<button name="" value="" class="btn_cancel btn_co btn_cr_b w135" data-dismiss="modal">Cancel</button> 
														</div>
													</div>
													
												</div>
												
											</div>
										</div>
										
									</div>
									<!-- //Network Interface popup -->
		
									<!-- Security edit popup -->
									<div class="modal fade popup_editBox" id="security_edit" tabindex="-1" role="dialog" aria-hidden="true">
										
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												
												<div class="modal-body">
													<div class="pop-body">
														
														<div class="title_box">
															<div class="title">Firewall RuleSet</div>
														</div>
														
														<div class="pop-cont">
															
															<div class="toptxt topsel">
																<select class="selectbox">
																	<option value="1">Direction</option>
																	<option value="2">IN</option>
																	<option value="3">OUT</option>
																</select>
															</div>
															
															<!-- table scrollbar -->
															<div class="dtbox scrollbar-inner">
																<div class="dataTable dt_overlay">
																	<table cellpadding="0" cellspacing="0" border="1" summary="">
																		<colgroup><col width="17%"><col width="17%"><col width="17%"><col width="17%"><col width=""><col width="100px"></colgroup>
																		<thead>
																			<tr>
																				<th>Type</th>
																				<th>fromPort</th>
																				<th>toPort</th>
																				<th>toProtoco</th>
																				<th>direction</th>
																				<th></th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td class="btn_mtd" data-th="Type">
																					<select class="selectbox white pline">
																						<option value="1">TCP</option>
																						<option value="2">UDP</option>
																					</select>
																					<span class="ov off"></span>
																				</td>
																				<td class="overlay hidden" data-th="fromPort">21</td>
																				<td class="overlay hidden" data-th="toProtocol">33</td>
																				<td class="overlay hidden td_left" data-th="toProtoco">TCP</td>
																				<td class="overlay hidden td_left" data-th="direction">
																					<select class="selectbox white pline">
																						<option value="2">IN</option>
																						<option value="3">OUT</option>
																					</select>
																				</td>
																				<td class="overlay hidden" data-th="">
																					<button class="btn btn_del" name="delInput" value="">del</button>
																				</td>
																			</tr>
																			<tr name="tr_Input">
																				<td class="btn_mtd" data-th="Type">
																					<select class="selectbox white pline">
																						<option value="1">TCP</option>
																						<option value="2">UDP</option>
																					</select>
																					<span class="ov off"></span>
																				</td>
																				<td class="overlay hidden" data-th="fromPort">21</td>
																				<td class="overlay hidden" data-th="toProtocol">33</td>
																				<td class="overlay hidden td_left" data-th="toProtoco">TCP</td>
																				<td class="overlay hidden td_left" data-th="direction">
																					<select class="selectbox white pline">
																						<option value="2">IN</option>
																						<option value="3">OUT</option>
																					</select>
																				</td>
																				<td class="overlay hidden" data-th="">
																					<button class="btn btn_add" value="" name="btn_add">add</button>
																					<button class="btn btn_del" name="delInput" value="">del</button>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<!-- //table scrollbar -->
										
															<script>
																//table row add
																$(document).on("click","button[name=btn_add]",function(){
																	var addStaffText = 
																	'<tr class="ip" name="tr_Input">'+
																		'<td class="btn_mtd" data-th="Type">'+
																				'<select class="selectbox white pline">'+
																					'<option value="1">TCP</option>'+
																					'<option value="2">SSH</option>'+
																				'</select>'+
																		'</td>'+
																		'<td class="overlay" data-th="fromPort"><input type="text" name="" value="" placeholder="" class="pline" title="" /></td>'+
																		'<td class="overlay" data-th="toPort"><input type="text" name="" value="" placeholder="" class="pline" title="" /></td>'+
																		'<td class="overlay" data-th="toProtoco">'+
																				'<select class="selectbox white pline">'+
																					'<option value="1">TCP</option>'+
																					'<option value="2">UDP</option>'+
																				'</select>'+
																		'</td>'+
																		'<td class="overlay" data-th="description">'+
																				'<select class="selectbox white pline">'+
																					'<option value="1">in</option>'+
																					'<option value="2">out</option>'+
																				'</select>'+
																		'</td>'+
																		'<td class="overlay">'+
																			'<button class="btn btn_add" name="btn_add" value="">add</button>'+
																			'<button class="btn btn_del" name="delInput" value="">del</button>'+
																		'</td>'+
																	'</tr>';
																	var trHtml = $( "tr[name=tr_Input]:last" );
																	trHtml.after(addStaffText);
																	$('select').niceSelect();
																});
																$('.dataTable .btn.btn_add').on("click", function() {
																	trHtml.after(addStaffText);
																});
																$(document).on("click","button[name=delInput]",function(){
																	var trHtml = $(this).parent().parent();
																	trHtml.remove();
																});
																
																$(document).on("click","span[name=td_ov]",function(){
																	var trHtml = $(this).parent().parent();
																	trHtml.find(".btn_mtd").toggleClass("over");
																	trHtml.find(".overlay").toggleClass("hidden");
																});
															</script>		
															
															<div class="b_txt"><span class="ch">*</span>  방화벽 RuleSet에 추가할 서버를 정의하고 하단의 <span class="txt">“추가 적용” 버튼</span>을 클릭하여 서버 풀에 추가합니다.</div>
														</div>
														
													</div>
													
													<div class="btnbox">
														<div class="btn_right">
															<button name="" value="" class="btn_apply btn_co btn_cr_g"><span>Apply</span></button> 
															<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
														</div>
													</div>
												</div>
												
											</div>
											
										</div>
																	
									</div>
									<!-- //Security edit popup -->

									<!-- //Import Export popup -->
									<div class="modal fade popup_CreateTabBox" id="VmImportExport" tabindex="-1" role="dialog" aria-hidden="true">
										
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="servers_box">
													<div class="title">Import</div>
													<div class="switch">
														<label><span class="ch">*</span>Import File</label>
														<button onclick="openTextFile()">Open</button>
													</div>
													
													<div class="list">														
														<textarea  cols="120" rows="10" placeholder="Input Description" class="pline ta_1" id="fileContent" ></textarea>
													</div>
												</div>
												
												<div class="servers_box">
													<div class="title">Export</div>
													<div class="switch">
														<label><span class="ch">*</span>Expert File</label>
														<button class="btn_del" name="" onclick="saveVmInfoToFile()">Expert</button>
													</div>
													<div class="list">
														<table>
															<colgroup><col width="15%"><col width=""></colgroup>
															<tr>
																<td>
																	<table cellpadding="0" cellspacing="0" border="1" summary="" id="popVmList">																		
																		<thead>
																			<tr>
																				<th>ServerName </th>
																			</tr>
																		</thead>
																		<tbody>
																			{{range $vmIndex, $vmItem := .VMList}}
																			<tr onclick="exportVmScript('{{ $vmIndex }}')">
																				<td class="btn_mtd" data-th="Cloud Provide">
																					{{$vmItem.Name}}<span class="ov off"></span>
			
																					<input type="hidden" id="p_connectionName_{{ $vmIndex }}" value="{{ $vmItem.ConnectionName }}">
																					<input type="hidden" id="p_description_{{ $vmIndex }}" value="{{ $vmItem.Description }}">
																					<input type="hidden" id="p_imageId_{{ $vmIndex }}" value="{{ $vmItem.ImageID }}">
																					<input type="hidden" id="p_label_{{ $vmIndex }}" value="{{ $vmItem.Label }}">
																					<input type="hidden" id="p_name_{{ $vmIndex }}" value="{{ $vmItem.Name }}">
																					<input type="hidden" id="p_securityGroupIds_{{ $vmIndex }}" value="{{ $vmItem.SecurityGroupIDs }}">
																					<input type="hidden" id="p_specId_{{ $vmIndex }}" value="{{ $vmItem.SpecID }}">
																					<input type="hidden" id="p_sshKeyId_{{ $vmIndex }}" value="{{ $vmItem.SshKeyID }}">
																					<input type="hidden" id="p_subnetId_{{ $vmIndex }}" value="{{ $vmItem.SubnetID }}">
																					<input type="hidden" id="p_vNetId_{{ $vmIndex }}" value="{{ $vmItem.VNetID }}">
			
																					<input type="hidden" id="p_vmGroupSize_{{ $vmIndex }}" value="0"><!-- VM은 Group단위로 만들지 않음. 처음 생성시 동일한 VM을 만들기 위한 변수 임 -->
																					<input type="hidden" id="p_vmUserAccount_{{ $vmIndex }}" value="">
																					<input type="hidden" id="p_vmUserPassword_{{ $vmIndex }}" value="">
																				</td>
																				
																			</tr>
																			{{ end }}
																		</tbody>
																	</table>
																</td>
																<td>
																	<textarea  cols="90%" rows="10" placeholder="Input Description" class="pline ta_1" id="vmExportScript"></textarea>																	
																	<input type=hidden id="exportFileName">
																</td>
															</tr>
														</table>														
														
													</div>													
												</div>
												
												<div class="btnbox">
													<div class="btn_right">														
														<!-- Apply를 클릭하면 VM이 추가 됨. Deploy해야 실제 생성요청들어감.-->
														<button name="" value="" class="btn_cancel btn_co btn_cr_b w135" data-dismiss="modal" onclick="saveVmInfoToFile()">Apply</button> 
														<button name="" value="" class="btn_cancel btn_co btn_cr_b w135" data-dismiss="modal">Close</button> 
													</div>
												</div>
											</div>
										</div>
									
									</div>

									<!-- //Import Export popup -->

									
									<script src="/assets/js/operation/manages/mcismng/vmassistpopup.js"></script>

{{end}}