#!/bin/bash

# GCP
export GCP_PROJECT="your-gcp-project-id"
export GCP_PKEY="-----BEGIN PRIVATE KEY-----\nyour-key=\n-----END PRIVATE KEY-----\n"
export GCP_SA="1111-compute@developer.gserviceaccount.com"

export GCP_REGION="asia-northeast3"
export GCP_ZONE="asia-northeast3-a"

./connectioninfo-create.sh GCP



# AWS
export AWS_KEY="xxxxxxxx"
export AWS_SECRET="yyyyyyyy/zzzzzzzz"

export AWS_REGION="ap-northeast-1"
export AWS_ZONE="ap-northeast-1a"

./connectioninfo-create.sh AWS



# Azure
export AZURE_CLIENT_ID="uuid"
export AZURE_CLIENT_SECRET="uuid"
export AZURE_TENANT_ID="uuid"
export AZURE_SUBSCRIPTION_ID="uuid"

export AZURE_REGION="japaneast" 
export AZURE_RESOURCE_GROUP="mcks-test"

./connectioninfo-create.sh AZURE



# Alibaba
export ALIBABA_KEY="key_id"
export ALIBABA_SECRET="key_secret"

export ALIBABA_REGION="ap-northeast-1"
export ALIBABA_ZONE="ap-northeast-1a"

./connectioninfo-create.sh ALIBABA


# Tencent
export TENCENT_KEY="key_id"
export TENCENT_SECRET="key_secret"

export TENCENT_REGION="ap-seoul"
export TENCENT_ZONE="ap-seoul-1"

./connectioninfo-create.sh TENCENT


# Openstack
export OS_AUTH_URL="http://123.456.789.123:5000/v3"
export OS_USERNAME="mcks"
export OS_PASSWORD="mcks1234"
export OS_USER_DOMAIN_NAME="default"
export OS_PROJECT_ID="1234"

export OS_REGION="RegionOne"
export OS_ZONE="RegionOne"

./connectioninfo-create.sh OPENSTACK
