{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="../img/common/icon_cont.png" alt=""/>About / <strong>NS</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  About  <span>></span>  <strong>NS</strong></div>
					</div>
					
					
				</div>
				<!-- //contents -->

				{{template "Footer" .}}