{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="../img/common/icon_cont.png" alt=""/>Monitoring / <strong>MC-App</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Monitoring  <span>></span>  <strong>MC-App</strong></div>
					</div>
					
					<!-- MC-App -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Monitoring for MC-App</strong></div>
							</div>
							
							<div class="ds_cont">
								
								<div class="monitoring_ipbox">
												
									<div class="monitoring-cont">
										<div class="monitoring_ip">
											<div class="mipbox m_ip1">
									      <select class="selectbox white">
									        <option value="1">Target MC-App for Monitoring</option>
									      </select>
											</div>
											<div class="mipbox m_ip2">
												<ul>
													<li class="mt_1">
														<label>Type</label>
														<span class="sbox_m2">
												      <select class="selectbox white">
												        <option value="1">Select Type(Live, History)</option>
												        <option value="2">Live</option>
												        <option value="3">History</option>
												      </select>
													  	<button name="" value="" class="btn_view">View</button> 
												    </span>
												  </li>
													<li class="mt_2" id="hidden_div">
											      <span class="sbox">
															<label>Duration</label>
															<span class="sel_w1">
																<input type="text" name="" value="" placeholder="" title="" />
													      <select class="selectbox white">
													        <option value="1">Month</option>
													        <option value="2">Day</option>
													        <option value="3">Hour</option>
													        <option value="4">Minute</option>
													      </select>
													    </span>
												    </span>
											      <span class="sbox">
															<label>Period</label>
												      <select class="selectbox white">
												        <option value="1">minutely</option>
												      </select>
												    </span>
													</li>
												</ul>
											</div>
										</div>
										
									</div>
									
								</div>
								
								<script>
									$(document).ready(function() {
									  $('.monitoring_ip .mt_1 .selectbox').change(function(){
									    if (this.value == '2') {
									      $("#hidden_div").hide();
									    } else {
									      $("#hidden_div").show();
									    }
									  });
									});
								</script>
								
								<div class="ds_cont_mbox">
									<div class="m_title">Selected MC-App <span class="stxt">[ App Name ]</span></div>
									
									<div class="mtbox">
										<div class="txtbox">
											<div class="icon_box">
												<div class="img"><img src="../img/contents/icon_running_db.png" alt=""/></div>
												<div class="txt color_b">Running</div>
											</div>
										</div>
										
										<div class="g_list">
											
											<div class="gbox">
												<div class="sel">
													<label>CPUs</label>
										      <select class="selectbox white">
										        <option value="1">Select CPU Item</option>
										      </select>
												</div>
												<div class="graph">
													<img src="../img/contents/img_graph_1.jpg" alt="">
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>Memory</label>
										      <select class="selectbox white">
										        <option value="1">Select Memory Item</option>
										      </select>
												</div>
												<div class="graph">
													<img src="../img/contents/img_graph_2.jpg" alt="">
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>DiskIO</label>
										      <select class="selectbox white">
										        <option value="1">Select DiskIO Item</option>
										      </select>
												</div>
												<div class="graph">
													<img src="../img/contents/img_graph_3.jpg" alt="">
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>Network</label>
										      <select class="selectbox white">
										        <option value="1">Select Network Item</option>
										      </select>
												</div>
												<div class="graph">
													<img src="../img/contents/img_graph_4.jpg" alt="">
												</div>
											</div>
											
										</div>
									</div>
									<script>
										$(document).ready(function() {
											resizeContent();
										});
										$(window).resize(function() {
											resizeContent();
										});
										function resizeContent() {
											$(".g_list .gbox .sel").each(function(){
												var $list =  $(this),
														$label =  $list.find('label'),
														$labelWidth = $label.width(),
														$gboxWidth = $list.width(),
														$selectbox =  $list.find('.selectbox');
												$list.each(function(){
													$selectbox.css({'width':($gboxWidth-$labelWidth-20)+'px'});
												});
											});
										}
									</script>
									
									<div class="mtbox">
										<div class="txtbox">
											<div class="tit">App List</div>
										</div>
										
										<div class="g_list">
											<div class="listbox scrollbar-inner">
												<ul>
													<li class="sel_cr bgbox_g"><a href="javascript:void(0);"><span class="txt">App 1</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 2</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">App 3</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 4</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 5</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 6</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">App 7</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 8</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 9</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 10</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 11</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 12</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">App 13</span></a></li>
													<li class="sel_cr bgbox_r"><a href="javascript:void(0);"><span class="txt">App 14</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 15</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 16</span></a></li>
													<li class="sel_cr bgbox_b"><a href="javascript:void(0);"><span class="txt">App 17</span></a></li>
													<li><span class="txt">App 18</span></li>
													<li><span class="txt">App 19</span></li>
													<li><span class="txt">App 20</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
						
								
								<!-- Monitoring view -->
								<div class="ds_cont_mbox g_detail_view monitoring_view" id="monitoring_viewbox">
									
									<div class="view_ipbox">
													
										<div class="view-cont">
											<div class="view_ip">
												
												<div class="mvbox v_ip1">
													<label>Monitoring Details</label>
										      <select class="selectbox white">
										        <option value="1">Target Servers for Monitoring</option>
										        <option value="2">Target Servers for Monitoring 2</option>
										      </select>
												</div>
												<div class="mvbox v_ip2">
													<ul>
														<li class="mt_1">
															<label>Type</label>
															<span class="sbox_m2">
													      <select class="selectbox white">
													        <option value="1">Select Type(Live, History)</option>
													        <option value="2">Live</option>
													        <option value="3">History</option>
													      </select>
														  	<button name="" value="" class="btn_view">View</button> 
													    </span>
													  </li>
														<li class="mt_2" id="m_hidden_div">
												      <span class="sbox">
																<label>Duration</label>
																<span class="sel_w1">
																	<input type="text" name="" value="" placeholder="" title="" />
														      <select class="selectbox white">
														        <option value="1">Month</option>
														        <option value="2">Day</option>
														        <option value="3">Hour</option>
														        <option value="4">Minute</option>
														      </select>
														    </span>
													    </span>
												      <span class="sbox">
																<label>Period</label>
													      <select class="selectbox white">
													        <option value="1">minutely</option>
													      </select>
													    </span>
														</li>
													</ul>
												</div>
												
											</div>
											
											<div class="view_ip">
												<ul>
													<li class="m4">
														<label>App</label>
														<input type="text" name="" value="" placeholder="" title="" />
													</li>
													<li class="m5 m5_n">
														<label>Items</label>
											      <select class="selectbox white">
											        <option value="1">Select Region</option>
											        <option value="2">Select Region2</option>
											        <option value="3">Select Region3</option>
											        <option value="4">Select Region4</option>
											      </select>
													</li>
												</ul>
											</div>
										</div>
								
										<script>
											$(document).ready(function() {
											  $('.view_ipbox .mt_1 .selectbox').change(function(){
											    if (this.value == '2') {
											      $("#m_hidden_div").hide();
											    } else {
											      $("#m_hidden_div").show();
											    }
											  });
											});
										</script>
										
										<div class="graphbox">
											<img src="../img/contents/img_graphbox_1.jpg" alt="">
										</div>
										
									</div>
								</div>
								<!-- //Monitoring view -->
							
								
							</div>
							
						</div>
						
					</div>
					<!-- //MC-App -->
					
					
				</div>
				<!-- //contents -->
				{{template "Footer" .}}