{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="../img/common/icon_cont.png" alt=""/> Policy / <strong>Monitoring</strong></div>
						<div class="location">Home  <span>></span>  Operation   <span>></span> Policy  <span>></span>  <strong>Monitoring</strong></div>
					</div>


					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Driver</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
														<li><a href="javascript:void(0);">Date</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox">Regist</a></li>
														<li><a href="javascript:void(0);">UnRegist</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="../img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	
							<!-- popup Add -->
							<div class="modal fade layerpopup" id="RegistBox" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to register Monitoring <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok register" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Add -->
	
							<!-- popup Regist -->
							<div class="modal fade layerpopup" id="UnRegist" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to un-register Monitoring <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->
							
							<script>
								$(document).ready(function(){
									$('#RegistBox .btn_ok.register').click(function(){
										$(".dashboard.register_cont").toggleClass("active");
										$(".dashboard.server_status").removeClass("view");
										$(".dashboard .status_list tbody tr").removeClass("on");
									});
								});
							</script>
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup>
											<col width="50px"><col width="16%"><col width="16%"><col width=""><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="100px"><col width="60px">
										</colgroup>
										<thead>
											<tr>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
												<th>Name</th>
												<th>ID</th>
												<th>description</th>
												<th>Default</th>
												<th>Agent<br /> interva</th>
												<th>Collector<br /> interval</th>
												<th>Schedule<br /> interval</th>
												<th>Max host<br /> count</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch1" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Name">VM_Monitoring_policy_01 <span class="ov"></span></td>
												<td class="overlay hidden" data-th="ID">VM_Mon_policy_01</td>
												<td class="overlay hidden td_left" data-th="description">alarm policy for A</td>
												<td class="overlay hidden" data-th="Default">Y</td>
												<td class="overlay hidden" data-th="Agent interva">5</td>
												<td class="overlay hidden" data-th="Collector interva">1</td>
												<td class="overlay hidden" data-th="Schedule interva">1</td>
												<td class="overlay hidden" data-th="Max host count">10</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch2" title="" /><label for="td_ch2"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Name">VM_Monitoring_policy_02 <span class="ov"></span></td>
												<td class="overlay hidden" data-th="ID">VM_Mon_policy_02</td>
												<td class="overlay hidden td_left" data-th="description">alarm policy for B</td>
												<td class="overlay hidden" data-th="Default">N</td>
												<td class="overlay hidden" data-th="Agent interva">5</td>
												<td class="overlay hidden" data-th="Collector interva">1</td>
												<td class="overlay hidden" data-th="Schedule interva">1</td>
												<td class="overlay hidden" data-th="Max host count">10</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch3" title="" /><label for="td_ch3"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Name">VM_Monitoring_policy_03 <span class="ov"></span></td>
												<td class="overlay hidden" data-th="ID">VM_Mon_policy_03</td>
												<td class="overlay hidden td_left" data-th="description">alarm policy for C</td>
												<td class="overlay hidden" data-th="Default">N</td>
												<td class="overlay hidden" data-th="Agent interva">5</td>
												<td class="overlay hidden" data-th="Collector interva">1</td>
												<td class="overlay hidden" data-th="Schedule interva">1</td>
												<td class="overlay hidden" data-th="Max host count">10</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch4" title="" /><label for="td_ch4"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Name">VM_Monitoring_policy_04 <span class="ov"></span></td>
												<td class="overlay hidden" data-th="ID">VM_Mon_policy_04</td>
												<td class="overlay hidden td_left" data-th="description">alarm policy for D</td>
												<td class="overlay hidden" data-th="Default">N</td>
												<td class="overlay hidden" data-th="Agent interva">5</td>
												<td class="overlay hidden" data-th="Collector interva">1</td>
												<td class="overlay hidden" data-th="Schedule interva">1</td>
												<td class="overlay hidden" data-th="Max host count">10</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
								    $("#th_chall").click(function() {
								      if ($("#th_chall").prop("checked")) {
								        $("input[name=chk]").prop("checked", true);
								      } else {
								        $("input[name=chk]").prop("checked", false);
								      }
								    })
										
										$(window).on("load resize",function(){
											var vpwidth = $(window).width();
										  if (vpwidth > 768 && vpwidth < 1800) {
										    $(".dashboard_cont .dataTable").addClass("scrollbar-inner");
										 		$(".dataTable.scrollbar-inner").scrollbar();
										  } else {
										    $(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
										  }
										});
									});
								</script>
								
								
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Monitoring Policy Info</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="rg_chbox"><div class="switch"><span class="txt">* Set Default</span> <label><input type="checkbox" name="consent" value="" class="ch" title="" /><span></span></label></div></div>
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox7">
											<ul>
												<li class="reg_1 reg_4">
													<label>Name</label>
													<input type="text" name="" value="" placeholder="Name" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
									</div>
										
									<div class="top_ipbox bottom_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1 reg_4">
													<label>Agent Interval <span class="txt_sb">(minutely)</span></label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
												<li class="reg_1 reg_4">
													<label>Collector Interva <span class="txt_sb">(minutely)</span></label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_2 reg_4">
													<label>Schedule Interval <span class="txt_sb">(minutely)</span></label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
												<li class="reg_2 reg_4">
													<label>Max Host Count</label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
									</div>
										
									<div class="top_ipbox bottom_ipbox">
										<div class="ipbox ipbox_w">
											<ul>
												<li class="reg_1">
													<label>Monitoring Policy <span class="font-NotoKR">적용 서비스 / 서버</span></label>
													<input type="text" name="" value="" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
									</div>
									
									<!-- 
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_modify">Modify</button> 
										</div>
									</div>
								 	-->
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					
					<!-- Create Monitoring Policy -->
					<div class="dashboard dashboard_cont register_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Create Monitoring Policy</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box reg">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox7">
											<ul>
												<li class="reg_1 reg_4">
													<label>Name</label>
													<input type="text" name="" value="" placeholder="Name" class="pline" title="" />
												</li>
											</ul>
										</div>
									</div>
										
									<div class="top_ipbox bottom_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1 reg_4">
													<label>Agent Interval <span class="txt_sb">(minutely)</span></label>
													<input type="text" name="" value="" placeholder="" class="pline" title="" />
												</li>
												<li class="reg_1 reg_4">
													<label>Collector Interva <span class="txt_sb">(minutely)</span></label>
													<input type="text" name="" value="" placeholder="" class="pline" title="" />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_2 reg_4">
													<label>Schedule Interval <span class="txt_sb">(minutely)</span></label>
													<input type="text" name="" value="" placeholder="" class="pline" title="" />
												</li>
												<li class="reg_2 reg_4">
													<label>Max Host Count</label>
													<input type="text" name="" value="" placeholder="" class="pline" title="" />
												</li>
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Create Monitoring Policy -->

				</div>
				<!-- //contents -->
{{template "Footer" .}}