[submodule "cb-dragonfly"]
	path = cb-dragonfly
	url = https://github.com/cloud-barista/cb-dragonfly.git
[submodule "cb-log"]
	path = cb-log
	url = https://github.com/cloud-barista/cb-log.git
[submodule "cb-mcks"]
	path = cb-mcks
	url = https://github.com/cloud-barista/cb-mcks.git
[submodule "cb-operator"]
	path = cb-operator
	url = https://github.com/cloud-barista/cb-operator.git
[submodule "cb-spider"]
	path = cb-spider
	url = https://github.com/cloud-barista/cb-spider.git
[submodule "cb-store"]
	path = cb-store
	url = https://github.com/cloud-barista/cb-store.git
[submodule "cb-tumblebug"]
	path = cb-tumblebug
	url = https://github.com/cloud-barista/cb-tumblebug.git
[submodule "cb-webtool"]
	path = cb-webtool
	url = https://github.com/cloud-barista/cb-webtool.git
