{{define "McksList"}}
<!-- list -->
<div class="dashboard dashboard_cont">

	<div class="d_box box_m box_w100">
		<div class="titbox">
			<div class="tit initial"><strong>List of MCKS</strong></div>
			<div class="top_info">
				<ul>
					<li>
						<a href="javascript:void(0);">Filter</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li><a href="javascript:void(0);"
											onclick="commonPromptOpen('OprMngMcksStatus', 'mcksListTable')">Status</a>
									</li>
									<li><a href="javascript:void(0);"
											onclick="commonPromptOpen('OprMngMcksName', 'mcksListTable')">Name</a></li>
									<li><a href="javascript:void(0);"
											onclick="commonPromptOpen('OprMngMcksNetworkCni', 'mcksListTable')">NetworkCni</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:void(0);">Sort</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li><a href="javascript:void(0);"
											onclick="tableSort('mcksListTable', 'Status')">Status</a></li>
									<li><a href="javascript:void(0);"
											onclick="tableSort('mcksListTable', 'Name')">Name</a></li>
									<li><a href="javascript:void(0);"
											onclick="tableSort('mcksListTable', 'NetworkCni')">NetworkCni</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="javascript:void(0);">Action</a>
						<div class="infobox">
							<div class="box">
								<ul>
									<li>
										<strong>Manage</strong>
										<ul>
											<li><a href="javascript:void(0);" data-toggle="modal"
													data-target="#MCKS_n_New"
													onClick="changePage('/operation/manages/mcksmng/regform')">New /
													Extend</a></li>
											<li><a href="javascript:void(0);" data-toggle="modal"
													data-target="#MCKS_n_New"
													onClick="commonConfirmOpen('DeleteMcks')">Delete</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt="" /></a></li>
				</ul>
			</div>
		</div>

		<div class="ds_cont">

			<div class="dataTable status_list">
				<table cellpadding="0" cellspacing="0" summary="" id="mcksListTable">
					<!-- <colgroup>
											<col width="">
											<col width="15%">
											<col width="8%">
											<col width="12%">
											<col width="12%">
											<col width="17%">
											<col width="18%">
											<col width="50px">
										</colgroup> -->
					<thead>
						<tr>
							<th class="column-80px">Status</th>
							<th>Name</th>
							<th>Total Infra</th>
							<th>Nodes<span>Control Plane / Worker</span></th>
							<th>NetworkCni</th>
							<th>CpLeader</th>
							<th>Connection</th>
							<th class="column-50px"><input type="checkbox" name="" value="" id="th_chall"
									title="" /><label for="th_chall"></label></td>
						</tr>
					</thead>
					<tbody id="mclsList">
						<!-- //
											// mcis.ID, mcis.status, mcis.name -->
						{{ $length := len .ClusterList }}
						{{ if eq $length 0 }}
						<tr>
							<td class="overlay hidden" data-th="" colspan="8">No Data</td>
						</tr>
						{{ end }}

						{{range $clusterIndex, $clusterItem := .ClusterList}}
						<tr onclick="clickListOfMcks('{{$clusterItem.UID}}', '{{$clusterIndex}}' );"
							id="node_info_tr_{{$clusterIndex}}" item="{{$clusterItem.UID}}|{{$clusterIndex}}">
							<!-- { {$clusterItem} } -->
							<td class="overlay hidden column-80px" data-th="Status">
								<!--													<img src="/assets/img/contents/icon_{{$clusterItem.McksStatus}}.png" class="icon" alt=""/>{{$clusterItem.Status}}<span class="ov off"></span>-->
								<img src="/assets/img/contents/icon_running.png" class="icon"
									alt="" />{{$clusterItem.Status}}<span class="ov off"></span>

							</td>
							<td class="btn_mtd ovm" data-th="Name">{{$clusterItem.Name}}<span class="ov"></span></td>
							<td class="btn_mtd ovm" data-th="TotalNodeCount">{{$clusterItem.TotalNodeCount}}<span
									class="ov"></span></td>
							<td class="btn_mtd ovm" data-th="Name">
								<!-- 													
														map의 Key값에 '-' 이 있는 경우 수식으로 인식하여 에러나는 것 같음.
													{{ $nodeCountMap := $clusterItem.NodeCountMap}}
													{{ $nodeCountMap}} / {{ $nodeCountMap.worker}}
													 -->
								{{ range $key, $value := $clusterItem.NodeCountMap }}
								{{ $key }} ( {{ $value }} ) <br />
								{{ end }}
								<span class="ov"></span>
							</td>
							<td class="btn_mtd ovm" data-th="NetworkCni">{{$clusterItem.NetworkCni}}<span
									class="ov"></span></td>
							<td class="btn_mtd ovm" data-th="CpLeader">{{$clusterItem.CpLeader}}<span class="ov"></span>
							</td>
							<td class="overlay hidden" data-th="Cloud Connection">
								<!-- ClusterConfig: { { $clusterItem.ClusterConfig} } <br> -->
								<!-- Kind: {{ $clusterItem.Kind}} <br> -->
								Mcis : {{ $clusterItem.Mcis}} <br>
							</td>

							<td class="overlay hidden column-50px" data-th="">
								<input type="checkbox" name="chk" value="{{$clusterIndex}}" id="td_ch_{{$clusterIndex}}"
									title="" />
								<label for="td_ch_{{$clusterIndex}}"></label>

								<!--MCKS 기본정보 hidden : 클릭시 보여주기 위해-->
								<input type="hidden" name="mcksUID" value="{{$clusterItem.UID}}"
									id="mcksUID{{$clusterIndex}}" />
								<input type="hidden" name="mcksName" value="{{$clusterItem.Name}}"
									id="mcksName{{$clusterIndex}}" />
								<input type="hidden" name="mcksStatus" value="{{$clusterItem.Status}}"
									id="mcksStatus{{$clusterIndex}}" />
								<input type="hidden" name="mcksConfig" value="{{$clusterItem.ClusterConfig}}"
									id="mcksConfig{{$clusterIndex}}" />
								<input type="hidden" name="mcksNodeTotalCount" value="{{$clusterItem.TotalNodeCount}}"
									id="mcksNodeTotalCount{{$clusterIndex}}" />

								<!-- MCIS의 VM들 이름, ID, 상태-->
								{{range $nIndex, $nodeItem := $clusterItem.Nodes}}
								<input type="hidden" name="nodeUID" id="mcksNodeUID_{{ $clusterIndex}}_{{ $nIndex}}"
									value="{{$nodeItem.NodeUID}}" />
								<input type="hidden" name="nodeName" id="mcksNodeName_{{ $clusterIndex}}_{{ $nIndex}}"
									value="{{$nodeItem.NodeName}}" />
								<input type="hidden" name="nodeKind" id="mcksNodeKind_{{ $clusterIndex}}_{{ $nIndex}}"
									value="{{$nodeItem.NodeKind}}" />
								<input type="hidden" name="nodeRole" id="mcksNodeRole_{{ $clusterIndex}}_{{ $nIndex}}"
									value="{{$nodeItem.NodeRole}}" />
								{{ end }}
							</td>

						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>

		</div>

	</div>

</div>
<!-- //list -->
{{end}}