{{define "McksStatus"}}
					<div class="dashboard">
						<div class="d_box box_m box_1 box_1m">
							<div class="titbox">
								<div class="tit"><strong>Mcks</strong></div>
								<div class="state color_r"></div>
							</div>
					
							<div class="box_cont">
								<div class="lbox">
									<!-- 해당 namespace에 등록 된 MCKS 갯수 및 상태 -->
									<strong id="total_mcis" title="Total count of MCKS">{{ .TotalClusterCount }}</strong>
									<!-- <strong class="txt_3n">999</strong> -->
								</div>
								<div class="rbox">
									
									<div class="numbox" id="mcks_numbox">
										<div class="num bgbox_b"><span title="Running State">{{ .TotalMcksStatusCountMap.RUNNING }}</span></div>
										<div class="num bgbox_r"><span title="Stopped State">{{ .TotalMcksStatusCountMap.STOPPED }}</span></div>
										<div class="num bgbox_g"><span title="Terminated State">{{ .TotalMcksStatusCountMap.TERMINATED }}</span></div>
									</div>
							
									<div class="txt">Status of Clusters</div>
								</div>
							</div>
							
						</div>
						
					
						<div class="d_box box_m box_3 box_2m">
							<div class="titbox">
								<div class="tit"><strong>CP</strong> <span>/</span> connection</div>
								<div class="state color_r"></div>
							</div>
							
							<div class="box_cont">
								<div class="lbox" id="cpConnectionTotal">
									<strong title="Number of Providers" id="providerCount">{{ .TotalProviderCount }}</strong>
									<span>/</span>
									<span title="Number connection" id="connectionCount">{{ .TotalConnectionConfigCount }}</span>
								</div>

								<div class="cbox">
									<div class="tcbox">
										<div class="sc_box scrollbar-inner">
											<ul id="cpConnectionDetail">
												{{ range $key, $value := .ConnectionConfigCountMap }}
												<li class="bg_etc bg_{{$key}}">
													<a href="#!"><span class="conn_cnt">{{ $value }}<div class="conn_tit">{{ $key }}</div></span></a>
													<!-- <a href="#!"><span>{{ $key }} ( {{ $value }} )</span></a> -->
												</li>
												{{ end }}
											</ul>
										</div>										
									</div>
									<div class="txt">Status of Cloud Provider</div>
								</div>
							</div>
							
						</div>
				</div>
{{end}}