{{template "Header" .}}

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <main role="main" class="main">
                <div class="page-header">
                    <div>
                        <h1>Monitoring Service Activation</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Register </strong>
                            </div>
                            <div>
                                <!-- 좌우측 정렬되는 버튼이 필요할때 여기에 넣어주세요 -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <form name="form" action="" method="POST" id="form">
                        <table class="table table-bordered table-horizontal mb-0">
                            <colgroup>
                                <col style="width: 20%">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            
                            <tbody>
                                    <tr>
                                            <th>Cloud Provider<strong class="text-danger">*</strong></th>
                                            <td>
                                                <select class="form-control form-control-sm" name="cspType" id="cspType" >
                                                    <!--
                                                    <option selected>Select Cloud Provider</option>
                                                    <option value="AWS">AWS</option>
                                                    <option value="AZURE">AZURE</option>
                                                    <option value="ALIBABA">Alibaba</option>
                                                    <option value="GCP">GCP</option>
                                                    <option value="CLOUDIT">Cloudit</option>
                                                    <option value="OPENSTACK">Openstack</option>
                                                    -->
                                                </select>
                                            </td>
                                        </tr>
                                <tr>
                                    <th>MCIS ID<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="mcis_id" id="mcis_id" value="{{ .mcis_id }}" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>NS ID<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="ns_id" id="ns_id" value="" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>VM ID<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="vm_id" id="vm_id" value="{{ .vm_id }}" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Public IP<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="public_ip" id="public_ip" value="{{ .public_ip }}" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>User Name<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="user_name" id="user_name" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SSH KEY<strong class="text-danger">*</strong></th>
                                    <td>
                                        <textarea class="form-control" name="ssh_key" id="ssh_key" rows="3" required></textarea> 
                                    </td>
                                </tr>
                                
                                <!-- <tr>
                                    <th>DriverLibFileName<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="fPath" id="fPath">
                                    </td>
                                </tr> -->

                               
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" class="btn btn-dark btn-sm" id="reg_btn">Confirm</button>
                            &nbsp;
                            <button type="button" class="btn btn-sm btn-danger" onclick="cancel_btn();">Cancel</button>
                        </div>
                    </div>
                </div>
            </main>
            <!-- //contents -->

        </form>
        </div>
        <!-- //container -->

        {{template "Footer" .}}

<script>
function show_vmSSHInfo(){
    var mcis_id =  $("#mcis_id").val();
    var vm_id = $("#vm_id").val();
    var url = CommonURL+"/ns/"+NAMESPACE+"/mcis/"+mcis_id+"/vm/"+vm_id
    var apiInfo = ApiInfo
    axios.get(url,{
        headers:{
            'Authorization': apiInfo
        }
    }).then(result=>{

        var data = result.data
        var html = ""
        var url2 = CommonURL+"/ns/"+NAMESPACE+"/resources/sshKey"
        var spec_id = data.sshKeyId
       
        $.ajax({
           url: url2,
           async:false,
           type:'GET',
           beforeSend : function(xhr){
            xhr.setRequestHeader("Authorization", apiInfo);
            xhr.setRequestHeader("Content-type","application/json");
        },
          

       }).done(function(result){
        var res = result.sshKey
        var pv_key = "";
       console.log("sshKey info :",res);
        for(var k in res){
            if(res[k].id == spec_id){
                pv_key  = res[k].privateKey;                   
            }
        } 
        if(pv_key){
            $("#ssh_key").val(pv_key);
            $("#ssh_key").attr('readonly',true);
        }

    })
      
           
        
    })

}


$(document).ready(function(){
    $("#ns_id").val(NAMESPACE)
    show_vmSSHInfo();

    
    alert("InstallAgent.html");
	getCloudOS(ApiInfo,'cspType');
    console.log("getCloudOS finished");

    $("#reg_btn").click(function(){
        console.log("reg btn click : ","{{ .comURL.DragonFlyURL}}") 
        var url = DragonFlyURL+"/agent/install";
        console.log("Monitoring Service Activation URI : ", url)

        //폼의 필수 필드를 검증 함.
        if (!chkFormValidate($("#form"))) return false;
        
        var obj = $("#form").serializeObject()
        var formData = new FormData(document.getElementById("form"));
        //obj.headers = { 'Content-type': 'application/json',
       // 'Authorization': ApiInfo, }

        //try{
            //AjaxLoadingShow(true);
            //console.log(req)
            //console.log("object : ",obj);
            axios.post(url,formData,{
            headers :{
                 'Content-type': 'multipart/form-data',
                 'Authorization': ApiInfo,
                },
        })            
            .then(result=>{
                console.log(result.data)
                var data = result.data
                //alert(result);
                if(result.status == 200 || result.status == 201){
                    alert("Monitoring Service Activation is complete.");
                    //location.href = "/Driver/list";                    
                    var targetUrl = "/dashboard";
                    changePage(targetUrl)
                }else{
                    alert("Monitoring Service Activation failed : " + result.status);
                }
            })
            .catch(function (error) {
                console.log(error)
                if (error.response) {
                    // 서버가 2xx 외의 상태 코드를 리턴한 경우
                //error.response.headers / error.response.status / error.response.data
                    alert("Monitoring Service Activation failed\nMonitoring Service Activation Status : " + error.response.status);
                }
                else if (error.request) {
                    // 응답을 못 받음
                    alert("No response was received from the Monitoring Server.\n" + error.request);
                }
                else {
                    alert("Error communicating with Monitoring Server.\n" + error.message);
                }
                console.log(error.config);
            })
            ;  
        //}finally{
            //AjaxLoadingShow(false);
        //}
    })//end of $("#reg_btn").click
})

</script>