# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store

data/influxdb/data/data/_internal/
data/influxdb/data/data/cbrestapigw/
data/influxdb/data/wal/

*.db
package.json
yarn.lock

data/grafana/data/
data/grafana/data/plugins/grafana-clock-panel/package.json
data/grafana/data/plugins/grafana-clock-panel/yarn.lock
data/grafana/data/plugins/grafana-simple-json-datasource/package.json
data/grafana/data/plugins/grafana-simple-json-datasource/yarn.lock
data/grafana/data/plugins/natel-plotly-panel/package.json
data/grafana/data/plugins/natel-plotly-panel/yarn.lock
data/influxdb/data/

# need to check
data/influxdb/data/data/_internal/
data/influxdb/data/data/cbrestapigw/_series/
data/influxdb/data/data/cbrestapigw/autogen/
data/influxdb/data/wal/


data/cb-spider/
data/cb-tumblebug/

# Binary
src/operator
