{{ template "OperationTop" .}}

<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}
		
		{{template "MenuLeft" .}}
		
	</div>
	
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Monitoring / <strong>MCKS</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Monitoring  <span>></span>  <strong>MCKS</strong></div>
					</div>


					
					<!-- Server -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Monitoring for MCKS</strong></div>
							</div>
							
							<div class="ds_cont">

								<div class="monitoring_ipbox">
												
									<div class="monitoring-cont">
										<div class="monitoring_ip">
											<div class="mipbox m_ip1">
												<select class="selectbox white" id="mcisList" onchange="selectMonitoringMcks(this.value);" required>
												<!-- <option value="mcis_id" disabled selected hidden>Choose a Target MCKS for Monitoring</option> -->
												<option value="mcis_id">Choose a Target MCKS for Monitoring</option>
												{{range $index, $item := .McksList}}
												<option value="{{$item.ID}}"  selected>{{$item.Name}}|{{$item.Status}}|{{$item.Description}}
												{{ end }}
												</select>
											</div>
											<div class="mipbox m_ip2">
												<ul>
													<li class="mt_1">
														<label>Type</label>
														<span class="sbox_m2">
												      <select class="selectbox white" placeholder="Select Type(Live, History)" >
												        <option value="history">Default History</option>
												        <option value="live">OnDemend</option>
												      </select>
													  	<button name="" value="" onclick=""class="btn_view">View</button> 
												    </span>
												  </li>
													<li class="mt_2" id="hidden_div">
											      <span class="sbox">
															<label>Duration</label>
															<span class="sel_w1">
																<input type="text" name="" value="5" placeholder="" title="" id=""/>
													      <select class="selectbox white">
													        <option value="m">Minute</option>
													        <option value="h">Hour</option>
													        <option value="d">Day</option>
													      </select>
													    </span>
												    </span>
											      <span class="sbox">
															<label>Period</label>
												      <select class="selectbox white">
														<option value="m">per Minutely</option>
														<option value="h">per Hourly</option>
														<option value="d">per Daily</option>
												      </select>
												    </span>
													</li>
												</ul>
											</div>
										</div>
										
									</div>									
								</div>

								<script>
									$(document).ready(function() {
										//Type selectbox Select Type(Live, History)
									  $('.monitoring_ip .mt_1 .selectbox').change(function(){
									    if (this.value == '2') {
									      $("#hidden_div").hide();
									    } else {
									      $("#hidden_div").show();
									    }
									  });
									});
								</script>

								
								<div class="ds_cont_mbox">
									<div class="m_title">Selected MCKS <span class="stxt" id="mcis_info_txt">[MCKS Name (MCKS ID)]</span></div>
									
									<div class="mtbox">
										<div class="txtbox">
											<div class="icon_box">
												<div class="img" id="monitoring_mcis_status_img"><img src="/assets/img/contents/icon_running_db.png" alt=""/></div>
												<!-- 
												<div class="img"><img src="/assets/img/contents/icon_stop_db.png" alt=""/></div>
												<div class="img"><img src="/assets/img/contents/icon_terminate_db.png" alt=""/></div>
												 -->
												<div class="txt color_b">Running</div>
											</div>
										</div>
										
										<div class="g_list">
											
											<div class="gbox">
												<div class="sel">
													<label>CPUs</label>
										      <select class="selectbox white" id="cpu" required>
												<!-- <option value="sel_cpu_item" disabled selected hidden>Select CPU Item</option> -->
										        <option value="cpu">CPU</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_0"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_1.jpg" alt=""> -->
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>Memory</label>
										      <select class="selectbox white" id="memory" required>
												<!-- <option value="sel_mem_item" disabled selected hidden>Select Memory Item</option> -->
										        <option value="memory">Memory</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_1"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_2.jpg" alt=""> -->
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>DiskIO</label>
										      <select class="selectbox white" id="disk" required>
												<!-- <option value="sel_disk_item" disabled selected hidden>Select DiskIO Item</option> -->
										        <option value="disk">DiskIO</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_2"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_3.jpg" alt=""> -->
												</div>
											</div>
											
											<div class="gbox">
												<div class="sel">
													<label>Network</label>
										      <select class="selectbox white" id="network" required>
												<!-- <option value="sel_network_item" disabled selected hidden>Select Network Item</option> -->
										        <option value="network">Network</option>
										      </select>
												</div>
												<div class="graph">
													<canvas id="canvas_3"></canvas>
													<!-- <img src="/assets/img/contents/img_graph_4.jpg" alt=""> -->
												</div>
											</div>
											
										</div>
									</div>
									<script>

									</script>
									
									<div class="mtbox">
										<div class="txtbox">
											<div class="tit">Server List</div>
										</div>
										
										<div class="g_list">
											<!-- Server List scrollbar / common.js -->
											<div class="listbox scrollbar-inner">
												<ul id="vmArrList"> <!-- sel_cr / bgbox_g | bgbox_b | bgbox_r -->
													
												</ul>
											</div>
											<!-- //Server List scrollbar -->
										</div>
									</div>
								</div>
						
								
								<!-- Monitoring view -->
								<div class="ds_cont_mbox g_detail_view monitoring_view" id="monitoring_viewbox">
									<input type="hidden" id="vm_id" />
									<input type="hidden" id="mcis_id" />
									<div class="view_ipbox">
													
										<div class="view-cont">
											<div class="view_ip">
												
												<div class="mvbox v_ip1">
													<label>Monitoring Details</label>
										      <select class="selectbox white" required id="vmList">
												<!-- <option value="vm_id" disabled selected hidden>Choose a Target Servers for Monitoring</option> -->
												<option value="vm_id">Choose a Target Servers for Monitoring</option>
										        <option value="1">Target Servers1 for Monitoring</option>
										        <option value="2">Target Servers2 for Monitoring</option>
										      </select>
												</div>
												<div class="mvbox v_ip2">
													<ul>
														<li class="mt_1">
															<label>Type</label>
															<span class="sbox_m2">
													      <select class="selectbox white" placeholder="Select Type(Live, History)" id="sel_history">
															<option value="history">Default History</option>
															<option value="live">OnDemend</option>
														  </select>
														  	<button name="" value="" class="btn_view" onclick="btn_view_click()">View</button> 
													    </span>
													  </li>
														<li class="mt_2" id="m_hidden_div">
												      <span class="sbox">
																<label>Duration</label>
																<span class="sel_w1">
																	<input type="text" name="" value="5" placeholder="" title="" id="input_duration"/>
														      <select class="selectbox white" id="duration_type">
																<option value="m" selected>Minute</option>
																<option value="h">Hour</option>
																<option value="d">Day</option>
														      </select>
														    </span>
													    </span>
												      <span class="sbox">
																<label>Period</label>
													      <select class="selectbox white" id="vm_period">
															<option value="m" selected>per Minutely</option>
															<option value="h">per Hourly</option>
															<option value="d">per Daily</option>
													      </select>
													    </span>
														</li>
													</ul>
													
												</div>
												
											</div>
											
											<div class="view_ip">
												<ul>
													<!-- <li class="m4">
														<label>Servers</label>
														<input type="text" name="" value="" placeholder="" class="gray" title="" id="sel_vmname" readonly/>
													</li> -->
													<li class="m5 m5_n">
														<label>Items</label>
											      <select class="selectbox white" required id="select_metric">
													<!-- <option value="sel_vm_item" disabled selected hidden>Select Server's Monitoring Item</option> -->
													<option value="cpu" selected>CPU</option>
													<option value="memory">Memory</option>
													<option value="disk">DiskIO</option>
													<option value="network">Network</option>
											      </select>
													</li>
												</ul>
											</div>
										</div>								
										<script>
											$(document).ready(function() {
												//Type selectbox Select Type(Live, History)
											  $('.view_ipbox .mt_1 .selectbox').change(function(){
											    if (this.value == '2') {
											      $("#m_hidden_div").hide();
											    } else {
											      $("#m_hidden_div").show();
											    }
											  });
											});
										</script>
										
										<div class="graphbox">
											<canvas id="canvas_vm"></canvas>
											<!-- <img src="/assets/img/contents/img_graph_4.jpg" alt=""> -->
										
										</div>
										
									</div>
								</div>
								<!-- //Monitoring view -->
							</div>							
						</div>						
					</div>
					<!-- //Server -->
				</div>
                <!-- //contents -->
<script type="text/javascript" src="/assets/js/operation/monitorings/mcismonitoringmng.js"></script>

{{template "Footer" .}}