{{template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}
		
        <!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->	
	</div>
	
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}
				<script>
			
				</script>
				<!-- contents -->
				<div class="contbox">

					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Policy / <strong>Monitoring</strong></div>
						<div class="location">Home  <span>></span>  Operation  <span>></span>  Policy  <span>></span>  <strong>Monitoring</strong></div>
					</div>

					<div class="dashboard dashboard_cont" id="monitoringConfigPolicyInfoBox">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Monitoring Policy Info</strong></div>
								<div class="top_info">
									<ul>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1">
													<label><span class="ch">*</span>Agent Interval</label>
													<span class="sbox">
														<input type="text" id="agentInterval" name="agentInterval" value="{{.MonitoringConfig.AgentInterval}}" placeholder="" class="pline" title="" />
													</span>
													<li class="reg_1">
														<label><span class="ch">*</span>Collector Interval</label>
														<span class="sbox">
															<input type="text" id="collectorInterval" name="collectorInterval" value="{{.MonitoringConfig.CollectorInterval}}" placeholder="" class="pline" title="" />
														</span>
													</li>
													<li class="reg_1">
														<label><span class="ch">*</span>Max Host Count</label>
														<span class="sbox">
															<input type="text" id="maxHostCount" name="maxHostCount" value="{{.MonitoringConfig.MaxHostCount}}" placeholder="" class="pline" title="" />
														</span>
													</li>
												</li>
											</ul>
										</div>
										
										<div class="ipbox ipbox1">
											<ul>
												
												<li class="reg_1">
													<label>Monitoring Policy</label>
													<span class="sbox">
														<input type="text" id="monitoringPolicy" name="monitoringPolicy" value="{{.MonitoringConfig.MonitoringPolicy}}" placeholder="" class="gray" title="" readonly />
													</span>
													
												</li>
											</ul>
										</div>
										
									</div>
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok" onclick="applyMonitoringConfig()">Apply</button> 
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
						
					</div>

                </div>
				<!-- //contents -->
			
				
<script src="/assets/js/operation/policies/monitoring/monitoringconfigpolicymng.js"></script>
{{template "Footer" .}}			