{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="../img/common/icon_cont.png" alt=""/><strong>Pod</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span> App Resource  <span>></span>  <strong>Pod</strong></div>
					</div>
					
					
				</div>
				<!-- //contents -->
				{{template "Footer" .}}