{{ template "Top" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "Top_box" .}}

		{{template "LNB_popup" .}}
		
		<!-- menu -->
		<div class="leftmenu">
			
			<ul class="nav">
				<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Operation">Operation</a></li>
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Setting">Setting</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade" id="Operation">
					<ul class="menu">
						<li  id="Dashboard">
							<a href="javascript:void(0);">Dashboard</a>
							<ul>
								<li id="NS"><a href="/Dashboard/NS">NS</a></li>
								<li id="Global"><a href="/Dashboard/Global">Global</a></li>
							</ul>
						</li>
						<li  id="Manage">
							<a href="javascript:void(0);">Manage</a>
							<ul>
								<li  id="MCIS"><a href="/Manage/MCIS/list">MCIS</a></li>
								<li id="MC-App"><a href="!#">MC-App</a></li>
							</ul>
						</li>
						<li id="Monitoring">
							<a href="javascript:void(0);">Monitoring</a>
							<ul>
								<li id="MCIS"><a href="/Monitoring/MCIS/list">MCIS</a></li>
								<li id="MC-App"><a href="/operation/Monitoring_McApp.html">MC-App</a></li>
							</ul>
						</li>
						<li id="Policy">
							<a href="javascript:void(0);">Policy</a>
							<ul>
								<li><a href="../operation/Policy_Monitoring.html">Monitoring</a></li>
								<li><a href="../operation/Policy_Threshold.html">Threshold</a></li>
								<li><a href="../operation/Policy_Placement.html">Placement</a></li>
							</ul>
						</li>
						<li id="About">
							<a href="javascript:void(0);">About</a>
							<ul>
								<li><a href="../operation/About.html">About</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="tab-pane fade show active" id="Setting">
					<ul class="menu">
						<li id="Resources">
							<a href="javascript:void(0);">Resources</a>
							<ul>
								<li id="net"><a href="/Vpc/list">Network</a></li>
								<li id="sg"><a href="/SecurityGroup/list">Security</a></li>
								<li id="ssh"><a href="/SSH/list">SSH key</a></li>
								<li id="image"><a href="/Image/list">(Server) Image</a></li>
								<li id="spec"><a href="/Spec/list">(Server) Spec</a></li>
							</ul>
						</li>
						<li id="AppRes">
							<a href="javascript:void(0);">App Resource</a>
							<ul>
								<li><a href="!#">(Server) Image</a></li>
								<li><a href="!#">Pod</a></li>
							</ul>
						</li>
						<li class="active" id="Cloud">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id="Connection" class="on"><a href="/Cloud/Connection/list">Cloud Connections</a></li>
							</ul>
						</li>
						<li id="NameSpace">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="NS"><a href="/NameSpace/NS/list">NameSpace</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- //menu -->
		
	</div>
	
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}

				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/> <strong>Cloud Connections</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span>  <strong>Cloud Connections</strong></div>
					</div>


					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>List of Connection</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Name</a></li>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" onclick='getCloudConnectionList("ConfigName")'>Name</a></li>
														<li><a href="javascript:void(0);" onclick='getCloudConnectionList("ProviderName")'>Provider</a></li>
														<li><a href="javascript:void(0);" onclick='getCloudConnectionList("DriverName")'>Driver</a></li>
														<li><a href="javascript:void(0);" onclick='getCloudConnectionList("CredentialName")'>Credential</a></li>
														<!-- <li><a href="javascript:void(0);">Date</a></li> -->
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox">Add</a></li>
														<!-- <li><a href="javascript:void(0);">Change</a></li> -->
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist">Delete</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	
							<!-- popup Regist -->
							<div class="modal fade layerpopup" id="RegistBox" tabindex="-1" role="dialog" aria-hidden="true" id="modal_reg">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to register <br />Cloud Connection?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok register" onclick="goFocus('reg_ConfigName')" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->

                            <!-- popup Delete -->
							<div class="modal fade layerpopup" id="UnRegist" tabindex="-1" role="dialog" aria-hidden="true" id="modal_del">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to delete <br />Cloud Connection?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok delete" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->
							
							<script>
								$(document).ready(function(){
									$('#RegistBox .btn_ok.register').click(function(){
										$(".dashboard.register_cont").toggleClass("active");
										$(".dashboard.server_status").removeClass("view");
										$(".dashboard .status_list tbody tr").removeClass("on");
                                        //ok 위치이동
										$('#RegistBox').on('hidden.bs.modal', function () {
											var offset = $("#CreateBox").offset();
											$("#wrap").animate({scrollTop : offset.top}, 300);

                                            getRegionList()
                                            getCredentialList()
                                            getDriverList()
										})
									});
									$('#UnRegist .btn_ok.delete').click(function(){
                                        console.log("do click delete ok")
										cloudConnection_delete()
									});
								});
							</script>
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup>
											<col width="50px"><col width="16%"><col width="14%"><col width="15%"><col width="15%"><col width="15%"><col width=""><col width="60px">
										</colgroup>
										<thead>
											<tr>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
                                                <th>Name</th>
                                                <th>Cloud Provider</th>
                                                <th>Region</th>
                                                <th>Zone</th>
                                                <th>Credential</th>
                                                <th>Driver</th>
                                                <th></th>
											</tr>
										</thead>
										<tbody id="cList">
											<tr>
												<td class="overlay hidden" data-th="" colspan="8">No Data</td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch1" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm td_left" data-th="Name">aws-config01<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="td_icon" alt=""/></a> <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Cloud Provider">AWS</td>
												<td class="overlay hidden" data-th="Region">aws-region01 </td>
												<td class="overlay hidden" data-th="Zone">-</td>
												<td class="overlay hidden" data-th="Credential">aws-credential01</td>
												<td class="overlay hidden" data-th="Driver">aws-driver01</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
										//checkbox all
								    $("#th_chall").click(function() {
								      if ($("#th_chall").prop("checked")) {
								        $("input[name=chk]").prop("checked", true);
								      } else {
								        $("input[name=chk]").prop("checked", false);
								      }
								    })
										
										//table 스크롤바 제한
										$(window).on("load resize",function(){
											var vpwidth = $(window).width();
										  if (vpwidth > 768 && vpwidth < 1800) {
										    $(".dashboard_cont .dataTable").addClass("scrollbar-inner");
										 		$(".dataTable.scrollbar-inner").scrollbar();
										  } else {
										    $(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
										  }
										});
									});
								</script>
								
								
								<!-- <div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div> -->
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status"  id="info_box">

                        <div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Cloud Connection Config Info</strong> <span class="stxt"></span></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
										
									<div class="top_ipbox" >
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1 reg_1n">
													<label>Cloud Connection Name</label>
													<input type="text" name="" value="" placeholder="Name" class="gray" title="" readonly id="info_name"/>
												</li>
												<li class="reg_1 reg_1n">
													<label>Credential</label>
													<input type="text" name="" value="Credential selected Credential" placeholder="Credential" id="info_credential" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_3">
                                                    <label>Provider (CP)</label>
                                                    <input type="text" name="" value="AWS, AZURE, GCP, ALIBABA / Region" placeholder="" class="gray" title="" id="info_provider" readonly />
												</li>
												<li class="reg_3">
                                                    <label>Region / zone</label>
                                                    <input type="text" name="" value="" placeholder="" class="gray" title="" id="info_region" readonly />
												</li>
												<li class="reg_3">
                                                    <label>Driver</label>
                                                    <input type="text" name="" value="" placeholder="" class="gray" title="" id="info_driver" readonly />
												</li>
											</ul>
										</div>
									</div>
                                    
									<div class="graybox">
										
										<div class="g_box">
											
											<div class="logicbox">
												
												<div class="txtbox">
													
													<div class="logic_tbox lg_1">
														<div class="tit">Cloud Connection</div>
														<div class="txt" style="min-height: 70px;" id="info_name_prs">
															Connection<br /> Name
														</div>
													</div>
													
													<div class="line line_a line_p1"></div>
													
													<div class="logic_tbox lg_2">
														<div class="tit">Cloud Provider</div>
														<div class="txt" style="min-height: 70px;" id="info_provider_prs">
															Provider(CP)<br />Name & Icon
														</div>
													</div>
													
													<div class="line line_p2"></div>
													<div class="line line_a line_p2_1"></div>
													
													<div class="logic_tbox lg_3">
														<div class="tit">Cloud Region/zone</div>
														<div class="txt" style="min-height: 70px;" id="info_region_prs">
															Region<br />Name
														</div>
													</div>
													
													<div class="line line_p3"></div>
													<div class="line line_a line_p3_1"></div>
													
													<div class="logic_tbox lg_4">
														<div class="tit">Cloud Driver</div>
														<div class="txt" style="min-height: 70px;" id="info_driver_prs">
															Driver<br />Name
														</div>
													</div>
													
													<div class="line line_p4"></div>
													<div class="line line_a line_p4_1"></div>
													
													<div class="logic_tbox lg_5">
														<div class="tit">Cloud Credential</div>
														<div class="txt" style="min-height: 70px;" id="info_credential_prs">
															Credential<br />Name
														</div>
													</div>
													
													
												</div>
												
												<div class="mapcont">
													<div class="map"><a href="javascript:void(0);"><img src="/assets/img/contents/img_map_d.jpg" alt=""/></a></div>
												</div>
											</div>
											
											
										</div>
										
									</div>                                    
									
									<div class="btnbox">
										<div class="btn_center">
											<!-- <button name="" value="" class="btn_co btn_cr_g w135 btn_ok">OK</button>  -->
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					
					<!-- Register Cloud Connection -->
					<div class="dashboard dashboard_cont register_cont" id="CreateBox">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Create Cloud Connection Config</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box reg">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1">
													<!-- <label><span class="ch">*</span>Connection Name</label>
                                                    <input type="text" name="" value="" placeholder="input Cloud Connection Name" class="pline" title="" id="reg_ConfigName"/> -->
                                                    <input type="hidden" id="reg_region" name="" value="" class="pline" title=""/>
                                                    <input type="hidden" id="reg_credential" name="" value="" class="pline" title=""/>
                                                    <input type="hidden" id="reg_driver" name="" value="" class="pline" title=""/>
                                                </li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_3">
													<label><span class="ch">*</span>Provider(CP/Region)</label>
													<input type="text" name="" value="" placeholder="input Provider AWS, AZURE, GCP, ALIBABA" class="pline" title="" id="reg_Provider"/>
												</li>
												<li class="reg_3">
													<label><span class="ch">*</span>Connection Name</label>
                                                    <input type="text" name="" value="" placeholder="input Cloud Connection Name" class="pline" title="" id="reg_ConfigName"/>
                                                </li>
											</ul>
										</div>
									</div>
									
									<div class="iptable_box">
										<div class="table_plist">
											<div class="tit"><span class="ch">*</span>Region</div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal" data-target="#Add_Region">write</button>
												<!-- <button class="btn_add" value="" name="">add</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary="">
													<colgroup>
														<col width="28%"><col width="28%"><col width="28%"><col width="">
													</colgroup>
													<thead>
														<tr>
															<th>Name</th>
															<th>Region</th>
															<th>Zone</th>
															<th>CP</th>
														</tr>
													</thead>
													<tbody id="regionList">
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-region01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="region ID">ap-northeast-1</td>
															<td class="overlay hidden" data-th="Zone">ap-northeast-1a</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-region02 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="region ID">ap-northeast-2</td>
															<td class="overlay hidden" data-th="Zone">ap-northeast-2a</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">azure-region01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="region ID">ap-north-1</td>
															<td class="overlay hidden" data-th="Zone">ap-north-1a</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">gcp-region01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="region ID">ap-east-1</td>
															<td class="overlay hidden" data-th="Zone">ap-east-1a</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
										<div class="table_plist">
											<div class="tit"><span class="ch">*</span>Credential</div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal" data-target="#Add_Credential">write</button>
												<!-- <button class="btn_add" value="" name="">add</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary="">
													<colgroup>
														<col width="38%"><col width="38%"><col width="">
													</colgroup>
													<thead>
														<tr>
															<th>Name</th>
															<th>accesskey</th>
															<th>CP</th>
														</tr>
													</thead>
													<tbody id="credentialList">
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-credential01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">aws-accesskey-01</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-credential02 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">aws-accesskey-02</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">azure-credential01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">azure-accesskey-01</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">gcp-credential01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="accesskey">gcp-accesskey-01</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										
										<div class="table_plist">
											<div class="tit"><span class="ch">*</span>Driver</div>
											<div class="btn_s">
												<button class="btn_write" value="" name="" data-toggle="modal" data-target="#Add_Driver">write</button>
												<!-- <button class="btn_add" value="" name="">add</button> -->
											</div>
											<div class="dataTable first_over">
												<table cellpadding="0" cellspacing="0" border="1" summary="">
													<colgroup>
														<col width="38%"><col width="38%"><col width="">
													</colgroup>
													<thead>
														<tr>
															<th>Name</th>
															<th>Driver SDK</th>
															<th>CP</th>
														</tr>
													</thead>
													<tbody id="driverList">
														<tr>
															<td class="btn_mtd ovm" data-th="Name">aws-driver01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="Driver SDK">aws-driver-v1.0.so</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">azure-driver01 <span class="ov"></span></td>
															<td class="overlay hidden" data-th="Driver SDK">azure-driver-v1.0.so</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
														<tr>
															<td class="btn_mtd ovm" data-th="Name">gcp-driver01  <span class="ov"></span></td>
															<td class="overlay hidden" data-th="Driver SDK">gcp-driver-v1.0.so</td>
															<td class="overlay hidden" data-th="CP"> </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
                                                <li class="reg_1 reg_1n"></li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<!-- <li class="reg_3">
													<label><span class="ch">*</span>Cloud Connection Name</label>
                                                    <input type="text" name="" value="" placeholder="input Cloud Connection Name" class="pline" title="" id="reg_ConfigName"/>
												</li> -->
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok" onclick="createCloudConnection()">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Register Cloud Connection -->

					<script>
						
						//Create popup - Region / Credential / Driver
						$(function() {
						  return $(".modal").on("show.bs.modal", function() {
						    var curModal;
						    curModal = this;
						    $(".modal").each(function() {
						      if (this !== curModal) {
						        $(this).modal("hide");
						      }
						    });
						  });
						});		
                    </script>
                    
{{template "CloudConnectionModal" .}}

				</div>
                <!-- //contents -->
<script>
	$(document).ready(function(){
		order_type = "ConfigName"
		getCloudConnectionList(order_type);
	})


function fnMove(target){
	var offset = $("#" + target).offset();
	console.log("fn move offset : ",offset)
	$('html, body').animate({scrollTop : offset.top}, 400);
}


function getCloudConnectionList(sort_type){
    var url = "{{ .comURL.SpiderURL}}"+"/connectionconfig";
    axios.get(url,{
        headers:{
            'Authorization': "{{ .apiInfo}}",
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get CloudConnection Data : ",result.data);
        var data = result.data.connectionconfig;
        var html = ""
        if(data.length){ 
			if(sort_type){
				
				data.filter(list=> list.ConfigName !=="" ).sort((a,b) => ( a[sort_type] < b[sort_type] ? -1 : a[sort_type] > b[sort_type] ? 1 : 0)).map((item,index)=>(
					html +='<tr onclick="showInfo(\'cc_info_'+index+'\');">'
						 +'<td class="overlay hidden" data-th="">'
						 +'<input type="hidden" id="cc_info_'+index+'" value="'+item.ConfigName+'|'+item.ProviderName+'|'+item.RegionName+'|'+item.CredentialName+'|'+item.DriverName+'"/>'
						 +'<input type="checkbox" name="chk" value="'+item.ConfigName+'" id="raw_'+index+'" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>'
						 +'<td class="btn_mtd ovm td_left" data-th="Name">'+item.ConfigName+'<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="td_icon" alt=""/></a> <span class="ov"></span></td>'
						 +'<td class="overlay hidden" data-th="Cloud Provider">'+item.ProviderName+'</td>'
						 +'<td class="overlay hidden" data-th="Region">'+item.RegionName+'</td>'
						 +'<td class="overlay hidden" data-th="Zone">'+item.RegionName+'</td>'
						 +'<td class="overlay hidden" data-th="Credential">'+item.CredentialName+'</td>'
						 +'<td class="overlay hidden" data-th="Driver">'+item.DriverName+'</td>'
						 +'<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>' 
						 +'</tr>' 
				))
			}else{
				data.filter((list)=> list.ConfigName !== "" ).map((item,index)=>(
					html +='<tr onclick="showInfo(\'cc_info_'+index+'\');">'
						 +'<td class="overlay hidden" data-th="">'
						 +'<input type="hidden" id="cc_info_'+index+'" value="'+item.ConfigName+'|'+item.ProviderName+'|'+item.RegionName+'|'+item.CredentialName+'|'+item.DriverName+'"/>'
						 +'<input type="checkbox" name="chk" value="'+item.ConfigName+'" id="raw_'+index+'" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>'
						 +'<td class="btn_mtd ovm td_left" data-th="Name">'+item.ConfigName+'<span class="ov"></span></td>'
						 +'<td class="overlay hidden" data-th="Cloud Provider">'+item.ProviderName+'</td>'
						 +'<td class="overlay hidden" data-th="Region">'+item.RegionName+'</td>'
						 +'<td class="overlay hidden" data-th="Zone">'+item.RegionName+'</td>'
						 +'<td class="overlay hidden" data-th="Credential">'+item.CredentialName+'</td>'
						 +'<td class="overlay hidden" data-th="Driver">'+item.DriverName+'</td>'
						 +'<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>' 
						 +'</tr>'        
				))

			}		
			
            $("#cList").empty();
            $("#cList").append(html);
		  //  nsModal()
		  ModalDetail()
           
    }}
)}
function goFocus(target){

	console.log(event)
	event.preventDefault()
	
	$("#"+target).focus();
	fnMove(target)
	
}
function getRegionInfo(type, target){
	console.log("target : ",target);
	var infos = $("#"+target).val()
	infos = infos.split("|")
    console.log("name : ",infos[0]);
	$("#reg_region").val(infos[0]);
}
function getCredentialInfo(type, target){
	console.log("target : ",target);
	var infos = $("#"+target).val()
	infos = infos.split("|")
    console.log("name : ",infos[0]);
	$("#reg_credential").val(infos[0]);
}
function getDriverInfo(type, target){
	console.log("target : ",target);
	var infos = $("#"+target).val()
	infos = infos.split("|")
    console.log("name : ",infos[0]);
	$("#reg_driver").val(infos[0]);
}
function showInfo(target){
	console.log("target : ",target);
	var infos = $("#"+target).val()
	infos = infos.split("|")
	$("#info_name").val(infos[0])
	$("#info_provider").val(infos[1])
	$("#info_region").val(infos[2])
	$("#info_credential").val(infos[3])
	$("#info_driver").val(infos[4])

	$("#info_name_prs").text(infos[0])
	$("#info_provider_prs").text(infos[1])
	$("#info_region_prs").text(infos[2])
	$("#info_credential_prs").text(infos[3])
	$("#info_driver_prs").text(infos[4])

    getRegionDetail(infos[2]);

	$("#info_name").focus();
	

}
 function createCloudConnection(){
        var configname = $("#reg_ConfigName").val()
		var providername = $("#reg_Provider").val()
		var regionname = $("#reg_region").val()
		var credentialname = $("#reg_credential").val()
		var drivername = $("#reg_driver").val()

        console.log("info param configname : ",configname);
        console.log("info param providername : ",providername);
        console.log("info param regionname : ",regionname);
        console.log("info param credentialname : ",credentialname);
        console.log("info param drivername : ",drivername);

		if(!configname){
			alert("Input New Cloud Connection Name")
			$("#reg_ConfigName").focus()
			return;
		}
		if(!providername){
			alert("Input Provider Name")
			$("#reg_Provider").focus()
			return;
		}
		
        var apiInfo = "{{ .apiInfo}}";
        var url = "{{ .comURL.SpiderURL}}"+"/connectionconfig";
        var obj = {
            ConfigName: configname,
            ProviderName: providername,
            RegionName: regionname,
            CredentialName: credentialname,
            DriverName : drivername
        }
        console.log("info connectionconfig obj Data : ",obj);
        if(configname){
            axios.post(url,obj,{
                headers: { 
                    'Content-type': 'application/json',
                    'Authorization': apiInfo, 
                }
            }).then(result =>{
                console.log(result);
                if(result.status == 200 || result.status == 201){
                    alert("Success Create Cloud Connection")
					//등록하고 나서 화면을 그냥 고칠 것인가?
					getCloudConnectionList();
					//아니면 화면을 리로딩 시킬것인가?
					location.reload();
                    // $("#btn_add2").click()
                    // $("#namespace").val('')
                    // $("#nsDesc").val('')
                }else{
                    alert("Fail Create Cloud Connection")
                }
            });
        }else{
            alert("Input Cloud Connection Name")
            $("#reg_ConfigName").focus()
            return;
        }
    }

function cloudConnection_delete(){

    var cnt = 0;
    var mcc_id = "";
    var apiInfo = ApiInfo;
    console.log("start cloudConnection_delete ")
    console.log("info chk : ", $(".chk"))
    $(".chk").each(function(){
        if($(this).is(":checked")){
            //alert("chk");
            cnt++;
            mcc_id = $(this).val();        
        }
        if(cnt < 1 ){
            alert("삭제할 대상을 선택해 주세요.");
            return;
        }

        if(cnt == 1){
           console.log("mcc_id ; ",mcc_id)
            //var url = CommonURL+"/ns/"+NAMESPACE+"/mcis/"+mcc_id
            var url = "{{ .comURL.SpiderURL}}"+"/connectionconfig/"+mcc_id;
            
            if(confirm("삭제하시겠습니까?")){
             axios.delete(url,{
                headers :{
                    'Content-type': 'application/json',
                    'Authorization': apiInfo,
                    }
             }).then(result=>{
                 var data = result.data
                 if(result.status == 200){
                     alert(data.message)
                     location.reload(true)
                 }
             })
            }
        }

        if(cnt >1){
            alert("한개씩만 삭제 가능합니다.")
            return;
        }

    })
}

function getRegionDetail(target){
    var url = "{{ .comURL.SpiderURL}}"+"/region";
    url += ("/" + target ) ;
    console.log("info urls : ", url);
    axios.get(url,{
        headers:{
            'Authorization': "{{ .apiInfo}}",
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get Region Data : ",result.data);
        var data = result.data;
        if(data.RegionName){ 
            console.log("info Region Detail, regionName : ",target,", region : ",data.KeyValueInfoList[0].Value, ", zone : ",data.KeyValueInfoList[1].Value)
            setRegionDispInfo(data.KeyValueInfoList[0].Value, data.KeyValueInfoList[1].Value)
        }
    }
)}
function setRegionDispInfo(var_region, var_zone){
    var region_and_zone = ""
    var region_and_zone_code = ""
    region_and_zone = "" + var_region + " (" + var_zone + ")";
    region_and_zone_code = "" + var_region + " (" + var_zone + ")";
	$("#info_region").val(region_and_zone)
	$("#info_region_prs").text(region_and_zone_code)

    console.log("info region_and_zone : ", region_and_zone);
}

function getRegionList(){
    var url = "{{ .comURL.SpiderURL}}"+"/region";
    axios.get(url,{
        headers:{
            'Authorization': "{{ .apiInfo}}",
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get Region Data : ",result.data);
        var data = result.data.region;
        var html = ""
        if(data.length){ 
				data.filter((list)=> list.RegionName !== "" ).map((item,index)=>(
					html +='<tr onclick="getRegionInfo(\'region\', \'region_info_'+index+'\');">'
						 +'<td class="btn_mtd ovm" data-th="Name">'+item.RegionName+'<span class="ov"></span></td>'
						 +'<input type="hidden" id="region_info_'+index+'" value="'+item.RegionName+'"/>'
						 +'<td class="overlay hidden" data-th="region ID">'+item.KeyValueInfoList[0].Value+'</td>'
						 +'<td class="overlay hidden" data-th="Zone">'+item.KeyValueInfoList[1].Value+'</td>'
						 +'<td class="overlay hidden" data-th="CP">'+item.ProviderName+'</td>'
						 +'</tr>'        
				))
			
            $("#regionList").empty();
            $("#regionList").append(html);
		  //  nsModal()
		  ModalDetail()
    }}
)}
function getCredentialList(){
    var url = "{{ .comURL.SpiderURL}}"+"/credential";
    axios.get(url,{
        headers:{
            'Authorization': "{{ .apiInfo}}",
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get Credential Data : ",result.data);
        var data = result.data.credential;
        var html = ""
        if(data.length){ 
                data.filter((list)=> list.CredentialName !== "" ).map((item,index)=>(
					html +='<tr onclick="getCredentialInfo(\'credential\', \'credential_info_'+index+'\');">'
						 +'<td class="btn_mtd ovm" data-th="Name">'+item.CredentialName+'<span class="ov"></span>'
						 +'<input type="hidden" id="credential_info_'+index+'" value="'+item.CredentialName+'"/>'
						 //  +'<td class="overlay hidden" data-th="accesskey">'+item.KeyValueInfoList[1].Value+'</td>'
						 +'<td class="overlay hidden" data-th="accesskey">...</td>'
						 +'<td class="overlay hidden" data-th="CP">'+item.ProviderName+'</td>'
						 +'</tr>'        
				))
			
            $("#credentialList").empty();
            $("#credentialList").append(html);
		  //  nsModal()
		  ModalDetail()
    }}
)}
function getDriverList(){
    var url = "{{ .comURL.SpiderURL}}"+"/driver";
    axios.get(url,{
        headers:{
            'Authorization': "{{ .apiInfo}}",
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get Driver Data : ",result.data);
        var data = result.data.driver;
        var html = ""
        if(data.length){ 
                data.filter((list)=> list.DriverName !== "" ).map((item,index)=>(
					html +='<tr onclick="getDriverInfo(\'driver\', \'driver_info_'+index+'\');">'
						 +'<td class="btn_mtd ovm" data-th="Name">'+item.DriverName+'<span class="ov"></span></td>'
						 +'<input type="hidden" id="driver_info_'+index+'" value="'+item.DriverName+'|'+item.ProviderName+'|'+item.DriverLibFileName+'"/>'
						 +'<td class="overlay hidden" data-th="Driver SDK">'+item.DriverLibFileName+'</td>'
						 +'<td class="overlay hidden" data-th="CP">'+item.ProviderName+'</td>'
						 +'</tr>'        
				))
			
            $("#driverList").empty();
            $("#driverList").append(html);
		  //  nsModal()
		  ModalDetail()
    }}
)}

function getCloudConnection(){

}
function ModalDetail(){
	$(".dashboard .status_list tbody tr").each(function(){
  	var $td_list = $(this),
  			$status = $(".server_status"),
  			$detail = $(".server_info");
  	$td_list.off("click").click(function(){
			$td_list.addClass("on");
			$td_list.siblings().removeClass("on");
			$status.addClass("view");
			$status.siblings().removeClass("on");
  			$(".dashboard.register_cont").removeClass("active");
	   	$td_list.off("click").click(function(){
				if( $(this).hasClass("on") ) {
					console.log("reg ok button click")
					$td_list.removeClass("on");
					$status.removeClass("view");
					$detail.removeClass("active");
		    } else {
					$td_list.addClass("on");
					$td_list.siblings().removeClass("on");
					$status.addClass("view");
					
					$status.siblings().removeClass("view");
  					$(".dashboard.register_cont").removeClass("active");
		    }
			});
		});
	});
}

</script>
{{template "Footer" .}}