{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="../img/common/icon_cont.png" alt=""/><strong>Cloud Connections</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span>  <strong>Cloud Connections</strong></div>
					</div>


					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>List of Region</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Provider</a></li>
														<li><a href="javascript:void(0);">Driver</a></li>
														<li><a href="javascript:void(0);">FileName</a></li>
														<li><a href="javascript:void(0);">Date</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox">Regist</a></li>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist">UnRegist</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="../img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	
							<!-- popup Regist -->
							<div class="modal fade layerpopup" id="RegistBox" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to register Region <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok register" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->
	
							<!-- popup UnRegist -->
							<div class="modal fade layerpopup" id="UnRegist" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to un-register Region <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup UnRegist -->
							
							<script>
								$(document).ready(function(){
									$('#RegistBox .btn_ok.register').click(function(){
										$(".dashboard.register_cont").toggleClass("active");
										$(".dashboard.server_status").removeClass("view");
										$(".dashboard .status_list tbody tr").removeClass("on");
									});
								});
							</script>
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup>
											<col width="50px"><col width="20%"><col width="22%"><col width="24%"><col width=""><col width="60px">
										</colgroup>
										<thead>
											<tr>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
												<th>Cloud Provider</th>
												<th>Name</th>
												<th>ID</th>
												<th>Description</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch1" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Cloud Provider">AWS <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Name">aws-region01<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a></td>
												<td class="overlay hidden" data-th="Access Key ID">aws-northeast-1</td>
												<td class="overlay hidden" data-th="Secret Access Key">description for regions …</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch2" title="" /><label for="td_ch2"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Cloud Provider">AWS <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Name">aws-region02<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a></td>
												<td class="overlay hidden" data-th="Access Key ID">aws-northeast-2</td>
												<td class="overlay hidden" data-th="Secret Access Key">description for regions …</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch3" title="" /><label for="td_ch3"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Cloud Provider">AZURE <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Name">azure-region01<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a></td>
												<td class="overlay hidden" data-th="Access Key ID">ap-north-1</td>
												<td class="overlay hidden" data-th="Secret Access Key">description for regions …</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch4" title="" /><label for="td_ch4"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Cloud Provider">GCP <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Name">gcp-region01<a href="javascript:void(0);"><img src="../img/contents/icon_copy.png" class="td_icon" alt=""/></a></td>
												<td class="overlay hidden" data-th="Access Key ID">ap-east-1</td>
												<td class="overlay hidden" data-th="Secret Access Key">description for regions …</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
								    $("#th_chall").click(function() {
								      if ($("#th_chall").prop("checked")) {
								        $("input[name=chk]").prop("checked", true);
								      } else {
								        $("input[name=chk]").prop("checked", false);
								      }
								    })
										
										$(window).on("load resize",function(){
											var vpwidth = $(window).width();
										  if (vpwidth > 768 && vpwidth < 1800) {
										    $(".dashboard_cont .dataTable").addClass("scrollbar-inner");
										 		$(".dataTable.scrollbar-inner").scrollbar();
										  } else {
										    $(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
										  }
										});
									});
								</script>
								
								
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Region Info</strong> <span class="stxt"></span></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
												<li class="reg_1 reg_1n">
													<label>Name</label>
													<input type="text" name="" value="Name" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<li class="reg_3">
													<label>Provider(CP)</label>
													<input type="text" name="" value="AWS, AZURE, GCP, ALIBABA / Region" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
									</div>
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
												<li class="reg_1 reg_1n">
													<label>Region ID</label>
													<input type="text" name="" value="ID" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<li class="reg_3">
													<label>Description</label>
													<textarea  cols="" rows="" placeholder="Description" class="gray" title="" readonly ></textarea>
												</li>
											</ul>
										</div>
									</div>
									
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok">OK</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					
					<!-- Register Driver -->
					<div class="dashboard dashboard_cont register_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Register Region</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box reg">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
												<li class="reg_1 reg_1n">
													<label><span class="ch">*</span>Name</label>
													<input type="text" name="" value="" placeholder="Name" class="pline" title="" />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<li class="reg_3">
													<label><span class="ch">*</span>Provider(CP)</label>
													<input type="text" name="" value="" placeholder="Select AWS, AZURE, GCP, ALIBABA" class="pline" title="" />
												</li>
											</ul>
										</div>
									</div>
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
												<li class="reg_1 reg_1n">
													<label><span class="ch">*</span>Region ID</label>
													<input type="text" name="" value="" placeholder="ID" class="pline" title="" />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<li class="reg_3">
													<label>Description</label>
													<textarea  cols="" rows="" placeholder="Description" class="pline" title="" ></textarea>
												</li>
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Register Driver -->

				</div>
				<!-- //contents -->

				{{template "Footer" .}}