{{ template "Top" .}}
{{template "LNB" .}}
{{template "Header" .}}
{{template "Modal" .}}
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/> <strong>NameSpace</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span>  <strong>NameSpace</strong></div>
					</div>


					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>List of Name Space</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Name</a></li>
														<li><a href="javascript:void(0);">Description</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">Name</a></li>
														<li><a href="javascript:void(0);">Description</a></li>
														<li><a href="javascript:void(0);">Date</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#AddBox">Add</a></li>
														<li><a href="javascript:void(0);">Change</a></li>
														<li><a href="javascript:void(0);">Delete</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	
							<!-- popup Add -->
							<div class="modal fade layerpopup" id="AddBox" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to register NameSpace <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok register" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Add -->
							
							<script>
								$(document).ready(function(){
									$('#AddBox .btn_ok.register').click(function(){
										$(".dashboard.register_cont").toggleClass("active");
										$(".dashboard.server_status").removeClass("view");
										$(".dashboard .status_list tbody tr").removeClass("on");
									});
								});
							</script>
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup>
											<col width="50px"><col width="20%"><col width="20%"><col width=""><col width="60px">
										</colgroup>
										<thead>
											<tr>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
												<th>Name</th>
												<th>ID</th>
												<th>description</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="nsList">
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch1" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Name">Ns-mcis-t01 <span class="ov"></span></td>
												<td class="overlay hidden" data-th="ID">ns-id-mcis-t01</td>
												<td class="overlay hidden td_left" data-th="description">가동중인 서비스 01 …</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="../img/contents/icon_link.png" class="icon" alt=""/></a></td>
											</tr>
											
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
								    $("#th_chall").click(function() {
								      if ($("#th_chall").prop("checked")) {
								        $("input[name=chk]").prop("checked", true);
								      } else {
								        $("input[name=chk]").prop("checked", false);
								      }
								    })
										
										$(window).on("load resize",function(){
											var vpwidth = $(window).width();
										  if (vpwidth > 768 && vpwidth < 1800) {
										    $(".dashboard_cont .dataTable").addClass("scrollbar-inner");
										 		$(".dataTable.scrollbar-inner").scrollbar();
										  } else {
										    $(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
										  }
										});
									});
								</script>
								
								
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Name Space Info</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
										
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1 reg_4">
													<label>Name</label>
													<input type="text" name="" value="" placeholder="Name" class="gray" title="" readonly />
												</li>
												<li class="reg_1 reg_4">
													<label>ID</label>
													<input type="text" name="" value="" placeholder="ID" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_2">
													<label>Description</label>
													<textarea  cols="" rows="" placeholder="Description" class="gray" title="" readonly ></textarea>
												</li>
											</ul>
										</div>
									</div>
									
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_modify">Modify</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					
					<!-- Create Name Space -->
					<div class="dashboard dashboard_cont register_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Create Name Space</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box reg">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1 reg_4">
													<label><span class="ch">*</span>Name</label>
													<input type="text" name="" value="" placeholder="Input Name" class="pline" title="" />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_2">
													<label>Description</label>
													<textarea  cols="" rows="" placeholder="Description" class="pline" title="" readonly ></textarea>
												</li>
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Create Name Space -->

				</div>
				<!-- //contents -->
<script>
function getNSList(){
    var url = "{{ .comURL.TumbleBugURL}}"+"/ns";
    axios.get(url,{
        headers:{
            'Authorization': "{{ .apiInfo}}",
            'Content-Type' : "application/json"
        }
    }).then(result=>{
        console.log("get NameSpace Data : ",result.data);
        var data = result.data.ns;
        var html = ""
        if(data.length){ 		
			data.filter((list)=> list.name !== "" ).map((item,index)=>(
				html +='<tr>'
					 +'<td class="overlay hidden" data-th="">'
					 +'<input type="checkbox" name="chk" value="'+item.name+'" id="raw_'+index+'" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>'
					 +'<td class="btn_mtd ovm" data-th="Name">'+item.name+'<span class="ov"></span></td>'
					 +'<td class="overlay hidden" data-th="ID">'+item.id+'</td>'
					 +'<td class="overlay hidden td_left" data-th="description">'+item.description+'</td>'
					 +'<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>' 
					 +'</tr>'        
			))
            $("#nsList").empty();
            $("#nsList").append(html);
          //  nsModal()
           
    }}
)}
 function createNS(){
        var namespace = $("#namespace").val()
        var desc = $("#nsDesc").val()
        var apiInfo = "{{ .apiInfo}}";
        var url = "{{ .comURL.TumbleBugURL}}"+"/ns";
        var obj = {
            name: namespace,
            description : desc
        }
        if(namespace){
            axios.post(url,obj,{
                headers: { 
                    'Content-type': 'application/json',
                    'Authorization': apiInfo, 
                }
            }).then(result =>{
                console.log(result);
                if(result.status == 200 || result.status == 201){
                    alert("Success Create NameSpace")
					//등록하고 나서 화면을 그냥 고칠 것인가?
					getNSList();
					//아니면 화면을 리로딩 시킬것인가?
					location.reload();
                    $("#btn_add2").click()
                    $("#namespace").val('')
                    $("#nsDesc").val('')
                }else{
                    alert("Fail Create NameSpace")
                }
            });
        }else{
            alert("Input NameSpace")
            $("#namespace").focus()
            return;
        }
    }
function getNS(){

}
function ModalDetail(){
	$(".dashboard .status_list tbody tr").each(function(){
  	var $td_list = $(this),
  			$status = $(".server_status"),
  			$detail = $(".server_info");
  	$td_list.off("click").click(function(){
			$td_list.addClass("on");
			$td_list.siblings().removeClass("on");
			$status.addClass("view");
			$status.siblings().removeClass("on");
  		$(".dashboard.register_cont").removeClass("active");
	   	$td_list.off("click").click(function(){
				if( $(this).hasClass("on") ) {
					$td_list.removeClass("on");
					$status.removeClass("view");
					$detail.removeClass("active");
		    } else {
					$td_list.addClass("on");
					$td_list.siblings().removeClass("on");
					$status.addClass("view");
					$status.siblings().removeClass("view");
  				$(".dashboard.register_cont").removeClass("active");
		    }
			});
		});
	});
}

</script>
{{template "Footer" .}}