{{template "Header" .}}
 <!-- MCIS Control methods -->
 <script type="text/javascript" src="/assets/js/dashboard.manage.js"></script>
 <script type="text/javascript" src="/assets/js/mcis.map.js"></script>
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script> -->


 
 <!-- MCIS Control methods -->

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <input type="hidden" name="namespace" id="namespace1" />
            <input type="hidden" id="mcis_id" />
            <input type="hidden" id="mcis_name" />
            <main role="main" class="main">
                <div class="page-header">
                    <div>
                        <h1>{{with .LoginInfo}}{{ .NameSpace }}{{end}} Dashboard</h1>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body" style="height: 120px;">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="card-title text-muted mb-0"><storng>MCIS</storng><small class="ml-2 mb-0 text-muted">/ Server</small></h2>
                                        <span class="h1 font-weight-bold mb-0" id="dash_1"> </span>
                                    </div>
                                    <div class="col-auto" id="service_cnt">
                                        <div class="icon icon-shape bg-success text-white rounded shadow mb-0 h1" id="run_cnt">
                                        
                                        </div>
                                        <div class="icon icon-shape bg-secondary text-white rounded shadow mb-0 h1" id="stop_cnt">
                                            
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm-right">
                                    <span class="text-success mr-2"> </span>
                                    <span class="text-sm">Status of Infra Service</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Infra</h5>
                                        <span class="h2 font-weight-bold mb-0">2,356</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last week</span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body" style="height: 120px;">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="card-title text-muted mb-0"><storng>CP</storng><small class="ml-2 mb-0 text-muted">/ Connection</small></h2>
                                        <span class="h1 font-weight-bold mb-0" id="dash_2">6 /6</span>
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="aws">
                                        
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="az">
                                        
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="gcp">
                                      
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="ab">
                                       
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="os">
                                        
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="ci">
                                       
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm-right">
                                    <span class="text-warning mr-2"></span>
                                    <span class="text-nowrap">Status of Cloud Provider & Connection</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2>Service MCIS</h2>
                                    </div>
                                    <div class="col text-right">
                                            <a href="/MCIS/reg" class="btn btn-sm btn-primary">New MCIS</a>
                                        </div>
                                </div>
                            </div>
                            <div class="table-overflow">
                                <table class="table align-items-center table-flush table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Name (ID)</th>
                                            <th scope="col">Total Infra</th>
                                            <!-- <th scope="col"># of Server</th>
                                            <th scope="col"># of Container</th> -->
                                            <th scope="col">Description</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_1">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card shadow h-100">
                            <div class="card-header bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2 class="mb-0">Location</h2>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                    
                                <!-- Chart -->
                                <div class="d-flex h-100 align-items-center justify-content-center" id="vmap" >
                                   
                                    <div id="directions"></div>
                                    <div id="backButton" onClick="backButtonClick();">Back</div>
		
                                    <!--Use this to display data-->
                                    <div id="description-box"></div>
                                 
                                </div>
                            </div>
                            <script>
                                var isZoom=false;
                                var dX,dY,dS;
                                console.log(test);
                                 var pins = {
                                    us: escapeXml('<div class="map-pin red"><span>US</span></div>'),
                                    kr: escapeXml('<div class="map-pin green"><span>KR</span></div>'),
                                 
                                    ca: escapeXml('<div class="map-pin purple"><span>CA</span></div>'),
                                };
                                     $(document).ready(function () {
                                        console.log("sample data : ",sample_data)
                                      $('#vmap').vectorMap({
                                        map: 'world_en',
                                        backgroundColor: '#ffffff',
                                        color: '#ffffff',
                                        hoverOpacity: 0.7,
                                        selectedColor: '#666666',
                                        borderColor: '#ffffff',
                                        colors:test,
                                        enableZoom: false,
                                        showTooltip: true,
                                        values:sample_data,
                                        normalizeFuncion:'polynomial',
                                      
                                        pins:pins,
                                        pinMode:'content',
                                        
                                        // onRegionOver : function (element, code, region)
                                        // {
                                        //     highlightRegionOfCountry(code);
                                        // },
                                        onRegionOut : function (element, code, region)
                                        {
                                            unhighlightRegionOfCountry(code);
                                        },
                                        onRegionClick: function (element, code, region)
                                        {
                                            if(!isZoom){ //first click; zooms in
                                                if(countryMap[code]=="Asia"){
                                                    dX=280;dY=-100;dS=1.3;
                                                }
                                                if(countryMap[code]=="Africa"){
                                                    dX=150;dY=150;dS=1.7;
                                                }
                                                if(countryMap[code]=="Europe"){
                                                    dX=170;dY=50;dS=2.4;
                                                }
                                                if(countryMap[code]=="northAmerica"){
                                                    dX=-200;dY=-200;dS=1.5;
                                                }
                                                if(countryMap[code]=="Australia"){
                                                    dX=470;dY=300;dS=2;
                                                }
                                                if(countryMap[code]=="southAmerica"){
                                                    dX=-200;dY=300;dS=1.5;
                                                }
                                                zoomInOnContinent(dX,dY,dS);
                                                isZoom=true;
                                                setRegion(code);
                                                setRegionColors();
                                              //  $('#directions').text('Please select a country');
                                            }
                                            else{ //second click on country
                                                $('#description-box').html('');
                                                countrySelected = true;
                                                selectedCode = code;
                                               // displayBoxText(code);
                                            }
                                        }
  
                                      });
                                      document.getElementById("description-box").style.display = "none";
                                      document.getElementById("backButton").style.display = "none";
                                  
                                     
                                    });
                                    function backButtonClick(){
                                        if(isZoom){
                                            zoomOutOnContinent(dX,dY,dS);
                                            isZoom=false;
                                            jQuery('#vmap').vectorMap('set', 'colors', test);
                                        }
                                    }
                                  </script>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xl-12">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0" id="infra_mcis">Infra - Server</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark" onclick="vm_reg();">Add Server</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-overflow">
                                <table class="table align-items-center table-flush table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Namd(ID)</th>
                                            <th scope="col">CP</th>
                                            <th scope="col">Region</th>
                                            <th scope="col">OS Type</th>
                                            <th scope="col">Public IP</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody id="table_2">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="col-xl-4">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">TopN Traffic - MCIS</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                        <th scope="col">Name(ID)</th>
                                        <th scope="col">Amt</th>
                                        <th scope="col">TBD</th>
                                        <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                mcis-1
                                            </td>
                                            <td>
                                                123421
                                            </td>
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-dark">terminated</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                mcis-2
                                            </td>
                                            <td>
                                                1,480
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">stop</span>
                                            </td>
                                        </tr>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="card shadow" id="map" >
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>MAP Info</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="table">

                        <table class="table table-bordered table-horizontal ">
                            <colgroup>
                                <col style="width: 15%">
                                <col style="width: 15%">
                                <col style="width: 25%">
                                <col style="width: 15%">
                            </colgroup>
                            <tbody id="vm">                                       
                            </tbody>
                            <tbody id="vm_spec">
                                
                                    
                            </tbody>
                            <tbody id="vm_vnetwork">
                            
                            </tbody>
                            <tbody id="vm_image">
                            
                            </tbody>
                            
                            <tbody id="vm_sg">
                                
                            </tbody>
                            <tbody id="sshKey">
                                
                            </tbody>
                        </table>
                    </div>
                   
                </div>
                <div class="card shadow" id="vm_detail" style="display:none;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Server Info</strong>
                            </div>
                           
                        </div>
                    </div>
                    <div class="table">

                        <table class="table table-bordered table-horizontal ">
                            <colgroup>
                                <col style="width: 15%">
                                <col style="width: 15%">
                                <col style="width: 25%">
                                <col style="width: 15%">
                            </colgroup>
                            <tbody id="vm">                                       
                            </tbody>
                            <tbody id="vm_spec">
                                
                                    
                            </tbody>
                            <tbody id="vm_vnetwork">
                            
                            </tbody>
                            <tbody id="vm_image">
                            
                            </tbody>
                            
                            <tbody id="vm_sg">
                                
                            </tbody>
                            <tbody id="sshKey">
                                
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </main>
            <!-- //contents -->

        </div>
        <!-- //container -->

     
   
   

     {{template "Footer" .}}

     <script>
            $(document).ready(function(){
                var nsid = "{{ .NameSpace}}";
                if(!nsid){
                    nsid = $("#namespace1").val()
                }
                if(!NAMESPACE){
                    nsid = $("#namespace1").val()
                }
                var url = CommonURL+"/ns/"+nsid+"/mcis";
                console.log("Dashboard url :",url);
                show_mcis(url);

                getConnection();
            })
    </script>