{{template "Header" .}}

<style>
    .map {
      height: 600px;
      width: 100%;
    }
  </style>
 <!-- MCIS Control methods -->

 

<script type="text/javascript" src="/assets/js/mcis.map.js"></script>
<script type="text/javascript" src="/assets/js/dashboard.manage.js"></script>
<script type="text/javascript" src="/assets/js/mcis.chart.js"></script>
 
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script> -->


 
 <!-- MCIS Control methods -->

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <input type="hidden" name="namespace" id="namespace1" />
            <input type="hidden" id="mcis_id" />
            <input type="hidden" id="mcis_name" />
            <input type="hidden" id="current_vmid" />
            <input type="hidden" id="current_publicIP" />
            <input type="hidden" id="check_dragonFly" />
            <main role="main" class="main">
                <div class="page-header">
                    <div>
                        <h1>{{with .LoginInfo}}{{ .NameSpace }}{{end}} Dashboard</h1>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-5 col-lg-5">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body" style="">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="card-title text-muted mb-0"><storng>MCIS</storng><small class="ml-2 mb-0 text-muted">/ Server</small></h2>
                                        <span class="h1 font-weight-bold mb-0" id="dash_1"> </span>
                                    </div>
                                    <div class="col-auto" id="service_cnt">
                                        <div class="icon icon-shape bg-success text-white rounded shadow mb-0 h1" id="run_cnt">
                                        
                                        </div>
                                        <div class="icon icon-shape bg-secondary text-white rounded shadow mb-0 h1" id="stop_cnt">
                                            
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm-right">
                                    <span class="text-success mr-2"> </span>
                                    <span class="text-sm">Status of Infra Service</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Infra</h5>
                                        <span class="h2 font-weight-bold mb-0">2,356</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last week</span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xl-7 col-lg-7">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body" style="">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="card-title text-muted mb-0"><storng>CP</storng><small class="ml-2 mb-0 text-muted">/ Connection</small></h2>
                                        <span class="h1 font-weight-bold mb-0" id="dash_2">6 /6</span>
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="aws">
                                        
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="az">
                                        
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="gcp">
                                      
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="ab">
                                       
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="os">
                                        
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;" id="ci">
                                       
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm-right">
                                    <span class="text-warning mr-2"></span>
                                    <span class="text-nowrap">Status of Cloud Provider & Connection</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="card shadow" style="min-height:350px;">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2>Service MCIS</h2>
                                    </div>
                                    <div class="col text-right">
                                            <a href="/MCIS/reg" class="btn btn-sm btn-primary">New MCIS</a>
                                        </div>
                                </div>
                            </div>
                            <div class="table-overflow">
                                <table class="table align-items-center table-flush table-hover" id="mcisListTable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Name (ID)</th>
                                            <th scope="col">Total Infra</th>
                                            <!-- <th scope="col"># of Server</th>
                                            <th scope="col"># of Container</th> -->
                                            <th scope="col">Description</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_1">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5" style="max-height:245px;" >
                        <div class="card shadow h-100" style="min-height:350px;">
                            <div class="card-header bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2 class="mb-0">Location</h2>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark" id="see_all" onclick="viewMap();">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                    
                                <!-- Chart -->
                                <div class="d-flex h-100 align-items-center justify-content-center map" id="map" >
                                   
                                    
                                 
                                </div>
                                <div class="" id="map_pop"></div> 
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xl-12">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0" id="infra_mcis">Infra - Server</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark" onclick="vm_reg();">Add Server</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-overflow">
                                <table class="table align-items-center table-flush table-hover" id="serverListTable" >
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Namd(ID)</th>
                                            <th scope="col">CP</th>
                                            <th scope="col">Region</th>
                                            <th scope="col">OS Type</th>
                                            <th scope="col">Public IP</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody id="table_2">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="col-xl-4">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">TopN Traffic - MCIS</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                        <th scope="col">Name(ID)</th>
                                        <th scope="col">Amt</th>
                                        <th scope="col">TBD</th>
                                        <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                mcis-1
                                            </td>
                                            <td>
                                                123421
                                            </td>
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-dark">terminated</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                mcis-2
                                            </td>
                                            <td>
                                                1,480
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">stop</span>
                                            </td>
                                        </tr>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="card shadow" id="map_detail" style="display:none;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>MAP Info</strong>
                            </div>
                            <div class="col text-right">
                                
                                <a href="#!" class="btn btn-sm btn-danger" onclick='$("#map_detail").hide();'>Close</a>
                            </div>
                           
                        </div>
                    </div>
                    <div class="align-items-center justify-content-center map" id="map2" >
                                   
                          <div id="map_pop2"></div>        
                                 
                    </div>
                   
                </div>
                <div class="card shadow" id="vm_detail" style="display:none;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div id="server_text">
                                
                            </div>
                            <div class="col text-right">
                                <button type="button" class="btn btn-sm btn-outline-dark" onclick='show_monitoring();'>
                                <i class="fas fa-desktop"></i>
                                </button>
                                <a href="#!" class="btn btn-sm btn-outline-danger" onclick='$("#vm_detail").hide();'>Close</a>
                            </div>
                           <script>
                               


                           </script>
                        </div>
                    </div>
                    <div class="table">

                        <table class="table table-bordered table-horizontal ">
                            <colgroup>
                                <col style="width: 15%">
                                <col style="width: 15%">
                                <col style="width: 25%">
                                <col style="width: 15%">
                            </colgroup>
                            <tbody id="vm">                                       
                            </tbody>
                            <tbody id="vm_spec">
                                
                                    
                            </tbody>
                            <tbody id="vm_vnetwork">
                            
                            </tbody>
                            <tbody id="vm_image">
                            
                            </tbody>
                            
                            <tbody id="vm_sg">
                                
                            </tbody>
                            <tbody id="sshKey">
                                
                            </tbody>
                        </table>
                    </div>
                   
                </div>
                <div class="card shadow" id="chart_detail" style="display:none;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Monitoring Info</strong>
                            </div>
                            <div class="col text-right">
                                
                                <a href="#!" class="btn btn-sm btn-danger" onclick='$("#chart_detail").hide();'>Close</a>
                            </div>
                           
                        </div>
                    </div>
                    <div class="align-items-center justify-content-center" id="" >
                                   
                    <div style="width:75%;">
                       
                        <canvas id="canvas_0"></canvas>
                    </div>
                    <div style="width:75%;">
                       
                        <canvas id="canvas_1"></canvas>
                    </div>
                    <div style="width:75%;">
                        
                        <canvas id="canvas_2"></canvas>
                    </div>
                    <div style="width:75%;">
                       
                        <canvas id="canvas_3"></canvas>
                    </div>        
                                 
                    </div>
                   
                </div>
            </main>
            <!-- //contents -->

        </div>
        <!-- //container -->
<script>
    
</script>
       

        
   
   

     {{template "Footer" .}}

     <script>
            $('#mcisListTable').on('click', '.clickable-row', function(event) {
            if($(this).hasClass('table-active')){
                $(this).removeClass('table-active'); 
            } else {
                $(this).addClass('table-active').siblings().removeClass('table-active');
            }
            });

            $('#serverListTable').on('click', '.clickable-row', function(event) {
            if($(this).hasClass('table-active')){
                $(this).removeClass('table-active'); 
            } else {
                $(this).addClass('table-active').siblings().removeClass('table-active');
            }
            });
            
            $(document).ready(function(){
                var nsid = "{{ .NameSpace}}";
                if(!nsid){
                    nsid = $("#namespace1").val()
                }
                if(!NAMESPACE){
                    nsid = $("#namespace1").val()
                }
                var url = CommonURL+"/ns/"+nsid+"/mcis?option=status";
                console.log("Dashboard url :",url);
                const osmLayer = new ol.layer.Tile({
                    source: new ol.source.OSM(),
                });

                var JZMap = ""
                console.log("JZMAP here : ",JZMap);
                
                show_mcis(url,JZMap);

                getConnection();
            })
    </script>