{{define "Footer"}}
</div>
<!-- //container -->


<!-- footer -->
<div id="footer">
        <div class="txt">ⓒ 2020 Cloud Barista. All Rights Reserved</div>
        
        <div class="btn_top"><a href="javascript:void(0);"><span>top</span></a></div>
    </div>
    <!-- //footer -->
    
</div>

</div>

</body>
</html>

<script>

    
    function setNS(nsid){
        var apiInfo = ApiInfo
        if(nsid){
            reqUrl = "/SET/NS/"+nsid;
            console.log(reqUrl);
            axios.get(reqUrl,{
                headers:{
                    'Authorization': apiInfo
                }
            }).then(result=>{
                var data = result.data
                console.log(data);
                location.href = "/Dashboard/NS";
             })
        }else{
            alert("NameSpace가 등록되어 있지 않습니다.\n등록페이지로 이동합니다.")
            location.href ="/NS/reg";
        }
        
    } 

    function getNS(){
        var apiInfo = ApiInfo
        reqURL = CommonURL+"/GET/ns";
        axios.get(reqURL,{
        headers:{
            'Authorization': apiInfo,
        }
    }).then(result=>{
            console.log(result.data)
        })
    }
    var nsListUrl = CommonURL+"/ns"
    var apiInfo = ApiInfo
    console.log("nsList url : ",nsListUrl)
    $("#default_namespace").text(NAMESPACE);
   axios.get(nsListUrl,{
        headers:{
            'Authorization': apiInfo
        }
    }).then(result=>{
       var data = result.data
       console.log(data);
       var res = data.ns
    //    if (!res){
    //     alert("NameSpace가 등록되어 있지 않습니다.\n등록페이지로 이동합니다.1")
    //     location.href ="/NS/reg";
    //     return;
    //    }
       var html = "";
       var ns = "";
       if(NAMESPACE){
        for(var i in res){
            if(res[i].name){
                if(NAMESPACE == res[i].name){
                      
                }else{
                   // html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
                   html +='<li><a href="javascript:void(0);" onclick="select_namespace(\''+res[i].id+'\')" data-toggle="modal" data-target="#NameSpace">'+res[i].name+'</a></li>'
                }   
            }
              
            }
       }else{
           if(res){
            if(res[0].id){
            for(var i in res){
                if(i == 0){
                        html += '<option value="'+res[i].id+'" selected>'+res[i].name+'</option>';
                        ns = res[i].id;
                }else{
                    html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
                }   
            }
       
       }else{
        for(var i in res){
            if(i == 1){
                    html += '<option value="'+res[i].id+'" selected>'+res[i].name+'</option>';
                    ns = res[i].id;
                }else if(i >1){
                    html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
                }   
            }
       }
           }
        
       }
       
       $("#name_select").empty();
       $("#name_select").append(html);

       if(ns){
           reqUrl = "/SET/NS/"+ns
           console.log(reqUrl);
        axios.get(reqUrl,{
        headers:{
            'Authorization': apiInfo
        }
    }).then(result=>{
            var data = result.data
            console.log(data);
        })

       }

   })

   function select_namespace(ns_id){
       console.log("select namespace : ",ns_id)
       $("#select_namespace").val(ns_id)
      
       //location.reload();
   }
</script>
{{end}}