{{define "Header"}}
<div id="contents">
			
	<!-- container -->
	<div id="container">

	<!-- header -->
	<div class="header">
			<div class="logo"><img src="/assets/img/common/img_logo.png" alt="Cloud Barista"/></div>
			
			<a href="javascript:;" id="btn_menu"><span></span></a>
			
			<div class="topmenu">
				<ul>
					<li class="logout"><a href="javascript:void(0);" data-toggle="modal" data-target="#logout"><img src="/assets/img/common/icon_logout.png" alt=""/> Logout</a></li>
					<li class="add">
						<img src="/assets/img/common/icon_add.png" alt=""/>
						<div class="infobox">
							<div class="box box_txt">See you in the next release !</div>
						</div>
					</li>
					<li class="notice">
						<img src="/assets/img/common/icon_notice.png" alt=""/>
						<div class="infobox">
							<div class="box box_txt">See you in the next release !</div>
						</div>
					</li>
					<li class="email">
						<img src="/assets/img/common/icon_email.png" alt=""/><span>7</span>
						<div class="infobox">
							<div class="box box_txt">See you in the next release !</div>
						</div>
					</li>
					<li class="setting">
						<a href="javascript:void(0);"><img src="/assets/img/common/icon_setting.png" alt=""/></a>
						<div class="infobox">
							<div class="box">
								<p>Cloud Setting</p>
								<ul>
									<li><a href="javascript:void(0);" data-toggle="modal" data-target="#Config">[Cloud] Config</a></li>
									<li><a href="javascript:void(0);" data-toggle="modal" data-target="#SDK">[Cloud] Driver SDK</a></li>
									<li><a href="javascript:void(0);" data-toggle="modal" data-target="#Credential">Credential</a></li>
									<li><a href="javascript:void(0);" data-toggle="modal" data-target="#Region">Region</a></li>
									<li><a href="javascript:void(0);" data-toggle="modal" data-target="#Provider">[Cloud] Provider</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="question"><a href="../operation/About.html"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
				</ul>
			</div>
			
		</div>
		<!-- //header -->
{{end}}