{{define "LNB"}}

<div id="lnb">
			
        <div class="bg"></div>
            
        <div class="m_box">
            
            <div class="topbox">
                <div class="info">
                    <div class="thumb"><span><img src="/assets/img/contents/img_thumb.jpg" alt=""></span></div>
                    <div class="txt_1">Leonardo DiCaprio</div>
                    <div class="txt_2">
                        
                        <span>Name Space</span>
                        <div class="infobox">
                            <div class="box">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">Select NS</a>
                                        <ul>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NameSpace">ns_aws_1</a></li>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NameSpace">ns_global_2</a></li>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NameSpace">ns_gcp_3</a></li>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NameSpace">ns_demo_4</a></li>
                                        </ul>	
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Add NS</a>
                                        <ul>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NewNS">new NS</a></li>
                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#ManageNS">Manage NS</a></li>
                                        </ul>	
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

           {{template "LNB_popup" .}}
            
            <!-- menu -->
            <div class="leftmenu">
                
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Operation">Operation</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Setting">Setting</a></li>
                </ul>
                
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="Operation">
                        <ul class="menu">
                            <li class="active" id="Dashboard">
                                <a href="javascript:void(0);">Dashboard</a>
                                <ul>
                                    <li id="NS"><a href="/Dashboard/NS">NS</a></li>
                                    <li class="on" id="Global"><a href="/Dashboard/Global">Global</a></li>
                                </ul>
                            </li>
                            <li id="Manage">
                                <a href="javascript:void(0);">Manage</a>
                                <ul>
                                    <li id="MCIS"><a href="/Manage/MCIS/list">MCIS</a></li>
                                    <li id="MC-App"><a href="!#">MC-App</a></li>
                                </ul>
                            </li>
                            <li id="Monitoring">
                                <a href="javascript:void(0);">Monitoring</a>
                                <ul>
                                    <li id="monMCIS"><a href="/Monitoring/MCIS/list">MCIS</a></li>
                                    <li id="monMCApp"><a href="/operation/Monitoring_McApp.html">MC-App</a></li>
                                </ul>
                            </li>
                            <li id="Policy">
                                <a href="javascript:void(0);">Policy</a>
                                <ul>
                                    <li><a href="../operation/Policy_Monitoring.html">Monitoring</a></li>
                                    <li><a href="../operation/Policy_Threshold.html">Threshold</a></li>
                                    <li><a href="../operation/Policy_Placement.html">Placement</a></li>
                                </ul>
                            </li>
                            <li id="About">
                                <a href="javascript:void(0);">About</a>
                                <ul>
                                    <li><a href="../operation/About.html">About</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="tab-pane fade" id="Setting">
                        <ul class="menu">
                            <li id="Resources">
                                <a href="javascript:void(0);">Resources</a>
                                <ul>
                                    <li id="net"><a href="/Vpc/list">Network</a></li>
                                    <li id="sg"><a href="/SecurityGroup/list">Security</a></li>
                                    <li id="ssh"><a href="/SSH/list">SSH key</a></li>
                                    <li id="image"><a href="/Image/list">(Server) Image</a></li>
                                    <li id="spec"><a href="/Spec/list">(Server) Spec</a></li>
                                </ul>
                            </li>
                            <li id="AppRes">
                                <a href="javascript:void(0);">App Resource</a>
                                <ul>
                                    <li><a href="!#">(Server) Image</a></li>
                                    <li><a href="!#">Pod</a></li>
                                </ul>
                            </li>
                            <li id="Cloud">
                                <a href="javascript:void(0);">Cloud Connections</a>
                                <ul>
                                    <li id="Connection"><a href="/Cloud/Connection/list">Cloud Connections</a></li>
                                </ul>
                            </li>
                            <li id="NameSpace">
                                <a href="javascript:void(0);">NameSpace</a>
                                <ul>
                                    <li id="NS"><a href="/NameSpace/NS/list">NameSpace</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!-- //menu -->
            
        </div>
        
        <div class="bottom"></div>
        <a href="javascript:;" id="m_close"></a>
        
</div>
    

{{end}}