{{template "Header" .}}
    <!-- MCIS Control methods -->
    <script type="text/javascript" src="/assets/js/mcis.manage.js"></script>
    <!-- MCIS Control methods -->

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <main role="main" class="main" id="box_dialog">
                <div class="page-header" id="box_dialog">
                    <div>
                        <h1>MCIS Management</h1>
                    </div>
                </div>
                <!-- table -->
                <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>Service - MCIS</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="mcis_delete();">Delete</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark">Modify</button>
                                    <button type="button" class="btn btn-sm btn-dark" onclick="mcis_reg()">Regist</button>
                                    <button type="button" class="btn btn-sm btn-primary" onclick="location.href='/MCIS/reg';">New MCIS</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mb-3 justify-content-between align-items-center">
                                <input type="hidden" id="mcis_id" />
                                <input type="hidden" id="mcis_name" />
                                <!-- <div>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">show</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">search</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div> -->
                            </div>
                            <div class="table">
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width: 50px">
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col style="width: 50px">
                                        <col>
                                        <col style="width: 150px">
                                    </colgroup>
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>                                            
                                            <th>NAME(ID)</th>
                                            <th>TIME</th>
                                            <th>CNT(VM/CP)</th>
                                            <th>Desc</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_1">
                                        <!-- <tr>
                                            <td class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </td>
                                            <td><a href="">Baristar1</a></td>
                                            <td>aws driver 1aws driver ver0.1</td>
                                            <td>aws key 1</td>
                                            <td>ap-northest-1</td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">stop</span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-icon">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-icon">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                            </td>
                                        </tr> -->
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
                <!-- table -->
                <!-- card type -->
                <div class="row mb-12" style="padding-top:20px;" id="card">
                    <!-- <div class="col-xl-12 col-lg-12">
                        <div class="card card-stats mb-12 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">MCIS 1</h5>
                                        <span class="h2 font-weight-bold mb-0">350,897</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- card type -->
                <!-- table -->
                <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>Resource - VM</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="vm_delete();">Delete</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark">Modify</button>
                                    <button type="button" class="btn btn-sm btn-dark" onclick="vm_reg()">Regist</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mb-3 justify-content-between align-items-center">
                               
                            </div>
                            <div class="table">
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width: 50px">
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col style="width: 100px">
                                    </colgroup>
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>                                            
                                            <th>NAME(ID)</th>
                                            <th>TIME</th>
                                            <th>CP</th>
                                            <th>Region</th>
                                            <th>Desc</th>
                                            <th>Status</th>
                                            <th>Alert</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_2">                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <div class="d-flex align-items-center">
                                    <span class="mr-2">
                                        showing 1 to <span>5</span> <span>25</span> record
                                    </span>
                                    <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item disabled">
                                                <span class="page-link"><i class="fas fa-angle-left"></i></span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">
                                                    2
                                                    <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-dark btn-sm">등록</button>
                                </div> -->
                            </div>
                        </div>
                </div>
                <!-- table -->
                <!-- table -->
                <div class="card" id="vm_detail" style="display:none;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>VM - Detail </strong>
                            </div>
                            <div>
                                <!-- 좌우측 정렬되는 버튼이 필요할때 여기에 넣어주세요 -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered table-horizontal mb-0">
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 20%">
                            </colgroup>
                            <tbody id="vm">                                       
                            </tbody>
                            <tbody id="vm_spec">
                                
                                    
                            </tbody>
                            <tbody id="vm_vnetwork">
                               
                            </tbody>
                            
                            <tbody id="vm_sg">
                                
                            </tbody>
                            <tbody id="sshKey">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
                <!-- table-->
            </main>
            <!-- //contents -->

        </div>
        <!-- //container -->


     {{template "Footer" .}}
     <script>
     $(document).ready(function(){
         var nsid = "{{ .NameSpace}}";
         var url = CommonURL+"/ns/"+nsid+"/mcis";
         console.log("url :",url);
         show_mcis(url);
     })
     </script>
     