{{define "Mcis_other"}}
<!-- Other -->
<div class="tab-pane fade" id="Other">
													
	<div class="tab_ip_box">
		<div class="tit"><strong>Others Configuration</strong> <a href="javascript:void(0);" class="btn_clear">Clear</a></div>
		
		<div class="tab_ipbox">
			<div class="ipbox ipbox1">
				<ul>
					<li>
						<label>keyvalue(Json)</label>
						<span class="sbox sbox_m">
							<textarea  cols="" rows="" placeholder="Input Json Context" class="pline ta_1" title="" ></textarea>
							<a href="javascript:void(0);" class="btn_edit">Edit</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="btn_tab">
  <a href="javascript:void(0);" class="btn_prev">Prev</a>
</div>
</div>
<!-- //Other -->
{{end}}