{{define "Mcis_list"}}
	<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>List of MCIS</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<p>NS name</p>
													<ul>
														<li><a href="javascript:void(0);">name</a></li>
														<li><a href="javascript:void(0);">status</a></li>
														<li><a href="javascript:void(0);">Description</a></li>
														<li><a href="javascript:void(0);">Server name</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">name</a></li>
														<li><a href="javascript:void(0);">status</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li>
															<strong>Life Cycle</strong>
															<ul>
																<!-- <li><a href="javascript:void(0);" data-toggle="modal" data-target="#Life_Start">Start</a></li> -->
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Reboot">Reboot</a></li>
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Suspend">Suspend</a></li>
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Resume">Resume</a></li>								
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_Life_Terminate">Terminate</a></li>
															</ul>
														</li>
														<li>
															<strong>Manage</strong>
															<ul>
																<li><a href="javascript:void(0);" data-toggle="modal" data-target="#MCIS_n_New">New / Extend</a></li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	{{template "Manage_MCIS_Life_Cycle_popup" .}}
						
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup><col width=""><col width=""><col width="15%"><col width="15%"><col width="17%"><col width="18%"><col width="50px"></colgroup>
										<thead>
											<tr>
												<th>Status</th>
												<th>Name</th>
												<th>Cloud Connection</th>
												<th>Total Infras <span>Count of Total Servers</span></th>
												<th># of Servers <span>Count of Run / Stop / Pause / etc</span></th>
												<th>Description</th>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
											</tr>
										</thead>
										<tbody id="table_1">
											
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
										var url = CommonURL+"/ns/"+NAMESPACE+"/mcis";
										
								
											show_mcis_list2(url);
										


								    
									});
								</script>
								
								
								<!-- <div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div> -->
								
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
{{end}}