{{define "Mcis_simple_configure"}}
<div class="servers_config simple_servers_config" id="simple_server_config">
	<form id="simple_form">	
		<input type="hidden" name="provider" id="" />	
		
		<!-- <input type="hidden" name="specId"  value="" id="s_specId" /> -->
		<input type="hidden" name="subnetId"  value="" id="s_subnetId"/>
		<input type="hidden" name="vNetId"  value="" id="s_vNetId"/>	
		<input type="hidden" name="securityGroupIds[]"  value="" id="securityGroupIds"/>	
		<input type="hidden" name="vm_cnt" value="" id="vm_cnt" />		
		<div class="top_box">
			<div class="titbox_sc">
				<div class="tit">Server Configuration</div>
			</div>
		
			<div class="ip_box">
				
				<div class="svc_ipbox">
					<div class="ipbox ipbox3">
						<ul>
							<li>
								<label><span class="ch">*</span>Server Name</label>
								<input type="text" name="name" value="" placeholder="Input Name" class="pline ip_3" title="" id="s_name" />
							</li>
						</ul>
					</div>
					<div class="ipbox ipbox4">
						<ul>
							<li>
								<label>Description</label>
								<textarea  cols="" rows="" placeholder="Input Description" class="pline ta_3" title=""  name="description"></textarea>
							</li>
						</ul>
					</div>
				</div>

				<div class="svc_ipbox svc_ipbox_2">
					<div class="ipbox ipbox3">
						<ul>
							<li>
								<label><span class="ch">*</span>Provider</label>
								<select  class="selectbox white pline sel_4"  name="provider"  id="select_provider" onchange="changeProvider(this.value,'configName');">
									<option value="">Select Provider</option>
								</select>
							</li>
							<li>
								<label><span class="ch">*</span>Connection Name</label>
								<select class="selectbox white pline sel_4" name="connectionName" id="configName" onchange="changeConnectionInfo(this.value);">
									<option value="1">Select Connection</option>
								</select>
							</li>
						</ul>
					</div>
				</div>

				<div class="svc_ipbox svc_ipbox_2">
					<div class="ipbox ipbox3">
						<ul>
							<li>
								<label><span class="ch">*</span>Spec</label>
								<select class="selectbox white pline sel_4" id="s_spec" name="specId">
									<option value="1">Select Spec</option>
								</select>
							</li>
							<li>
								<label><span class="ch">*</span>which OS</label>
								<select class="selectbox white pline sel_4" name="imageId" id="s_imageId"> 
									<option value="1">Select OS Platform</option>
								</select>
							</li>
						</ul>
					</div>
					<!-- <div class="ipbox ipbox4 ipbox5">
						<ul>
							<li>
								<label>vCPU core</label>
								<div class="spec_select_box">
									<div class="s_slider_box">
										<div class="slider_ip">
											<button type="button" class="btn_s btn_s_minus">-</button>
											<div>
												<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" />
											</div>
											<button type="button" class="btn_s btn_s_plus">+</button>
										</div>
										<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
									</div>
									<span class="stxt">Unit</span>
								</div>
							</li>
							<li>
								<label>memory</label>
								<div class="spec_select_box">
									<div class="s_slider_box">
										<div class="slider_ip">
											<button type="button" class="btn_s btn_s_minus">-</button>
											<div>
												<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="0" />
											</div>
											<button type="button" class="btn_s btn_s_plus">+</button>
										</div>
										<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />
									</div>
									<span class="stxt">Unit</span>
								</div>
							</li>
						</ul>
					</div> -->
				</div>
				
				<div class="svc_ipbox svc_ipbox_2">
					<div class="ipbox ipbox3">
						<ul>
							<li>
								<label><span class="ch">*</span>Access (ssh key)</label>
								<select class="selectbox white pline sel_4" id="sshKey" name="sshKeyId">
									<option value="">Select SSH Key</option>
								</select>
								<!-- <span class="sbox">
									<input type="text" name="" value="" placeholder="Filter Items" class="pline ip_4 search_ip" title="" />
									<input type="submit" name="" class="btn_search" value="" title="" />
								</span> -->
							</li>
						</ul>
					</div>
					<!-- <div class="ipbox ipbox4">
						<ul>
							<li>
								<input type="text" name="" value="" placeholder="" class="gray ip_3" title=""readonly />
							</li>
						</ul>
					</div> -->
				</div>
				
			</div>
			<!-- button -->
			<div class="btnbox spec_select_box">
				<div class="svc_ipbox svc_ipbox_2">
					
					<div class="amount_add s_slider_box">
						<div class="add_box">
							<div class="a_box">
								<strong class="t font-NotoKR">추가 수량</strong>
								<div class="a_slider">
									<div class="slider_ip">
										<button type="button" class="btn_s btn_s_minus">-</button>
										<div>
											<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" />
										</div>
										<button type="button" class="btn_s btn_s_plus">+</button>
									</div>
									<input type="text" name="vm_add_cnt" value="0" placeholder="0" class="components_input txt_ipbox" title="" readonly id="vm_add_cnt"/>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="btnbox spec_select_box">
					<div class="btn_right">
						
						<button type="button" name="" value="" class="btn_done btn_co btn_cr_g" onclick="simple_btn();"><span>DONE</span></button> 
						<button type="button" name="" value="" class="btn_clear btn_co btn_cr_b">CLEAR</button> 
						
					</div>
				</div>
			</div>
			<!-- //button -->
		</div>
	</form>
</div>

<script>
			$(document).ready(function(){
				var spiderURL =  "{{ .comURL.SpiderURL}}"
        		var apiInfo = "{{ .apiInfo}}";
				var simple_target = "select_provider"
				var simple_config_cnt = 0
				getRegionName();
				getCloudOS(spiderURL, apiInfo, simple_target)
				
			})

			function changeProvider(provider, target){
				var url = SpiderURL+"/connectionconfig";

				var apiInfo = ApiInfo
                axios.get(url,{
                    headers:{
                        'Authorization': apiInfo
                    }
                }).then(result=>{
					var data = result.data.connectionconfig
					var html = "<option value=''>Select Connection Config</option>"
					console.log("connection data : ",data);
					if(data){
						data.filter(csp=> csp.ProviderName === provider ).map(item =>(
							html += '<option value="'+item.ConfigName+'" item="'+item.ProviderName+'">'+item.ConfigName +'</option>'
						))
						console.log('html connection config : ',html)
						$("#"+target).empty()
						$("#"+target).append(html)
					}


				})
			}

			function getCloudOS(url, apiInfo, target){
				var req_url = url+"/cloudos"
				var initCSP = ""
				axios.get(req_url,{
				headers:{
						'Authorization': apiInfo
					}
				}).then(result=>{
					var data = result.data.cloudos
					var html =""
					if(data){
						html += "<option value=''>Select Provider</option>"
						data.map(csp=>(html += '<option value="'+csp+'">'+csp+'</option>'))
					}
					$("#"+target).empty()
					$("#"+target).append(html)
				}) 
			}
			function changeConnectionInfo(configName){
				console.log("config name : ",configName)
                getImageInfo(configName);
                getSecurityInfo(configName);
                getSSHKeyInfo(configName);
				getVnetInfo(configName);
				getSpecInfo(configName);
			}
			
			function getImageInfo(configName){
				console.log("1 : ",configName);
				 var configName = configName;
				 if(!configName){
					 configName = $("#configName option:selected").val();
				 }
				 console.log("2 : ",configName);
			 
				 var url = CommonURL+"/ns/"+NAMESPACE+"/resources/image";
				 var html = "";
				 var apiInfo = ApiInfo
				 axios.get(url,{
					 headers:{
						 'Authorization': apiInfo
					 }
				 }).then(result=>{
					 console.log("Image Info : ",result.data)
					 data = result.data.image
					 if(!data){
						 alert("등록된 이미지 정보가 없습니다.")
						 location.href = "/Image/list"
						 return;
					 }
					 for(var i in data){
						 if(data[i].connectionName == configName){
							 html += '<option value="'+data[i].id+'" >'+data[i].name+'('+data[i].id+')</option>'; 
						 }
					 }
					 $("#s_imageId").empty();
					 $("#s_imageId").append(html);
					 
				 })
			 }
 			function getSecurityInfo(configName){
				 var configName = configName;
				 if(!configName){
					 configName = $("#configName option:selected").val();
				 }
				 var url = CommonURL+"/ns/"+NAMESPACE+"/resources/securityGroup";
				 var html = "";
				 var apiInfo = ApiInfo
				 var default_sg = "";
				 axios.get(url,{
					 headers:{
						 'Authorization': apiInfo
					 }
				 }).then(result=>{
					 data = result.data.securityGroup
					 var cnt = 0
					 for(var i in data){
						 if(data[i].connectionName == configName){
							 cnt ++;
							 html += '<option value="'+data[i].id+'" >'+data[i].cspSecurityGroupName+'('+data[i].id+')</option>'; 
							if(cnt ==1 ){
								default_sg = data[i].id
							}
								
						
						}
					 }
				   
					 $("#sg").empty();
					 $("#sg").append(html);
					 $("#securityGroupIds").val(default_sg)
					 
				 })
			 }
			 function getSpecInfo(configName){
				var configName = configName;
				if(!configName){
					configName = $("#configName option:selected").val();
				}
				var url = CommonURL+"/ns/"+NAMESPACE+"/resources/spec";
				var html = "";
				var apiInfo = ApiInfo
				axios.get(url,{
					headers:{
						'Authorization': apiInfo
					}
				}).then(result=>{
					var data = result.data.spec
					console.log("spec result : ",data)
					if(data){
						html +="<option value=''>Select SpecName</option>"
						data.filter(csp => csp.connectionName === configName).map(item =>(
							html += '<option value="'+item.id+'">'+item.name+'('+item.cspSpecName+')</option>'	
						))

					}else{
						html +=""
					}
					
				  
					$("#s_spec").empty();
					$("#s_spec").append(html);
					
				})
			}
			function getSSHKeyInfo(configName){
				 var configName = configName;
				 if(!configName){
					 configName = $("#configName option:selected").val();
				 }
				 var url = CommonURL+"/ns/"+NAMESPACE+"/resources/sshKey";
				 var html = "";
				 var apiInfo = ApiInfo
				 axios.get(url,{
					 headers:{
						 'Authorization': apiInfo
					 }
				 }).then(result=>{
					 console.log("sshKeyInfo result :",result)
					 data = result.data.sshKey
					 for(var i in data){
						 if(data[i].connectionName == configName){
							 html += '<option value="'+data[i].id+'" >'+data[i].cspSshKeyName+'('+data[i].id+')</option>'; 
						 }
					 }
					 $("#sshKey").empty();
					 $("#sshKey").append(html);
					 
				 })
			 }
			function getVnetInfo(configName){
				var configName = configName;
				console.log("get vnet INfo config name : ",configName)
                if(!configName){
                    configName = $("#configName option:selected").val();
				}
				console.log("get vnet INfo config name : ",configName)
                var url = CommonURL+"/ns/"+NAMESPACE+"/resources/vNet";
                var html = "";
                var html2 = "";
                var apiInfo = ApiInfo
                axios.get(url,{
                    headers:{
                        'Authorization': apiInfo
                    }
                }).then(result=>{
                    data = result.data.vNet
					console.log("vNetwork Info : ",result)
					var init_vnet = "";
					var init_subnet = "";
					var v_net_cnt = 0
					var subnet_cnt = 0;
                    for(var i in data){
                        if(data[i].connectionName == configName){
                            html += '<option value="'+data[i].id+'" selected>'+data[i].cspVNetName+'('+data[i].id+')</option>'; 
							v_net_cnt++;
							var subnetInfoList = data[i].subnetInfoList
							if(v_net_cnt == 1){
								init_vnet = data[i].id
								console.log("init_vnet :",init_vnet)
							}
							
                            for(var k in subnetInfoList){
								
									init_subnet = subnetInfoList[0].IId.NameId
									console.log("init_subnet :",init_subnet)
							
                                html2 += '<option value="'+subnetInfoList[k].IId.NameId+'" >'+subnetInfoList[k].IPv4_CIDR+'</option>'; 
                            }
                        }
                    }
                    $("#vnet").empty();
                    $("#vnet").append(html);
                    $("#subnet").empty();
					$("#subnet").append(html2);
					
					//setting default
					$("#s_subnetId").val(init_subnet);
					$("#s_vNetId").val(init_vnet);				
                    
                })
            }
			
			function getConnectionInfo(provider, target){
                var url = SpiderURL+"/connectionconfig";
                console.log("provider : ",provider)
				if(!provider){
					alert("Please select Provider!!")
					$("#select_provider").focus();
					return;
				}
                //var provider = $("#provider option:selected").val();
                var html = "";
                var apiInfo = ApiInfo
                axios.get(url,{
                    headers:{
                        'Authorization': apiInfo
                    }
                }).then(result=>{
                    var data = result.data.connectionconfig
                    console.log("connection data : ",data);
					if(data){
						data.filter(item => item.ProviderName === provider).map(csp=>(
							html += '<option value' 
						))
					}
                    var count = 0; 
                    var configName = "";
                    var confArr = new Array();
                    for(var i in data){
                        if(provider == data[i].ProviderName){ 
                            count++;
                            html += '<option value="'+data[i].ConfigName+'" item="'+data[i].ProviderName+'">'+data[i].ConfigName+'</option>';
                            configName = data[i].ConfigName
                            confArr.push(data[i].ConfigName)
                            
                        }
                    }
                    
                    $("#"+target).empty();
                    $("#"+target).append(html);
               

                    
                })
            }
			function getConnectionInfo(provider){
                var url = SpiderURL+"/connectionconfig";
                console.log("provider : ",provider)
                //var provider = $("#provider option:selected").val();
                var html = "";
                var apiInfo = ApiInfo
                axios.get(url,{
                    headers:{
                        'Authorization': apiInfo
                    }
                }).then(result=>{
                    var data = result.data.connectionconfig
                    console.log("connection data : ",data);

					if(data){
						data.filter(csp => csp.ProviderName === provider).map(item =>(
							html += '<option value="'+item.ConfigName+'" item="'+item.ProviderName+'">'+item.ConfigName+'</option>'
						))
					}
                   
                    $("#configName").empty();
					$("#configName").append(html);
					
                    getImageInfo(configName);
                    getSecurityInfo(configName);
                    getSSHKeyInfo(configName);
                    getVnetInfo(configName);

                    
                })
            }
			function setProvider(provider){
				if(provider){
					$("#s_provider").val(provider);
				}
				
			}
			function getRegionName(){
				var url = SpiderURL+"/region"
				var apiInfo = ApiInfo
				axios.get(url,{
					headers:{
						'Authorization': apiInfo
					}
				}).then(result=>{
					console.log("getRegionName : ",result.data.region);
					var data = result.data.region
					var html = "";
					html +='<option value=""> select cp & region </option>'	;
					for (var i in data){
							html +='<option value="'+data[i].RegionName+'">'+data[i].ProviderName+'&'+data[i].RegionName    
								 +'</option>'						
					}
					console.log("html : ",html)
					$("#cp_region").empty();
					$("#cp_region").append(html);
				})
			}
			
			const Simple_Server_Config_Arr = new Array();
			var simple_data_cnt = 0
			const cloneObj = obj=>JSON.parse(JSON.stringify(obj))
			function simple_btn(){
				var simple_form = $("#simple_form").serializeObject()
				var server_name = simple_form.name
				var server_cnt = parseInt(simple_form.vm_add_cnt)
				console.log('server_cnt : ',server_cnt)
				var add_server_html = "";
				
				if(server_cnt > 1){
					for(var i = 1; i <= server_cnt; i++){
						var new_vm_name = server_name+"-"+i;
						var object = cloneObj(simple_form)
						object.name = new_vm_name
						
						add_server_html +='<li onclick="view_simple(\''+simple_data_cnt+'\')">'
								+'<div class="server server_on bgbox_b">'
								+'<div class="icon"></div>'
								+'<div class="txt">'+new_vm_name+'</div>'
								+'</div>'
								+'</li>';
						Simple_Server_Config_Arr.push(object)
						console.log(i+"번째 Simple form data 입니다. : ",object);
					}
				}else{
					Simple_Server_Config_Arr.push(simple_form)
					add_server_html +='<li onclick="view_simple(\''+simple_data_cnt+'\')">'
									+'<div class="server server_on bgbox_b">'
									+'<div class="icon"></div>'
									+'<div class="txt">'+server_name+'</div>'
									+'</div>'
									+'</li>';

				}
				$(".simple_servers_config").removeClass("active");
				$("#mcis_server_list").prepend(add_server_html)
				console.log("simple btn click and simple form data : ",simple_form)
				console.log("simple data array : ",Simple_Server_Config_Arr);
				simple_data_cnt++;
				$("#simple_form").each(function(){
					this.reset();
				})
			}
			function view_simple(cnt){
				console.log('view simple cnt : ',cnt);
				var select_form_data = Simple_Server_Config_Arr[cnt]
				console.log('select_form_data : ', select_form_data);
				$(".simple_servers_config").addClass("active")
				$(".new_servers_config").removeClass("active")

			}
			

		function simple_config_form(cnt){
				console.log("simple_config_form cnt : ",cnt)
				if(cnt == 0){
					return;
				}
				console.log("simple_config_cnt : ",cnt)
				var before_cnt = cnt -1;
				$("#simple_form_"+before_cnt).hide()
				var html  =""
				html +='<form id="simple_form_'+cnt+'">	'
				   
					+'<div class="top_box">'
					+'<div class="titbox_sc">'
					+'<div class="tit">Simple Server Configuration</div>'
					+'</div>'
					+'<div class="ip_box">'
					+'<div class="svc_ipbox">'
					+'<div class="ipbox ipbox3">'
					+'<ul>'
					+'<li>'
					+'<label><span class="ch">*</span>Server Name</label>'
					+'<input type="text" name="vm_name" value="" placeholder="Input Name" class="pline ip_3" title=""  />'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'<div class="ipbox ipbox4">'
					+'<ul>'
					+'<li>'
					+'<label>Description</label>'
					+'<textarea  cols="" rows="" placeholder="Input Description" class="pline ta_3" title=""  ></textarea>'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'</div>'
					+'<div class="svc_ipbox svc_ipbox_2">'
					+'<div class="ipbox ipbox3">'
					+'<ul>'
					+'<li>'
					+'<label><span class="ch">*</span>Provider</label>'
					+'<select  class="selectbox white pline sel_4"  name="provider">'
					+'<option value="">Select Provider</option>'
					+'</select>'
					+'</li>'
					+'<li>'
					+'<label><span class="ch">*</span>Connection Name</label>'
					+'<select class="selectbox white pline sel_4" name="connectionName">'
					+'<option value="1">Select Connection</option>'
					+'</select>'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'</div>'
					+'<div class="svc_ipbox svc_ipbox_2">'
					+'<div class="ipbox ipbox3">'
					+'<ul>'
					+'<li>'
					+'<label><span class="ch">*</span>Where</label>'
					+'<select class="selectbox white pline sel_4" id="cp_region" readonly>'
					+'<option value="1">Select CP & Region</option>'
					+'</select>'
					+'</li>'
					+'<li>'
					+'<label><span class="ch">*</span>which OS</label>'
					+'<select class="selectbox white pline sel_4">'
					+'<option value="1">Select OS Platform</option>'
					+'</select>'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'<div class="ipbox ipbox4 ipbox5">'
					+'<ul>'
					+'<li>'
					+'<label>vCPU core</label>'
					+'<div class="spec_select_box">'
					+'<div class="s_slider_box">'
					+'<div class="slider_ip">'
					+'<button type="button" class="btn_s btn_s_minus">-</button>'
					+'<div>'
					+'<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" />'
					+'</div>'
					+'<button type="button" class="btn_s btn_s_plus">+</button>'
					+'</div>'
					+'<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />'
					+'</div>'
					+'<span class="stxt">Unit</span>'
					+'</div>'
					+'</li>'
					+'<li>'
					+'<label>memory</label>'
					+'<div class="spec_select_box">'
					+'<div class="s_slider_box">'
					+'<div class="slider_ip">'
					+'<button type="button" class="btn_s btn_s_minus">-</button>'
					+'<div>'
					+'<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="0" />'
					+'</div>'
					+'<button type="button" class="btn_s btn_s_plus">+</button>'
					+'</div>'
					+'<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />'
					+'</div>'
					+'<span class="stxt">Unit</span>'
					+'</div>'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'</div>'
					+''
					+'<div class="svc_ipbox svc_ipbox_2">'
					+'<div class="ipbox ipbox3">'
					+'<ul>'
					+'<li>'
					+'<label><span class="ch">*</span>Access (ssh key)</label>'
					+'<select class="selectbox white pline sel_3">'
					+'<option value="1">All</option>'
					+'</select>'
					+'<span class="sbox">'
					+'<input type="text" name="" value="" placeholder="Filter Items" class="pline ip_4 search_ip" title="" />'
					+'<input type="submit" name="" class="btn_search" value="" title="" />'
					+'</span>'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'<div class="ipbox ipbox4">'
					+'<ul>'
					+'<li>'
					+'<input type="text" name="" value="" placeholder="" class="gray ip_3" title=""readonly />'
					+'</li>'
					+'</ul>'
					+'</div>'
					+'</div>'
					+''
					+'</div>'
				
					+'<div class="btnbox spec_select_box">'
					+'<div class="btn_right">'
					+''
					+'<div class="amount_add s_slider_box">'
					+'<input type="text" name="" value="0" placeholder="" class="a_ip components_input" title="" disabled />'
					+'<a href="javascript:void(0);" class="btn_add btn_s_plus"></a>'
					+'<div class="add_box">'
					+'<div class="a_box">'
					+'<strong class="t font-NotoKR">추가 수량</strong>'
					+'<div class="a_slider">'
					+'<div class="slider_ip">'
					+'<button type="button" class="btn_s btn_s_minus">-</button>'
					+'<div>'
					+'<input type="text" name="" value="" placeholder="" class="slider_bar" title="" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" />'
					+'</div>'
					+'<button type="button" class="btn_s btn_s_plus">+</button>'
					+'</div>'
					+'<input type="text" name="" value="0" placeholder="0" class="components_input txt_ipbox" title="" disabled />'
					+'</div>'
					+'</div>'
					+'</div>'
					+'</div>'
					+'<button type="button" name="" value="" class="btn_done btn_co btn_cr_g" onclick="simple_btn();"><span>DONE</span></button>'
					+'<button type="button" name="" value="" class="btn_clear btn_co btn_cr_b">CLEAR</button>'
					+'</div>'
				
					+'</div>'
					+'</div>'
					+'</form>'
					
					$("#simple_server_config").append(html);
		}
</script>
{{end}}