{{define "Modal"}}
<!-- popup logout -->
<div class="modal fade layerpopup" id="logout" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt">Would you like to logout?</div>
					<div class="btnbox">
						<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal" onclick="location.href='../login.html'">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup logout -->

	<!-- popup Config -->
	<div class="modal fade layerpopup" id="Config" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt">Would you like to set Cloud config ?</div>
					<div class="btnbox">
						<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup Config -->

	<!-- popup SDK -->
	<div class="modal fade layerpopup" id="SDK" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt">Would you like to set Cloud Driver SDK ?</div>
					<div class="btnbox">
						<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup SDK -->

	<!-- popup Credential -->
	<div class="modal fade layerpopup" id="Credential" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt">Would you like to set Credential ?</div>
					<div class="btnbox">
						<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup Credential -->

	<!-- popup Region -->
	<div class="modal fade layerpopup" id="Region" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt">Would you like to set Region ?</div>
					<div class="btnbox">
						<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup Region -->

	<!-- popup Provider -->
	<div class="modal fade layerpopup" id="Provider" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-body">
					<div class="txt">Would you like to set Cloud Provider ?</div>
					<div class="btnbox">
						<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn_ok" data-dismiss="modal">OK</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //popup Provider -->
{{end}}