{{template "Header" .}}
    <!-- MCIS Control methods -->
    <script type="text/javascript" src="/assets/js/monitoring.manage.js"></script>
    <script type="text/javascript" src="/assets/js/mcis.chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- MCIS Control methods -->

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <main role="main" class="main" id="box_dialog">
                <div class="page-header" id="box_dialog">
                    <div>
                        <h1>MCIS Monitoring</h1>
                    </div>
                </div>
                <!-- table -->
                <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>List of MCIS</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    <!-- <button type="button" class="btn btn-sm btn-outline-dark">Modify</button> -->
                                    <button type="button" class="btn btn-sm btn-dark">Regist</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mb-3 justify-content-between align-items-center">
                                <!-- <div>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">show</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">search</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div> -->
                            </div>
                            <div class="table">
                                <table class="table table-bordered table-hover">
                                    <colgroup>
                                        <col style="width: 50px">
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col style="width: 50px">
                                        <col>
                                        <col style="width: 150px">
                                    </colgroup>
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>                                            
                                            <th>Status</th>
                                            <th>Name (ID)</th>
                                            <th>Total infra</th>
                                            <th># of Server</th>
                                            <th># of Container</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_1">
                                      
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
                <!-- table -->
                <!-- card type -->
                <div class="row mb-12" style="padding-top:20px;" id="card"> 
                        <div class="col-xl-12 col-lg-12">
                        <!-- <div class="card card-stats mb-12 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">MCIS 1</h5>
                                        <span class="h2 font-weight-bold mb-0">350,897</span>
                                    </div>
                                    <div class="col-auto">
                                       <canvas id="canvas1"></canvas>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- card type -->
                <!-- table -->
                <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>List of Server</strong>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="vm_delete();">Delete</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark">Modify</button>
                                    <button type="button" class="btn btn-sm btn-dark" onclick="vm_reg()">New/Add Server</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex mb-3 justify-content-between align-items-center">
                               
                            </div>
                            <div class="table">
                                <table class="table table-bordered table-hover">
                                    <colgroup>
                                        <col style="width: 50px">
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col style="width: 100px">
                                    </colgroup>
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>                                            
                                            <th>Status</th>
                                            <th>Name (ID)</th>
                                            <th>CP</th>
                                            <th>Region</th>
                                            <th>Cloud Connection</th>
                                            <th>OS Type</th>
                                            <th>Public IP</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table_2">                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <div class="d-flex align-items-center">
                                    <span class="mr-2">
                                        showing 1 to <span>5</span> <span>25</span> record
                                    </span>
                                    <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="page-item disabled">
                                                <span class="page-link"><i class="fas fa-angle-left"></i></span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">
                                                    2
                                                    <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-dark btn-sm">등록</button>
                                </div> -->
                            </div>
                        </div>
                </div>
                <!-- table -->
                 <!-- card type -->
            <div class="row mb-4" style="padding-top:20px;" >
                <div class="col-xl-3 col-lg-6" id="cpu">
                       
                </div>
                <div class="col-xl-3 col-lg-6" id="memory">
                    
                </div>
                <div class="col-xl-3 col-lg-6" id="disk">
                        
                </div>
                <div class="col-xl-3 col-lg-6" id="network">
                    
                </div>

            </div>
            <div style="width:75%;">
                여기는 차트가 들어갈 공간입니다.
                <canvas id="canvas_0"></canvas>
            </div>
            <div style="width:75%;">
                여기는 차트가 들어갈 공간입니다.
                <canvas id="canvas_1"></canvas>
            </div>
            <div style="width:75%;">
                여기는 차트가 들어갈 공간입니다.
                <canvas id="canvas_2"></canvas>
            </div>
            <div style="width:75%;">
                여기는 차트가 들어갈 공간입니다.
                <canvas id="canvas_3"></canvas>
            </div>
           
           
                <!-- card type -->
            </main>
            <!-- //contents -->

        </div>
        <!-- //container -->


     {{template "Footer" .}}
     <script>
     $(document).ready(function(){
         var nsid = "{{ .NameSpace}}";
         var url = CommonURL+"/ns/"+nsid+"/mcis?option=status";
         console.log("url :",url);
         show_mcis(url);
     })
     </script>
     <script>
     function showMonitoring(mcis_id, vm_id){
         $("#cpu").empty()
         $("#memory").empty()
         $("#disk").empty()
         $("#network").empty()
          var arr = ["cpu","memory","disk","network"];
          var periodType = "m";
          var duration = "10m";
          var statisticsCriteria = "last";
          
          for (var i in arr){
            var chart_target = "canvas_"+i;
             getMetric(chart_target,arr[i],mcis_id,vm_id,arr[i],periodType,statisticsCriteria,duration);
               
            

            
          }
     }
     function getMetric(chart_target,target, mcis_id, vm_id, metric, periodType,statisticsCriteria, duration){
         console.log("====== Start GetMetric ====== ")
        var color = "";
        var metric_size ="";
        var ctx = document.getElementById(chart_target).getContext('2d')
        var chart = new Chart(ctx,{
            type:"line",
            data:{},
            options:{
    responsive: true,
    title: {
        display: true,
        text: target
    },
    tooltips: {
        mode: 'index',
        intersect: false,
    },
    hover: {
        mode: 'nearest',
        intersect: true
    },
    scales: {
        x: {
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Time'
            }
        },
        y: {
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Value'
            }
        }
    }
}
        });
        
        
        var url = DragonFlyURL+"/mcis/"+mcis_id+"/vm/"+vm_id+"/metric/"+metric+"/info?periodType="+periodType+"&statisticsCriteria="+statisticsCriteria+"&duration="+duration;
        console.log("Request URL : ",url)
        var html = "";
        $.ajax({
        url: url,
        async:false,
        type:'GET',
        success : function(result){
            var data = result
              console.log("Get Monitoring Data : ",data)
              console.log("======== start mapping data ======");
              var time_obj = time_arr(data,target);
              console.log("chart_target :",chart_target);
             
             // var myChart = new Chart(ctx, time_obj);
             chart.data = time_obj;
             chart.update();

        },
        error : function(request,status, error){
            console.log(request.status, request.responseText,error)
        }
        
    })
        // axios.get(url).then(result=>{
        //       var data = result.data
        //       console.log("Get Monitoring Data : ",data)
        //       console.log("======== start mapping data ======");
        //       var time_obj = time_arr(data,target);
        //       console.log("chart_target :",chart_target);
        //       var ctx = document.getElementById(chart_target).getContext('2d')
        //       var myChart = new Chart(ctx, time_obj);
        //       myChart.update();
        //      // Chart.Line('canvas1',time_obj);
        //       console.log("==time series==",time_obj);
        //      // var metricObject = mappingMetric(data);
        //      // var m_len = metricObject.length-1

        //     //   if(target == "cpu"){
        //     //     color += '<div class="icon icon-shape bg-success text-white rounded-circle shadow">'
        //     //           + '<i class="fas fa-microchip"></i>';
        //     //     var num = parseFloat(metricObject[m_len].cpu_utilization)
        //     //     metric_size +='<span class="h2 font-weight-bold mb-0">'+num.toFixed(3)+'%</span>'                  
        //     //   }else if(target == "memory"){
        //     //     color += '<div class="icon icon-shape bg-warning text-white rounded-circle shadow">'
        //     //           + '<i class="fas fa-memory"></i>'
        //     //     var num = parseFloat(metricObject[m_len].mem_utilization)
        //     //     metric_size +='<span class="h2 font-weight-bold mb-0">'+num.toFixed(3)+'%</span>' 
        //     //   }else if(target == "disk"){
        //     //     color += '<div class="icon icon-shape bg-danger text-white rounded-circle shadow">'
        //     //           + '<i class="far fa-save"></i>'
        //     //     var num = parseFloat(metricObject[m_len].used_percent)
        //     //     metric_size +='<span class="h2 font-weight-bold mb-0">'+num.toFixed(3)+'%</span>' 
        //     //   }else if(target == "network"){
        //     //     color += '<div class="icon icon-shape bg-primary text-white rounded-circle shadow">'
        //     //           + '<i class="fas fa-network-wired"></i>'
        //     //     var num = parseFloat(metricObject[m_len].bytes_in)
        //     //     metric_size +='<span class="h2 font-weight-bold mb-0">'+num.toFixed(1)+'byte</span>' 
        //     //   }
        //     //         html += '<div class="card card-stats mb-4 mb-xl-0">'
        //     //              +'<div class="card-body">'
        //     //              +'<div class="row">'
        //     //              +'<div class="col">'
        //     //              +'<h5 class="card-title text-uppercase text-muted mb-0">'+metric+'</h5>'
        //     //              //+'<span class="h2 font-weight-bold mb-0">2,356</span>'
        //     //              +metric_size
        //     //              +'</div>'
        //     //              +'<div class="col-auto">'
                       
        //     //              +color
                         
        //     //              //+'<i class="fas fa-chart-pie"></i>'
        //     //              +'</div>'
        //     //              +'</div>'
        //     //              +'</div>'
        //     //              +'<p class="mt-3 mb-0 text-muted text-sm">'
        //     //              +'<span class="text-danger mr-2"> 3.48%</span>'
        //     //              +'<span class="text-nowrap">'+metricObject[0].time+'</span>'
        //     //              +'</p>'
        //     //              +'</div>'
        //     //              +'</div>';
              
        //     //   $("#"+target+"").empty()
        //     //   $("#"+target+"").append(html)
        //   })
     }
  
 
     
     </script>