{{define "Nav_Dashboard_NS"}}
{{ template "Top" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "Top_box" .}}

		{{template "LNB_popup" .}}
		
		<!-- menu -->
		<div class="leftmenu">
			
			<ul class="nav">
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Operation">Operation</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Setting">Setting</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade show active" id="Operation">
					<ul class="menu">
						<li class="active" id="">
							<a href="javascript:void(0);">Dashboard</a>
							<ul>
								<li class="on" id=""><a href="/Dashboard/NS">NS</a></li>
								<li id=""><a href="/Dashboard/Global">Global</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">Manage</a>
							<ul>
								<li id=""><a href="/Manage/MCIS/list">MCIS</a></li>
								<li id=""><a href="!#">MC-App</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">Monitoring</a>
							<ul>
								<li id=""><a href="/Monitoring/MCIS/list">MCIS</a></li>
								<li><a href="/operation/Monitoring_McApp.html">MC-App</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">Policy</a>
							<ul>
								<li><a href="../operation/Policy_Monitoring.html">Monitoring</a></li>
								<li><a href="../operation/Policy_Threshold.html">Threshold</a></li>
								<li><a href="../operation/Policy_Placement.html">Placement</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">About</a>
							<ul>
								<li><a href="../operation/About.html">About</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="tab-pane fade" id="Setting">
					<ul class="menu">
						<li id="">
							<a href="javascript:void(0);">Resources</a>
							<ul>
								<li id=""><a href="/Vpc/list">Network</a></li>
								<li id=""><a href="/SecurityGroup/list">Security</a></li>
								<li id=""><a href="/SSH/list">SSH key</a></li>
								<li id=""><a href="/Image/list">(Server) Image</a></li>
								<li id=""><a href="/Spec/list">(Server) Spec</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">App Resource</a>
							<ul>
								<li><a href="!#">(Server) Image</a></li>
								<li><a href="!#">Pod</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id=""><a href="/Cloud/Connection/list">Cloud Connections</a></li>
							</ul>
						</li>
						<li id="">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id=""><a href="/NameSpace/NS/list">NameSpace</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- //menu -->
		
	</div>
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}
{{end}}