{{ template "Top" .}}
	
		<div id="lnb">
			
			<div class="bg"></div>
				
			<div class="m_box">
				
				{{template "Top_box" .}}

				{{template "LNB_popup" .}}
				
				<!-- menu -->
				<div class="leftmenu">
					
					<ul class="nav">
						<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Operation">Operation</a></li>
						<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Setting">Setting</a></li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane fade" id="Operation">
							<ul class="menu">
								<li>
									<a href="javascript:void(0);">Dashboard</a>
									<ul>
										<li><a href="/Dashboard/NS">NS</a></li>
										<li><a href="/Dashboard/Global">Global</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">Manage</a>
									<ul>
										<li><a href="/Manage/MCIS/list">MCIS</a></li>
										<li><a href="!#">MC-App</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">Monitoring</a>
									<ul>
										<li><a href="/Monitoring/MCIS/list">MCIS</a></li>
										<li><a href="/operation/Monitoring_McApp.html">MC-App</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">Policy</a>
									<ul>
										<li><a href="/assets/operation/Policy_Monitoring.html">Monitoring</a></li>
										<li><a href="/assets/operation/Policy_Threshold.html">Threshold</a></li>
										<li><a href="/assets/operation/Policy_Placement.html">Placement</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">About</a>
									<ul>
										<li><a href="/assets/operation/About.html">About</a></li>
									</ul>
								</li>
							</ul>
						</div>
						
						<div class="tab-pane fade show active" id="Setting">
							<ul class="menu">
								<li class="active">
									<a href="javascript:void(0);">Resources</a>
									<ul>
										<li class="on"><a href="/Vpc/list">Network</a></li>
                                        <li><a href="/SecurityGroup/list">Security</a></li>
                                        <li><a href="/SSH/list">SSH key</a></li>
                                        <li><a href="/Image/list">(Server) Image</a></li>
                                        <li><a href="/Spec/list">(Server) Spec</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">App Resource</a>
									<ul>
										<li><a href="!#">(Server) Image</a></li>
										<li><a href="!#">Pod</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">Cloud Connections</a>
									<ul>
										<li><a href="/Cloud/Connection/list">Cloud Connections</a></li>
									</ul>
								</li>
								<li>
									<a href="javascript:void(0);">NameSpace</a>
									<ul>
										<li><a href="/NameSpace/NS/list">NameSpace</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
				<!-- //menu -->
				
			</div>
			
			<div class="bottom"></div>
			<a href="javascript:;" id="m_close"></a>
			
		</div>
		
	
		{{template "Header" .}}
	
		{{template "Modal" .}}
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Resources / <strong>Network</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span>  Resources  <span>></span>  <strong>Network</strong></div>
					</div>



					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Network (vNet)</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);">VPC Name</a></li>
														<li><a href="javascript:void(0);">CIDR Block</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" onclick="getVpcList('name')">VPC Name</a></li>
														<li><a href="javascript:void(0);" onclick="getVpcList('cidrBlock')">CIDR Block</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox">Add</a></li>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist">Delete</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
	
							<!-- popup Regist -->
							<div class="modal fade layerpopup" id="RegistBox" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to register Network <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok register" onclick="goFocus('reg_vpcName')" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->
	
							<!-- popup Regist -->
							<div class="modal fade layerpopup" id="UnRegist" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										
										<div class="modal-body">
											<div class="txt">Would you like to un-register Network <br />Resource ?</div>
											<div class="btnbox">
												<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn_ok" onclick="goDelete()" data-dismiss="modal">OK</button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //popup Regist -->
							
							<script>
								$(document).ready(function(){
									//action register open / table view close
									$('#RegistBox .btn_ok.register').click(function(){
										$(".dashboard.register_cont").toggleClass("active");
										$(".dashboard.server_status").removeClass("view");
										$(".dashboard .status_list tbody tr").removeClass("on");
										//ok 위치이동
										$('#RegistBox').on('hidden.bs.modal', function () {
											var offset = $("#CreateBox").offset();
											$("#wrap").animate({scrollTop : offset.top}, 300);
										})		
									});
								});
							</script>
							
							<div class="ds_cont">
								
								<div class="dataTable status_list">
									<table cellpadding="0" cellspacing="0" border="1" summary="">
										<colgroup>
											<col width="50px">
											<col width="">
											<col width="">
											<col width="">
											<col width="60px">
										</colgroup>
										<thead>
											<tr>
												<th><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></td>
												<th>VPC Name</th>
												<th>CIDR Block</th>
												<th>Description</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="vpcList">
											
										</tbody>
									</table>
								</div>
								
								<script>
									/* scroll */
									$(document).ready(function(){
										//checkbox all
										$("#th_chall").click(function() {
											if ($("#th_chall").prop("checked")) {
												$("input[name=chk]").prop("checked", true);
											} else {
												$("input[name=chk]").prop("checked", false);
											}
										})
										
										//table 스크롤바 제한
										$(window).on("load resize",function(){
											var vpwidth = $(window).width();
											if (vpwidth > 768 && vpwidth < 1800) {
											$(".dashboard_cont .dataTable").addClass("scrollbar-inner");
												$(".dataTable.scrollbar-inner").scrollbar();
											} else {
												$(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
											}
										});
									});
								</script>
								
								<!-- 
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								-->
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status" id="info_box">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Network Info</strong> [ <span class="stxt"></span> ] </div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li>
													<label>VPC Name</label>
													<span class="sbox">
														<input type="text" id="dtlVpcName" name="dtlVpcName" value="" placeholder="" class="gray" title="" disabled />
													</span>
												</li>
												<li>
													<label>Description</label>
													<span class="sbox">
														<textarea id="dtlDescription" name="dtlDescription" cols="" rows="" placeholder="" class="gray" title="" disabled ></textarea>
													</span>
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li>
													<label>Cloud Provider</label>
													<input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder="" class="gray" title="" readonly />
													<!-- <select class="selectbox w1 ">
														<option value="1">Selected Provider</option>
														<option value="2" disabled>Selected disabled</option>
													</select>
													<select class="selectbox w2">
														<option value="1">Selected Region</option>
													</select> -->
												</li>
												<li>
													<label>Connection Name</label>
													<input type="text" id="dtlConnectionName" name="dtlConnectionName" value="" placeholder="" class="gray" title="" readonly />
												</li>
												<li>
													<label>CidrBlock</label>
													<input type="text" id="dtlCidrBlock" name="dtlCidrBlock" value="" placeholder="" class="gray" title="" readonly />
												</li>
												<li>
													<label>Subnet</label>
													<span class="sbox">
														<input type="text" id="dtlSubnet" name="dtlSubnet" value="" placeholder="" class="gray" title="" readonly />
														<!-- <button name="" value="" class="btn_edit btn_register">Edit</button>  -->
													</span>
												</li>
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_modify">Modify</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					<!-- Register Network -->
					<div class="dashboard dashboard_cont register_cont" id="CreateBox">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Register Network</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box reg">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1 ipbox3">
											<ul>
												<li>
													<label><span class="ch">*</span>VPC Name</label>
													<input type="text" id="reg_vpcName" name="reg_vpcName" value="" placeholder="Input VPC Name" class="pline" title="" />
												</li>
												<li class="ta_1">
													<label>Description</label>
													<textarea id="reg_description" name="reg_description" cols="" rows="" placeholder="Description" class="pline" title="" ></textarea>
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox4">
											<ul>
												<li>
													<label>Cloud Provider</label>
													<select class="selectbox white pline w3" id="provider" name="ProvideName" onchange="getConnectionInfo(this.value)">
														<option selected>Select Cloud Provider</option>
														<option value="AWS">AWS</option>
														<option value="AZURE">AZURE</option>
														<option value="Alibaba">Alibaba</option>
														<option value="GCP">GCP</option>
														<option value="Cloudit">Cloudit</option>
														<option value="Openstack">Openstack</option>
													</select>
												</li>
												<li>
													<label><span class="ch">*</span>Connection Name</label>
													<select class="selectbox white pline w3" id="reg_connectionName" name="reg_connectionName">
														<option selected>Selected ConnectionName</option>
													</select>
												</li>
												<li>
													<label><span class="ch">*</span>CIDR Block</label>
													<input type="text" id="reg_cidrBlock" name="reg_cidrBlock" value="" placeholder="ex) 10.0.0.0/24" class="pline ip_w1" title="" />
												</li>
												<li>
													<label><span class="ch">*</span>Subnet</label>
													<span class="sbox">
														<input type="text" id="reg_subnet" name="reg_subnet" value="" placeholder="ex) subnetname (10.0.0.0/24)" class="ip_w1 gray noline" title="" />
														<button name="" value="" class="btn_edit btn_register">Edit</button> 
													</span>
												</li>
											</ul>
										</div>
									</div>
									
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok" onclick="createVNet()">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Register Network -->
						
					<script>
						$(document).ready(function () {
                            order_type = "name"
                            getVpcList(order_type);
						})                      
						
						function goFocus(target) {
							console.log(event)
							event.preventDefault();

							$("#" + target).focus();
							fnMove(target)
						}

						function fnMove(target) {
							var offset = $("#" + target).offset();
							console.log("fn move offset : ", offset);
							$('html, body').animate({
								scrollTop: offset.top
							}, 400);
						}

						function goDelete() {
							var vNetId = "";
							var count = 0;

							$( "input[name='chk']:checked" ).each (function (){
								count++;
								vNetId = vNetId + $(this).val()+"," ;
							});
							vNetId = vNetId.substring(0,vNetId.lastIndexOf( ","));
							
							console.log("vNetId : ", vNetId);
							console.log("count : ", count);

							if(vNetId == ''){
								alert("삭제할 대상을 선택하세요.");
								return false;
							}

							if(count != 1){
								alert("삭제할 대상을 하나만 선택하세요.");
								return false;
							}

							var url = CommonURL + "/ns/" + NAMESPACE + "/resources/vNet/" + vNetId;
							console.log("del vnet url : ", url);

							axios.delete(url, {
								headers: {
									'Authorization': "{{ .apiInfo}}",
									'Content-Type': "application/json"
								}
							}).then(result => {
								var data = result.data;
								console.log(data);
								if (result.status == 200 || result.status == 201) {
									alert("Success Delete Network.");
									location.reload(true);
								}
							})
						}          

						function getVpcList(sort_type) {
							console.log(sort_type);
							var url = CommonURL + "/ns/" + NAMESPACE + "/resources/vNet";
							axios.get(url, {
								headers: {
									'Authorization': "{{ .apiInfo}}",
									'Content-Type': "application/json"
								}
							}).then(result => {
								console.log("get VPC List : ", result.data);
								var data = result.data.vNet;
								var html = ""
								var cnt = 0;
								
								if (data.length) {
									if (sort_type) {
										cnt++;
										console.log("check : ", sort_type);
										data.filter(list => list.name !== "").sort((a, b) => (a[sort_type] < b[sort_type] ? - 1 : a[sort_type] > b[sort_type] ? 1 : 0)).map((item, index) => (
											html += '<tr onclick="showInfo(\'' + item.name + '\');">' 
												+ '<td class="overlay hidden" data-th="">' 
												+ '<input type="hidden" id="sg_info_' + index + '" value="' + item.name + '|' + item.cidrBlock + '"/>' 
												+ '<input type="checkbox" name="chk" value="' + item.name + '" id="raw_'  + index + '" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>' 
												+ '<td class="btn_mtd ovm" data-th="name">' + item.name + '</td>'
												+ '<td class="overlay hidden" data-th="cidrBlock">' + item.cidrBlock + '</td>' 
												+ '<td class="overlay hidden" data-th="description">' + item.description + '</td>'  
												+ '<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>' 
												+ '</tr>'
										))
									} else {
										data.filter((list) => list.name !== "").map((item, index) => (
											html += '<tr onclick="showInfo(\'' + item.name + '\');">' 
												+ '<td class="overlay hidden" data-th="">' 
												+ '<input type="hidden" id="sg_info_' + index + '" value="' + item.name  + '"/>'
												+ '<input type="checkbox" name="chk" value="' + item.name + '" id="raw_' + index + '" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>' 
												+ '<td class="btn_mtd ovm" data-th="name">' + item.name + '<span class="ov"></span></td>' 
												+ '<td class="overlay hidden" data-th="cidrBlock">' + item.cidrBlock + '</td>' 
												+ '<td class="overlay hidden" data-th="description">' + item.description + '</td>' 
												+ '<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>' 
												+ '</tr>'
										))
									}

									$("#vpcList").empty()
									$("#vpcList").append(html)
									
									ModalDetail()
								}
							})
						}

						function ModalDetail() {
							$(".dashboard .status_list tbody tr").each(function () {
								var $td_list = $(this),
									$status = $(".server_status"),
									$detail = $(".server_info");
								$td_list.off("click").click(function () {
									$td_list.addClass("on");
									$td_list.siblings().removeClass("on");
									$status.addClass("view");
									$status.siblings().removeClass("on");
									$(".dashboard.register_cont").removeClass("active");
									$td_list.off("click").click(function () {
										if ($(this).hasClass("on")) {
											console.log("reg ok button click")
											$td_list.removeClass("on");
											$status.removeClass("view");
											$detail.removeClass("active");
										} else {
											$td_list.addClass("on");
											$td_list.siblings().removeClass("on");
											$status.addClass("view");

											$status.siblings().removeClass("view");
											$(".dashboard.register_cont").removeClass("active");
										}
									});
								});
							});
						}

						function getConnectionInfo(provider){
							var url = SpiderURL+"/connectionconfig";
							console.log("provider : ",provider)
							//var provider = $("#provider option:selected").val();
							var html = "";
							var apiInfo = ApiInfo
							axios.get(url,{
								headers:{
									'Authorization': apiInfo
								}
							}).then(result=>{
								console.log('getConnectionConfig result: ',result)
								var data = result.data.connectionconfig
								console.log("connection data : ",data);
								var count = 0; 
								var configName = "";
								var confArr = new Array();
								for(var i in data){
									if(provider == data[i].ProviderName){ 
										count++;
										html += '<option value="'+data[i].ConfigName+'" item="'+data[i].ProviderName+'">'+data[i].ConfigName+'</option>';
										configName = data[i].ConfigName
										confArr.push(data[i].ConfigName)
										
									}
								}
								if(count == 0){
									alert("해당 Provider에 등록된 Connection 정보가 없습니다.")
										html +='<option selected>Select Configname</option>';
								}
								if(confArr.length > 1){
									configName = confArr[0];
								}
								$("#reg_connectionName").empty();
								$("#reg_connectionName").append(html);

							})
						}

						function applySubnet() {
                            var subnetNameValue = $("input[name='reg_subnetName']").length;
                            var subnetCIDRBlockValue = $("input[name='reg_subnetCidrBlock']").length;
                            
                            var subnetNameData = new Array(subnetNameValue);
                            var subnetCIDRBlockData = new Array(subnetCIDRBlockValue);
                            
                            for(var i=0; i<subnetNameValue; i++){                          
                                subnetNameData[i] = $("input[name='reg_subnetName']")[i].value;
                                console.log("subnetNameData" + [i] + " : ", subnetNameData[i]);
                            }
                            for(var i=0; i<subnetCIDRBlockValue; i++){                          
                                subnetCIDRBlockData[i] = $("input[name='reg_subnetCidrBlock']")[i].value;
                                console.log("subnetCIDRBlockData" + [i] + " : ", subnetCIDRBlockData[i]);
                            }
                            
                            subnetJsonList = new Array();
                            
                            for(var i=0; i<subnetNameValue; i++){
                                var SNData = "SNData" + i;
								var SNData = new Object();
								SNData.name = subnetNameData[i];
                                SNData.ipv4_CIDR = subnetCIDRBlockData[i];
                                subnetJsonList.push(SNData);
                            }
    
							var infoshow = "";
							for (var i in subnetJsonList) {
								infoshow += subnetJsonList[i].name + " (" + subnetJsonList[i].ipv4_CIDR + ") ";
							}
							
							$("#reg_subnet").empty();
							$("#reg_subnet").val(infoshow);
                            
							$("#register_box").modal("hide");
                        }

						function createVNet() {
                            var vpcName = $("#reg_vpcName").val();
                            var description = $("#reg_description").val();
                            var connectionName = $("#reg_connectionName").val();
                            var cidrBlock = $("#reg_cidrBlock").val();
							
                            if (!vpcName) {
                                alert("Input New VPC Name")
                                $("#reg_vpcName").focus()
                                return;
                            }

							var apiInfo = "{{ .apiInfo}}";
							var url = CommonURL+"/ns/"+NAMESPACE+"/resources/vNet"
							console.log("vNet Reg URL : ",url)
                            var obj = {
								cidrBlock: cidrBlock,
								connectionName: connectionName,
								description: description,
								name: vpcName,
								subnetInfoList: subnetJsonList
							}
							console.log("info vNet obj Data : ", obj);
							
							if (vpcName) {
                                axios.post(url, obj, {
                                    headers: {
                                        'Content-type': 'application/json',
                                        'Authorization': apiInfo,
                                    }
                                }).then(result => {
                                    console.log("result vNet : ", result);
                                    if (result.status == 200 || result.status == 201) {
                                        alert("Success Create Network(vNet)!!")
                                        //등록하고 나서 화면을 그냥 고칠 것인가?
                                        getVpcList();
                                        //아니면 화면을 리로딩 시킬것인가?
                                        location.reload();
                                        // $("#btn_add2").click()
                                        // $("#namespace").val('')
                                        // $("#nsDesc").val('')
                                    } else {
                                        alert("Fail Create Network(vNet)")
                                    }
                                });
                            } else {
                                alert("Input VPC Name")
                                $("#reg_vpcName").focus()
                                return;
                            }
                        }

						function showInfo(target) {
							console.log("target showInfo : ", target);
							var apiInfo = "{{ .apiInfo}}";
							var vNetId = encodeURIComponent(target);
							$('.stxt').html(target);
							
							var url = CommonURL+"/ns/"+NAMESPACE+"/resources/vNet/"+ vNetId;
							console.log("vnet detail URL : ",url)

							return axios.get(url,{
								headers:{
									'Authorization': apiInfo
								}
							
							}).then(result=>{
								var data = result.data
								console.log("Show Data : ",data);
								
								var dtlVpcName = data.name;
								var dtlDescription = data.description;
								var dtlConnectionName = data.connectionName;
								var dtlCidrBlock = data.cidrBlock;
								var dtlSubnet = "";
						
								var subList = data.subnetInfoList;
								for (var i in subList) {
									dtlSubnet = subList[i].IId.NameId + " (" + subList[i].IPv4_CIDR + ")";
								}
								console.log("dtlSubnet : ", dtlSubnet);

								$("#dtlVpcName").empty();
								$("#dtlDescription").empty();
								$("#dtlProvider").empty();
								$("#dtlConnectionName").empty();
								$("#dtlCidrBlock").empty();
								$("#dtlSubnet").empty();

								$("#dtlVpcName").val(dtlVpcName);								
								$("#dtlDescription").val(dtlDescription);
								$("#dtlConnectionName").val(dtlConnectionName);
								$("#dtlCidrBlock").val(dtlCidrBlock);
								$("#dtlSubnet").val(dtlSubnet);

								getProvider(dtlConnectionName);
							}) 
						}

						function getProvider(target) {
							console.log("getProvidergetProvider : ",target);
							var url = SpiderURL+"/connectionconfig/" + target;
								
							return axios.get(url,{
								headers:{
									'Authorization': apiInfo
								}
							
							}).then(result=>{
								var data = result.data;
								
								var Provider = data.ProviderName;

								$("#dtlProvider").val(Provider);
							})        
						}

						$(document).ready(function() {
							var subnetJsonList = "";
							//Subnet pop table scrollbar
						  	$('.btn_register').on('click', function() {
						    	$("#register_box").modal();
								$('.dtbox.scrollbar-inner').scrollbar();
							});	
							
							/*
							$('.register_cont .btn_cancel').click(function(){
								$(".dashboard.register_cont").toggleClass("active");
							});
							*/
						});
					</script>
						
					<!-- register -->
					<div class="modal fade" id="register_box" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Subnet</div>
										</div>
										
										<div class="pop-cont">
											<!-- 
											<div class="toptxt">
												<label>Virtual Network cidrBlock</label>
												<input type="text" name="" value="cidrBlock" placeholder="" class="gray" title="" readonly />
											</div>
											-->
											<!-- table scrollbar -->
											<div class="dtbox scrollbar-inner">
												<div class="dataTable dt_overlay">
													<table cellpadding="0" cellspacing="0" border="1" summary="">
														<colgroup><col width=""><col width=""><col width="100px"></colgroup>
														<thead>
															<tr>
																<th>Subnet Name</th>
																<th>CIDR Block</th>
																<th></th>
															</tr>
														</thead>
														<tbody id="subnetList">
															<tr name="tr_Input">
																<td class="btn_mtd" data-th="subnet Name"><input type="text" id="reg_subnetName" name="reg_subnetName" value="" placeholder="" class="pline" title="" /> <span class="ov off"></span></td>
																<td class="overlay hidden" data-th="cidrBlock"><input type="text" id="reg_subnetCidrBlock" name="reg_subnetCidrBlock" value="ex) 10.0.0.0/24" placeholder="" class="pline" title="" /></td>
																<td class="overlay hidden" data-th="">
																	<button class="btn btn_add" value="" name="btn_add">add</button>
																	<button class="btn btn_del" name="delInput" value="">del</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<!-- //table scrollbar -->
						
											<script>
												//table row add
												$(document).on("click","button[name=btn_add]",function(){
													var addStaffText = '<tr class="ip" name="tr_Input">'
														+ '<td class="btn_mtd" data-th="subnet Name"><input type="text" name="" value="" placeholder="" class="pline" title="" /> <span class="ov up" name="td_ov"]></span></td>'
														+ '<td class="overlay" data-th="cidrBlock"><input type="text" name="" value="" placeholder="" class="pline" title="" /></td>'
														+ '<td class="overlay">'
														+ '<button class="btn btn_add" name="btn_add" value="">add</button>'
														+ '<button class="btn btn_del" name="delInput" value="">del</button>'
														+ '</td>'
														+ '</tr>';
													var trHtml = $( "tr[name=tr_Input]:last" );
													trHtml.after(addStaffText);
												});
												
												$('.dataTable .btn.btn_add').on("click", function() {
														trHtml.after(addStaffText);
												});
												
												$(document).on("click","button[name=delInput]",function(){
													var trHtml = $(this).parent().parent();
													trHtml.remove();
												});
												
												$(document).on("click","span[name=td_ov]",function(){
													var trHtml = $(this).parent().parent();
													trHtml.find(".btn_mtd").toggleClass("over");
													trHtml.find(".overlay").toggleClass("hidden");
												});
											</script>		
											
											<div class="b_txt"><span class="ch">*</span> Define the subnet to be added to Virtual Network and add it by clicking <span class="txt">“Apply”</span></div>
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_apply btn_co btn_cr_g" onclick="applySubnet()"><span>Apply</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- //register -->

				</div>
				<!-- //contents -->

{{template "Footer" .}}
