{{define "Top"}}
<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes,target-densitydpi=medium-dpi" />
		<title>CLOUD BARISTA</title>
		
		<link rel="stylesheet" href="/assets/js/bootstrap-4.5.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets/css/style.css"/>
		
		<script src="/assets/js/jquery-1.11.0/jquery.min.js"></script>
		<script src="/assets/js/bootstrap-4.5.2/js/bootstrap.min.js"></script>
		<script src="/assets/js/jquery.scrollTo.min.js"></script><!-- 추가 팝업 ok 이동 -->
		<script src="/assets/js/jquery.scrollbar.js"></script>
		
		
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.serialize.object.js"></script>

		<script src="/assets/js/common.js"></script>
		<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
		<script>
			const CommonURL = "{{ .comURL.TumbleBugURL}}";
			const SpiderURL = "{{ .comURL.SpiderURL}}";
			const ApiInfo = "{{ .apiInfo}}"
			const NAMESPACE ="{{with .LoginInfo}}{{ .NameSpace }}{{end}}";
			console.log("namespace : ",NAMESPACE)
			var btn_click_cnt = 1;
			const DragonFlyURL = "{{ .comURL.DragonFlyURL}}"
			
	//========== 로딩 바 시작 =========    
	$(document).ready(function(){
		$('#Ajax_Loading').hide(); //첫 시작시 로딩바를 숨겨준다.
	 })
	 .ajaxStart(function(){
		 $('#Ajax_Loading').show(); //모든 ajax 통신 시작시 로딩바를 보여준다.
		 //$('html').css("cursor", "wait"); //마우스 커서를 로딩 중 커서로 변경
	 })
	 .ajaxStop(function(){
		 $('#Ajax_Loading').hide(); //모든 ajax 통신 종료시 로딩바를 숨겨준다.
		 //$('html').css("cursor", "auto"); //마우스 커서를 원래대로 돌린다
	 });
	//========== 로딩 바 종료 =========
		//Ajax를 이용하지 않는 통신의 경우 수작업으로 처리하기 위한 함수
		function AjaxLoadingShow(isShow){
			try{
				if(isShow) {
					$('#Ajax_Loading').show();
				}else{
					$('#Ajax_Loading').hide();
				}
			}catch(e){
				alert(e);
			}
		}
	
	
		// 요청 인터셉터
		axios.interceptors.request.use(function (config) {
			// 요청 전에 로딩 오버레이 띄우기
			$('#Ajax_Loading').show();
			return config;
		}, function (error) {
			// 에라 나면 로딩 끄기
			$('#Ajax_Loading').hide();
			return Promise.reject(error);
		});
	
		// 응답 인터셉터
		axios.interceptors.response.use(function (response) {
			// 응답 받으면 로딩 끄기
			$('#Ajax_Loading').hide();
			return response;
		}, function (error) {
			// 응답 에러 시에도 로딩 끄기
			$('#Ajax_Loading').hide();
			return Promise.reject(error);
		});
	
		</script>
	</head>
	
	<body>
 	
	<div id="wrap" class="wrapper scrollbar-dynamic">
    

    
{{end}}