{{ template "Top" .}}
<div id="lnb">

	<div class="bg"></div>

	<div class="m_box">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		<!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->
	</div>

	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>

</div>
{{template "Header" .}}
{{template "Modal" .}}

<!-- contents -->
<div class="contbox">

	<div class="titlebox">
		<div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" /> <strong>NameSpace</strong></div>
		<div class="location">Home <span>></span> Setting <span>></span> <strong>NameSpace</strong></div>
	</div>



	<!-- list -->
	<div class="dashboard dashboard_cont">

		<div class="d_box box_m box_w100">
			<div class="titbox">
				<div class="tit initial"><strong>List of Name Space</strong></div>
				<div class="top_info">
					<ul>
						<li>
							<a href="javascript:void(0);">Filter</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('NSFltName', 'nameSpaceList')">Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('NSFltId', 'nameSpaceList')">ID</a></li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('NSFltDescription', 'nameSpaceList')">Description</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Sort</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="tableSort('nameSpaceList', 'Name')">Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('nameSpaceList', 'ID')">ID</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('nameSpaceList', 'description')">Description</a></li>
										<!--
														<li><a href="javascript:void(0);" onclick='getNameSpaceList("name")'>Name</a></li>
														<li><a href="javascript:void(0);" onclick='getNameSpaceList("description")'>Description</a></li>
														-->
										<!-- <li><a href="javascript:void(0);">Date</a></li> -->
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Action</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#AddBox"
												onClick="displayNameSpaceInfo('REG')">Add</a></li>
										<!-- 
														<li><a href="javascript:void(0);">Change</a></li>
														-->
										<li><a href="javascript:void(0);"
												onClick="commonConfirmOpen('DeleteNameSpace')">Delete</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="ds_cont">

				<div class="dataTable status_list">
					<table cellpadding="0" cellspacing="0" border="1" summary="" id="nameSpaceList">
						<!-- <colgroup>
											<col width="50px"><col width="20%"><col width="20%"><col width=""><col width="60px">
										</colgroup> -->
						<thead>
							<tr>
								<th class="column-50px-chk"><input type="checkbox" name="" value="" id="th_chall"
										title="" /><label for="th_chall"></label></td>
								<th class="column-20percent">Name</th>
								<th class="column-20percent">ID</th>
								<th>description</th>
								<!-- <th class="column-60px"></th> -->
							</tr>
						</thead>
						<tbody id="nsList">

							{{ $length := len .NameSpaceList }}
							{{ if eq $length 0 }}
							<tr>
								<td class="overlay hidden" data-th="" colspan="8">No Data</td>
							</tr>
							{{ end }}
							{{range $index, $item := .NameSpaceList}}
							<tr onclick="showNameSpaceInfo('ns_info_{{$index}}');">
								<td class="overlay hidden column-50px-chk" data-th="">
									<input type="hidden" id="ns_info_{{$index}}"
										value="{{$item.ID}}|{{$item.Name}}|{{$item.Description}}" />
									<input type="checkbox" name="chk" value="{{$item.Name}}" id="raw_{{$index}}"
										title="" />
									<label for="td_ch1"></label> <span class="ov off"></span>
								</td>
								<td class="btn_mtd ovm column-20percent" data-th="Name">{{$item.Name}}<span
										class="ov"></span></td>
								<td class="overlay hidden column-20percent" data-th="ID">{{$item.ID}}</td>
								<td class="overlay hidden td_left" data-th="description">{{$item.Description}}</td>

								<!-- <td class="overlay hidden column-60px" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td> -->
							</tr>
							{{ end }}

						</tbody>
					</table>
				</div>

				<script>
					/* scroll */
									// $(document).ready(function(){
								    // $("#th_chall").click(function() {
								    //   if ($("#th_chall").prop("checked")) {
								    //     $("input[name=chk]").prop("checked", true);
								    //   } else {
								    //     $("input[name=chk]").prop("checked", false);
								    //   }
								    // })

									// 	$(window).on("load resize",function(){
									// 		var vpwidth = $(window).width();
									// 	  if (vpwidth > 768 && vpwidth < 1800) {
									// 	    $(".dashboard_cont .dataTable").addClass("scrollbar-inner");
									// 	 		$(".dataTable.scrollbar-inner").scrollbar();
									// 	  } else {
									// 	    $(".dashboard_cont .dataTable").removeClass("scrollbar-inner");
									// 	  }
									// 	});
									// });


				</script>


				<!-- <div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div> -->

			</div>

		</div>

	</div>
	<!-- //list -->


	<!-- Modify -->
	<div class="dashboard dashboard_cont server_status" id="info_box">
		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial"><strong>Name Space Info</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box">

					<div class="top_ipbox">
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1 reg_4">
									<label>Name</label>
									<input type="text" name="" value="" placeholder="Name" class="gray" title=""
										readonly id="infoName" />
								</li>
								<li class="reg_1 reg_4">
									<label>ID</label>
									<input type="text" name="" value="" placeholder="ID" id="infoID" class="gray"
										title="" readonly />
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox2">
							<ul>
								<li class="reg_2">
									<label>Description</label>
									<textarea cols="" rows="" placeholder="Description" id="infoDesc" class="gray"
										title="" readonly></textarea>
								</li>
							</ul>
						</div>
					</div>
					<div class="btnbox">
						<div class="btn_center">
							<button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
								onclick="nameSpaceSet('NameSpace')">Ok</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!-- //Modify -->


	<!-- Create Name Space -->
	<div class="dashboard dashboard_cont register_cont" id="ns_reg">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial cg"><strong>Create Name Space</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box reg">

					<div class="top_ipbox">
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1 reg_4">
									<label><span class="ch">*</span>Name</label>
									<input type="text" name="" value="" placeholder="Input Name" class="pline" title=""
										id="regName" />
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox2">
							<ul>
								<li class="reg_2">
									<label>Description</label>
									<textarea cols="" rows="" placeholder="Description" class="pline" title=""
										id="regDesc"></textarea>
								</li>
							</ul>
						</div>
					</div>

					<div class="btnbox">
						<div class="btn_center">
							<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
								onclick="displayNameSpaceInfo('CLOSE')">Cancel</button>
							<button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
								onclick="createNameSpace()">Ok</button>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- //Create Name Space -->

</div>
<!-- //contents -->

<script src="/assets/js/setting/namespaces/namespacemng.js"></script>
{{template "Footer" .}}