{{define "Footer"}}
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
<script>

    
    function setNS(nsid){
        reqUrl = "/SET/NS/"+nsid;
           console.log(reqUrl);
        axios.get(reqUrl).then(result=>{
            var data = result.data
            console.log(data);
        })
    } 

    function getNS(){
        reqURL = CommonURL+"/GET/ns";
        axios.get(reqURL).then(result=>{
            console.log(result.data)
        })
    }
    var nsListUrl = CommonURL+"/ns"
   axios.get(nsListUrl).then(result=>{
       var data = result.data
       console.log(data);
       var res = data.ns
       var html = "";
       var ns = "";
       for(var i in res){
           if(i == 0){
                html += '<option value="'+res[i].id+'" selected>'+res[i].name+'</option>';
                ns = res[i].id;
            }else{
                html += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
        }
       }
       $("#name_select").empty();
       $("#name_select").append(html);

       if(ns){
           reqUrl = "/SET/NS/"+ns
           console.log(reqUrl);
        axios.get(reqUrl).then(result=>{
            var data = result.data
            console.log(data);
        })

       }

   })
</script>
{{end}}