{{template "Header" .}}
<script>
    var vm_cnt = 0;
function show_pop(count) {
    vm_cnt = count;
    $("#main").prepend("<div id='transDiv' style='background-color: #ffffff; z-index: 9999999;position: absolute;  overflow: hidden;'></div>");
   
    $.ajax({
        url:"/Pop/spec",
        type:"GET",
        dataType:"html",

    }).done(result=>{
        
        $("#transDiv").html(result);
        $("#transDiv").show();
        fnMove("transDiv");
    })
    
}
</script>
        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <main role="main" class="main" id="main">
                <div class="page-header">
                    <div>
                        <h1>MCIS REGISTER</h1>
                    </div>
                </div>
                <div class="card" id="mcis_form">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Create </strong>
                            </div>
                            <div>
                                <!-- 좌우측 정렬되는 버튼이 필요할때 여기에 넣어주세요 -->
                            </div>
                        </div>
                    </div>
                    <form name="Form" action="/MCIS/reg/proc" method="POST" id="form">
                    <div class="card-body">

                        <table class="table table-bordered table-horizontal mb-0">
                            <colgroup>
                                <col style="width: 20%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>MCIS Name</th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" name="" placeholder="Default input" id="mcis_name">
                                    </td>
                                </tr>
                                <tr>
                                    <th>NameSpace</th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="Default input" value="{{ .NameSpace}}" name="namespace"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" name=""placeholder="Default input" id="mcis_description">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" id="target">
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" id="vm_add" class="btn btn-dark btn-sm">ADD VM</button>
                        </div>
                    </div>
                </div>
               
            </main>
            <!-- //contents -->
        </form>
        </div>
        <!-- //container -->


        {{template "Footer" .}}
        <script>
            function getConnectionInfo(provider, cnt){
                var url = SpiderURL+"/connectionconfig";
                console.log("provider : ",provider)
                //var provider = $("#provider option:selected").val();
                var html = "";
                axios.get(url).then(result=>{
                    var data = result.data
                    console.log("connection data : ",data);
                    var count = 0; 
                    var configName = "";
                    var confArr = new Array();
                    for(var i in data){
                        if(provider == data[i].ProviderName){ 
                            count++;
                            html += '<option value="'+data[i].ConfigName+'" item="'+data[i].ProviderName+'">'+data[i].ConfigName+'</option>';
                            configName = data[i].ConfigName
                            confArr.push(data[i].ConfigName)
                            
                        }
                    }
                    if(count == 0){
                        alert("해당 Provider에 등록된 Connection 정보가 없습니다.")
                            html +='<option selected>Select Configname</option>';
                    }
                    if(confArr.length > 1){
                        configName = confArr[0];
                    }
                    $("#configName_"+cnt+"").empty();
                    $("#configName_"+cnt+"").append(html);
                    getImageInfo(configName,cnt);
                    getSecurityInfo(configName,cnt);
                    getSSHKeyInfo(configName,cnt);
                    getSPublicIPInfo(configName,cnt);
                    getVnetInfo(configName,cnt);

                    
                })
            }

            function changeConnectionInfo(configName,cnt){
                getImageInfo(configName,cnt);
                getSecurityInfo(configName,cnt);
                getSSHKeyInfo(configName,cnt);
                getSPublicIPInfo(configName,cnt);
                getVnetInfo(configName,cnt);
            }

            function getImageInfo(configName,cnt){
               console.log("1 : ",configName);
                var configName = configName;
                if(!configName){
                    configName = $("#configName_"+cnt+" option:selected").val();
                }
                console.log("2 : ",configName);
            
                var url = CommonURL+"/ns/"+NAMESPACE+"/resources/image";
                var html = "";
                axios.get(url).then(result=>{
                    console.log(result.data)
                    data = result.data.image
                    if(!data){
                        alert("등록된 이미지 정보가 없습니다.")
                        return;
                    }
                    for(var i in data){
                        if(data[i].connectionName == configName){
                            html += '<option value="'+data[i].id+'" >'+data[i].cspImageName+'('+data[i].id+')</option>'; 
                        }
                    }
                    $("#image_"+cnt+"").empty();
                    $("#image_"+cnt+"").append(html);
                    
                })
            }

            function getSecurityInfo(configName,cnt){
                var configName = configName;
                if(!configName){
                    configName = $("#configName_"+cnt+" option:selected").val();
                }
                var url = CommonURL+"/ns/"+NAMESPACE+"/resources/securityGroup";
                var html = "";
                axios.get(url).then(result=>{
                    data = result.data.securityGroup
                    for(var i in data){
                        if(data[i].connectionName == configName){
                            html += '<option value="'+data[i].id+'" >'+data[i].cspSecurityGroupName+'('+data[i].id+')</option>'; 
                        }
                    }
                  
                    $("#sg_"+cnt+"").empty();
                    $("#sg_"+cnt+"").append(html);
                    
                })
            }
            function getSSHKeyInfo(configName,cnt){
                var configName = configName;
                if(!configName){
                    configName = $("#configName_"+cnt+" option:selected").val();
                }
                var url = CommonURL+"/ns/"+NAMESPACE+"/resources/sshKey";
                var html = "";
                axios.get(url).then(result=>{
                    data = result.data.sshKey
                    for(var i in data){
                        if(data[i].connectionName == configName){
                            html += '<option value="'+data[i].id+'" >'+data[i].cspSshKeyName+'('+data[i].id+')</option>'; 
                        }
                    }
                    $("#sshKey_"+cnt+"").empty();
                    $("#sshKey_"+cnt+"").append(html);
                    
                })
            }
            function getSPublicIPInfo(configName,cnt){
                var configName = configName;
                if(!configName){
                    configName = $("#configName_"+cnt+" option:selected").val();
                }
                var url = CommonURL+"/ns/"+NAMESPACE+"/resources/publicIp";
                var html = "";
                axios.get(url).then(result=>{
                    data = result.data.publicIp
                    for(var i in data){
                        if(data[i].connectionName == configName){
                            html += '<option value="'+data[i].id+'" selected>'+data[i].cspPublicIpName+'('+data[i].id+')</option>'; 
                        }
                    }
                    $("#publicIp_"+cnt+"").empty();
                    $("#publicIp_"+cnt+"").append(html);
                    
                })
            }

            function getVnetInfo(configName,cnt){
                var configName = configName;
                if(!configName){
                    configName = $("#configName_"+cnt+" option:selected").val();
                }
                var url = CommonURL+"/ns/"+NAMESPACE+"/resources/network";
                var html = "";
                axios.get(url).then(result=>{
                    data = result.data.network
                    for(var i in data){
                        if(data[i].connectionName == configName){
                            html += '<option value="'+data[i].id+'" selected>'+data[i].cspNetworkName+'('+data[i].id+')</option>'; 
                        }
                    }
                    $("#vnet_"+cnt+"").empty();
                    $("#vnet_"+cnt+"").append(html);
                    
                })
            }

           
$(document).ready(function(){
    vm_cnt = 1;
    show_vm(vm_cnt)
    $("#vm_add").click(function(){
        vm_cnt++;
        show_vm(vm_cnt);
        btn_click_cnt++;
    });

    
})

function show_vm(vm_cnt){
        //vm_cnt++;
        console.log(vm_cnt);
        var arrCnt = vm_cnt-1;
        var html = "";
        html += '<form id="form_'+vm_cnt+'">'
                +'<div class="card">'
                +'<div class="card-header">'
                +'<div class="d-flex justify-content-between align-items-center">'
                +'<div>'
                +'<strong>VM-'+vm_cnt+'</strong>'
                +'</div>'
                +'<div>'
                +'<!-- 좌우측 정렬되는 버튼이 필요할때 여기에 넣어주세요 -->'
                +'</div></div></div>'
                +'<div class="card-body">'
                +'<table class="table table-bordered table-horizontal mb-0">'
                +'<colgroup><col style="width: 20%"><col></colgroup>'
                +'<tbody>'
                +'<tr>'
                +'<th>Provider</th>'
                +'<td>'
                +'<select class="form-control form-control-sm" name="provider" id="provider" onchange="getConnectionInfo(this.value,'+vm_cnt+');">'
                +'<option selected>Select Provider</option>'
                +'<option value="AWS">AWS</option>'
                +'<option value="AZURE">AZURE</option>'
                +'<option value="Alibaba">Alibaba</option>'
                +'<option value="GCP">GCP</option>'
                +'<option value="Cloudit">Cloudit</option>'
                +'<option value="Openstack">Openstack</option>'
                +'</select>'
                +'</td></tr>'
                +'<tr><th>ConfigName</th>'
                +'<td>'
                +'<select class="form-control form-control-sm" name="config_name" id="configName_'+vm_cnt+'"  onchange="changeConnectionInfo(this.value,'+vm_cnt+')">'
                +'<option selected>Select Configname</option>'
                +'</select></td></tr>'
                +'<tr><th>VM Name</th><td>'
                +'<input class="form-control form-control-sm" type="text" name="name" placeholder="VM Name" id="vmName_'+vm_cnt+'"></td></tr>'
                +'<tr><th>VM Spec</th><td>'
                +'<div class="form-row">'
                +'<div class="col">'
                +'<input type="hidden" id="vmspec_'+vm_cnt+'" name="spec_id" class="form-control form-control-sm" placeholder="Select Spec" readonly>'
                +'<input type="text" id="vmspecName_'+vm_cnt+'" name="vmspec" class="form-control form-control-sm" placeholder="Select Spec" readonly></div>'
                +'<div class="col">'
                +'<button type="button" class="btn btn-dark btn-sm" onclick="show_pop('+vm_cnt+');">Search VM Spec</button>'
                +'</div></div></td></tr>'
                +'<tr><th>vCPU</th><td>'
                +'<input class="form-control form-control-sm" type="text" placeholder="CPU" id="vcpu_'+vm_cnt+'" name="vcpu" readonly></td></tr>'
                +'<tr><th>Memory</th><td>'
                +'<input class="form-control form-control-sm" type="text" placeholder="Memory" id="mem_'+vm_cnt+'" name="mem" readonly></td></tr>'
                +'<tr><th>Storage</th><td>'
                +'<input class="form-control form-control-sm" type="text" placeholder="Storage" id="storage_'+vm_cnt+'" name="storage" readonly></td></tr>'
                +'<tr><th>OS TYPE</th><td>'
                +'<input class="form-control form-control-sm" type="text" placeholder="OS Type" id="osType_'+vm_cnt+'" name="osType" readonly></td></tr>'
                +'<tr><th>Cost / Hour</th><td>'
                +'<input class="form-control form-control-sm" type="text" placeholder="Cost Per Hour" id="cPh'+vm_cnt+'" name="costPerHour" readonly></td></tr>'
                +'<tr><th>Image</th><td>'
                +'<select class="form-control form-control-sm" name="image_id" id="image_'+vm_cnt+'"  >'
                +'<option selected>Select Image</option>'
                
                +'</select></td></tr>'
                +'<tr><th>Virtual Network</th>'
                +'<td>'
                +'<select class="form-control form-control-sm" name="vnet_id" id="vnet_'+vm_cnt+'"  >'
                +'<option selected>Select Virtual Network</option>'
                +'</select></td></tr>'
                +'<tr><th>PublicIP</th>'
                +'<td>'
                +'<select class="form-control form-control-sm" name="public_ip_id" id="publicIp_'+vm_cnt+'"  >'
                +'<option selected>Select PublicIP</option>'
                +'</select></td></tr>'
                
                // +'<tr><th>PublicIP</th><td>'
                // +'<div class="form-row">'
                // +'<div class="col">'
                // +'<input type="text" id="publicIP_'+vm_cnt+'" name="publicIP[]" class="form-control form-control-sm" placeholder="Public IP" readonly></div>'
                // +'<div class="col">'
                // +'<button type="button" class="btn btn-dark btn-sm" onclick="show_pop2('+vm_cnt+');">Search PublicIP</button>'
                // +'</div></div></td></tr>'
                // +'</td></tr>'
                +'<tr><th>Security Group</th>'
                +'<td>'
                +'<select class="form-control form-control-sm" multiple name="security_group_ids" id="sg_'+vm_cnt+'"  >'
                +'<option>Select Security Group</option>'
                +'</select></td></tr>'
                +'<tr><th>SSH KEY</th>'
                +'<td>'
                +'<select class="form-control form-control-sm" name="ssh_key_id" id="sshKey_'+vm_cnt+'"  >'
                +'<option selected>Select SSH KEY</option>'
                +'</select></td></tr>'
                +'<tr><th>Description<strong class="text-danger">*</strong></th><td>'
                +'<textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea></td></tr>'  
                
                +'</tbody></table></div>'
                +'<div class="card-footer">'
                +'<div class="d-flex justify-content-end align-items-center">'
                +'<button type="button" onclick="btn_click();" class="btn btn-dark btn-sm">Confirm</button></div></div></div>'
                +'</form>'

                $("#target").after(html);
               // $("#main").append(html)
    }   
function show_pop2() {
   // alert("show pop")
    //$("body:eq(0)").append("<div id='transDiv' style='background-color: #ffffff; position: absolute;  overflow: hidden;'></div>");
    $("#main").append("<div id='transDiv' style='background-color: #ffffff; position: absolute;  overflow: hidden;'></div>");
    // $("#transDiv").load("/Pop/spec");
    // $("#transDiv").show();
}

function btn_click(){
   
    var result = setObj();
    result.name = $("#mcis_name").val()
    result.description = $("#mcis_description").val()
    console.log("seObj result : ",result)
    var url = CommonURL+"/ns/"+NAMESPACE+"/mcis"
    console.log("request Create mcis url : ",url)
    axios.post(url,result).then(result=>{
        if(result.status == 201){
            alert("Register Success")
            location.href = "/MCIS/list";
        }else{
            alert("Register Fail")
            location.reload();
        }
    })
    
}


function setObj(){
    var clickCnt = btn_click_cnt
    var ov = new Array();
    var objArr = new Array()
    var t = 0;

    for(var i = 0; i < clickCnt;i++){
        t++;
        ov[i] = $("#form_"+t+"").serializeArray();
    }
    
    for(var i in ov){
        var obj  = {}
        var security_arr = new Array()
        for(var k in ov[i]){
            
            console.log(ov[i][k].name)
            var n = ov[i][k].name
            var v = ov[i][k].value
            //res.vm_req[i].ov[i].name = ov[i].value
            var sCnt = 0
            //var obj = res.vm_req[i]
            if(n == "security_group_ids"){
               
                security_arr.push(v)
                sCnt++
                obj[n] = security_arr
            }else{
                obj[n] =   v 
            }
        }
        objArr[i] = obj;
    }
    var result = {
        vm_req : objArr
    }
    console.log("Object result :",result)
    return result
}
        
        </script>
        