{{template "Header" .}}

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <main role="main" class="main">
                <div class="page-header">
                    <div>
                        <h1>Region 등록</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Create </strong>
                            </div>
                            <div>
                                <!-- 좌우측 정렬되는 버튼이 필요할때 여기에 넣어주세요 -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    <form name="Form" action="/NS/reg/proc" method="POST" id="form">
                        <table class="table table-bordered table-horizontal mb-0">
                            <colgroup>
                                <col style="width: 20%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>RegionName<strong class="text-danger">*</strong></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" placeholder="input name" name="RegionName" id="RegionName">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Provider</th>
                                    <td>
                                        <select class="form-control form-control-sm" name="ProviderName">
                                            <option selected>Select Provider</option>
                                            <option value="AWS">AWS</option>
                                            <option value="AZURE">AZURE</option>
                                            <option value="Alibaba">Alibaba</option>
                                            <option value="GCP">GCP</option>
                                            <option value="Cloudit">Cloudit</option>
                                            <option value="Openstack">Openstack</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Key</th>
                                    <td>
                                        <input type="text" name="KeyValueInfoList[0][Key]" value=""/>                                    </td>
                                </tr>
                                <tr>
                                    <th>Value</th>
                                    <td>
                                        <input type="text" name="KeyValueInfoList[0][Value]" value=""/>                                    </td>
                                </tr>
                                <tr>
                                    <th>Key</th>
                                    <td>
                                        <input type="text" name="KeyValueInfoList[1][Key]" value=""/>                                    </td>
                                </tr>
                                <tr>
                                    <th>Value</th>
                                    <td>
                                        <input type="text" name="KeyValueInfoList[1][Value]" value=""/>                                    </td>
                                </tr>
                                <tr>
                                    <th>Key</th>
                                    <td>
                                        <input type="text" name="KeyValueInfoList[2][Key]" value=""/>                                    </td>
                                </tr>
                                <tr>
                                    <th>Value</th>
                                    <td>
                                        <input type="text" name="KeyValueInfoList[2][Value]" value=""/>                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" class="btn btn-dark btn-sm" id="reg_btn">Confirm</button>
                        </div>
                    </div>
                </div>
            </main>
            <!-- //contents -->
        </form>
        </div>
        <!-- //container -->

        {{template "Footer" .}}

<script>
$(document).ready(function(){
    $("#reg_btn").click(function(){

        var obj = $("#form").serializeObject()
        console.log(obj);
        
    })
})

</script>