{{template "Header" .}}
 <!-- MCIS Control methods -->
 <script type="text/javascript" src="/assets/js/dashboard.manage.js"></script>
 <!-- MCIS Control methods -->

        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            {{template "LNB" .}}
            <!-- //sidebar -->

            <!-- contents -->
            <input type="hidden" name="namespace" id="namespace1" />
            <main role="main" class="main">
                <div class="page-header">
                    <div>
                        <h1>Resource</h1>
                    </div>
                </div>
                <!-- 1 row start -->
                <div class="row mb-4">
                    <div class="col-xl-4 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">1</h5>
                                        <span class="h2 font-weight-bold mb-0">SPECS</span>
                                    </div>
                                    <div class="col-auto" id="service_cnt">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                    <span class="text-nowrap">Spec management</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">2</h5>
                                        <span class="h2 font-weight-bold mb-0">Public IP</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i></span>
                                    <span class="text-nowrap">PublicIP management</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                         <h5 class="card-title text-uppercase text-muted mb-0">3</h5>
                                         <span class="h2 font-weight-bold mb-0">Security Group</span>
                                    </div>
                                    <div class="col-auto" style="padding-right: 5px;padding-left: 5px;">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        AWS
                                        </div>
                                    </div>
                                   
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                    <span class="text-nowrap">Since yesterday</span>
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
                 <!-- 1 row end -->
                 <!-- 2 row start -->
                 <div class="row mb-4">
                    <div class="col-xl-4 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">4</h5>
                                            <span class="h2 font-weight-bold mb-0">Network</span>
                                        </div>
                                        <div class="col-auto" style="padding-right: 5px;padding-left: 5px;">
                                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            OS
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                        <span class="text-nowrap">Since yesterday</span>
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">5</h5>
                                        <span class="h2 font-weight-bold mb-0">Image</span>
                                    </div>
                                    <div class="col-auto" id="service_cnt">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                                    <span class="text-nowrap">Image management</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">6</h5>
                                        <span class="h2 font-weight-bold mb-0">Public IP</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last week</span>
                                </p>
                            </div>
                        </div>
                    </div>                       
                </div>
                <!-- 2row end -->
                <!-- table 1 start -->
                <div class="row mt-4">
                    <div class="col-xl-8">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Resource - VM</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-overflow">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col" class="text-center">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id=""><i></i>
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col">NAME(ID)</th>
                                            <th scope="col">TIME</th>
                                            <th scope="col">CP</th>
                                            <th scope="col">Region</th>
                                            <th scope="col">Desc</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Alert</th>
                                            <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody id="table_2">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">TopN Traffic - MCIS</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-dark">See all</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                        <th scope="col">Name(ID)</th>
                                        <th scope="col">Amt</th>
                                        <th scope="col">TBD</th>
                                        <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                mcis-1
                                            </td>
                                            <td>
                                                123421
                                            </td>
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-dark">terminated</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                mcis-2
                                            </td>
                                            <td>
                                                1,480
                                            </td>
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">stop</span>
                                            </td>
                                        </tr>
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table 1 end -->
            </main>
            <!-- //contents -->

        </div>
        <!-- //container -->

     
   
   

     {{template "Footer" .}}

     <script>
            $(document).ready(function(){
                var nsid = "{{ .NameSpace}}";
                if(!nsid){
                    nsid = $("#namespace1").val()
                }
                if(!NAMESPACE){
                    nsid = $("#namespace1").val()
                }
                var url = CommonURL+"/ns/"+nsid+"/mcis";
                console.log("Dashboard url :",url);
                show_mcis(url);
            })
    </script>