{{define "LNB"}}
<!-- Left Navigation Bar : LNB -->
<div id="lnb">

    <div class="bg"></div>

    <div class="m_box">

        <div class="topbox">
            <div class="info">
                <div class="thumb"><a href="/main"><img src="/assets/img/common/img_login_t.png" alt=""></a></div>
                <div class="txt_1">Cloud-Barista</div>
                <div class="txt_2">

                    <span>Name Space</span>
                    <div class="infobox">
                        <div class="box">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">Select NS</a>
                                    <ul>
                                        <li><a href="javascript:void(0);" data-toggle="modal"
                                                data-target="#NameSpace">ns_aws_1</a></li>
                                        <li><a href="javascript:void(0);" data-toggle="modal"
                                                data-target="#NameSpace">ns_global_2</a></li>
                                        <li><a href="javascript:void(0);" data-toggle="modal"
                                                data-target="#NameSpace">ns_gcp_3</a></li>
                                        <li><a href="javascript:void(0);" data-toggle="modal"
                                                data-target="#NameSpace">ns_demo_4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Add NS</a>
                                    <ul>
                                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NewNS">new
                                                NS</a></li>
                                        <li><a href="javascript:void(0);" data-toggle="modal"
                                                data-target="#ManageNS">Manage NS</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {{template "LNBPopup" .}}

        <!-- menu -->
        {{template "MenuLeft" .}}
        <!-- //menu -->

    </div>

    <div class="bottom"></div>
    <a href="javascript:;" id="m_close"></a>

</div>


{{end}}