{{define "MenuLeft"}}

		<div class="leftmenu">
			
			<ul class="nav">
				<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#operation" id="tab_operation">Operation</a></li>
				<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#setting" id="tab_setting">Setting</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane fade" id="operation">
					<ul class="menu">
						<li  id="menu_level2_dashboards">
							<a href="javascript:void(0);">Dashboard</a>
							<ul>
								
								<li id="menu_level3_dashboardnamespace"><a href="javascript:void(0);" onclick="changePage('/operation/dashboards/dashboardnamespace/mngform')">NS</a></li>
								<li id="menu_level3_dashboardglobalnamespace"><a href="javascript:void(0);" onclick="changePage('/operation/dashboards/dashboardglobalnamespace/mngform')">Global</a></li>
							</ul>
						</li>
						<li  id="menu_level2_manages">
							<a href="javascript:void(0);">Manage</a>
							<ul>
								<li id="menu_level3_mcismng"><a href="javascript:void(0);" onclick="changePage('/operation/manages/mcismng/mngform')">MCIS</a></li>
								<li id="menu_level3_mcksmng"><a href="javascript:void(0);" onclick="changePage('/operation/manages/mcksmng/mngform')">MCKS</a></li>
								<!-- <li id="MC-App"><a href="!#">MC-App</a></li> -->
							</ul>
						</li>
						<li id="menu_level2_monitorings">
							<a href="javascript:void(0);">Monitoring</a>
							<ul>
								<li id="menu_level3_mcismonitoring"><a href="javascript:void(0);" onclick="changePage('/operation/monitorings/mcismonitoring/mngform')">MCIS</a></li>
								<!-- <li id="menu_level3_mcksmonitoring"><a href="javascript:void(0);" onclick="changePage('/operation/monitorings/mcksmonitoring/mngform')">MCKS</a></li> -->
								<!-- <li id="MC-App"><a href="javascript:void(0);" onclick="changePage('/operation/Monitoring_McApp.html')">MC-App</a></li> -->
							</ul>
						</li>
						<li id="menu_level2_policies">
							<a href="javascript:void(0);">Policy</a>
							<ul>
								<li id="menu_level3_monitoringconfigpolicy"><a href="javascript:void(0);" onclick="changePage('/operation/policies/monitoringconfigpolicy/mngform')">Monitoring</a></li>
								<li id="menu_level3_monitoringalertpolicy"><a href="javascript:void(0);" onclick="changePage('/operation/policies/monitoringalertpolicy/mngform')">Threshold</a></li>
								<!-- <li id="menu_level3_placementpolicy"><a href="javascript:void(0);" onclick="changePage('/operation/policies/placementpolicy/mngform')">Placement</a></li> -->
							</ul>
						</li>
						<li id="menu_level2_about">
							<a href="javascript:void(0);">About</a>
							<ul>
								<li id="menu_level3_about"><a href="/operation/about/about">About</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="tab-pane fade" id="setting">
					<ul class="menu">
						<li id="menu_level2_resources">
							<a href="javascript:void(0);">Resources</a>
							<ul>
								<li id="menu_level3_network"><a href="javascript:void(0);" onclick="changePage('/setting/resources/network/mngform')">Network</a></li>
								<li id="menu_level3_securitygroup"><a href="javascript:void(0);" onclick="changePage('/setting/resources/securitygroup/mngform')">Security</a></li>
								<li id="menu_level3_sshkey"><a href="javascript:void(0);" onclick="changePage('/setting/resources/sshkey/mngform')">SSH key</a></li>
								<li id="menu_level3_machineimage"><a href="javascript:void(0);" onclick="changePage('/setting/resources/machineimage/mngform')">(Server) Image</a></li>
								<li id="menu_level3_vmspec"><a href="javascript:void(0);" onclick="changePage('/setting/resources/vmspec/mngform')">(Server) Spec</a></li>
							</ul>
						</li>
						<li id="menu_level2_appresources">
							<a href="javascript:void(0);">App Resource</a>
							<ul>
								<li><a href="menu_level3_appserverimage" onclick="changePage('/setting/appresources/appimage/mngform')">(Server) Image</a></li>
								<li><a href="javascript:void(0);">Pod</a></li>
							</ul>
						</li>
						<!-- <li id="Cloud">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id="Connection"><a href="/setting/connections/cloudconnectionconfig/mngform">Cloud Connections</a></li>
							</ul>
						</li>
						 -->
						<li id="menu_level2_connections">
							<a href="javascript:void(0);">Cloud Connections</a>
							<ul>
								<li id="menu_level3_cloudconnectionconfig"><a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')">Cloud Connections</a></li>
							</ul>
						</li>
						<!-- <li id="NameSpace">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="NS" ><a href="/setting/namespaces/namespace/mngform">NameSpace</a></li>
							</ul>
						</li> -->
						<li id="menu_level2_namespaces">
							<a href="javascript:void(0);">NameSpace</a>
							<ul>
								<li id="menu_level3_namespace"><a href="javascript:void(0);" onclick="changePage('/setting/namespaces/namespace/mngform')">NameSpace</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		<!-- //menu -->
		<script>
			// 좌측메뉴 선택표시			
			lnb_on();
		</script>
{{end}}