{{define "TopBox"}}
<!-- 사용자정보, 현재 name space 표시 -->
<div class="topbox">
    <div class="info">
        <div class="thumb"><a href="/main"><img src="/assets/img/common/img_login_t.png" alt=""></a></div>
        <div class="txt_1">Cloud-Barista : {{.LoginInfo.Username}}</div>
        <div class="txt_2">
            <input type="hidden" id="topboxDefaultNameSpaceID" value="{{.LoginInfo.DefaultNameSpaceID}}" />
            <span id="topboxDefaultNameSpaceName">{{.LoginInfo.DefaultNameSpaceName}}</span>
            <div class="infobox">
                <div class="box">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" style="cursor:default;">Change NameSpace</a>
                            <ul id="menuNameSpaceList">
                                {{with .NameSpaceList}}
                                {{range .}}
                                <li><a href="javascript:void(0);" onclick="selectDefaultNameSpace('TobBox', '{{.ID}}')"
                                        data-toggle="modal" data-target="#NameSpace">{{.Name}}</a></li>
                                {{end}}
                                {{end}}
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" style="cursor:default;">Manage NameSpace</a>
                            <ul>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#NewNS"
                                        onClick="changePage('/setting/namespaces/namespace/mngform')">new NS</a></li>
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#ManageNS"
                                        onClick="changePage('/setting/namespaces/namespace/mngform')">Manage NS</a></li>
                            </ul>
                        </li>
                        <input type="hidden" id="select_namespace" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}