# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# environment files
*.env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log
*.idea

bin/
vendor/

# data file on cb-store
meta_db/
