@charset "utf-8";

/* 20.09.05 */

/*font + */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* { font-family: 'Kanit', 'Nanum Myeongjo', sans-serif; }

/*safari input*/
input[type='button'],
input[type='submit'] { -webkit-appearance: none; -webkit-border-radius: 0; }


html, body{padding:0;margin:0; letter-spacing:-0.5px; word-break:keep-all; font-weight:300;}

/* mobile font size expand */
body{-webkit-text-size-adjust:none; }


body,table,input,textarea {font-size:16px; font-family: 'Kanit', sans-serif; color:#666;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block }


/* for AXISJ */
body, select, input, a, button{line-height:1;}

/* link */
a{outline:none;select-dummy:expression(this.hideFocus=true);}

/* margin padding reset */
div, pre, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; font-family: 'Kanit', sans-serif; }
input, select, textarea { margin:0; padding:0; }

/* font size */
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}

/* list */
ul, ol, li { list-style:none; }
em,address{font-style:normal;}

/* table */
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;}

table {border:0;width:100%;}
table th{word-wrap:break-word}
table td{word-wrap:break-word}
img, fieldset { border:none; }
img, object { vertical-align:top; }
caption {text-align:left;}

/* form tag */
button,
input[type="submit"],
input[type="button"] { cursor:pointer; }
select {font-size:12px; vertical-align:middle;color:#666;outline:none; background-color:#fff; box-sizing:border-box; }
input {font-size:12px; vertical-align:middle;color:#666;outline:none; box-sizing:border-box; }
textarea {font-size:12px; color:#666;outline:none; background-color:#fff; box-sizing:border-box; }
input[type="radio"]{vertical-align:middle;}

input,
button,
select,
textarea { font-family: 'Kanit', sans-serif; }

a:link{color:#666; text-decoration:none;}
a:active{color:#666; text-decoration:none;}
a:visited{color:#666; text-decoration:none;}
a:hover{color:#666; text-decoration:none;}

/* hidden  */
hr,caption, legend {width:0;height:0;font-size:0;line-height:0;overflow:hidden; text-indent:-9999px;}
.hide{position:absolute;top:-9999px;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}

/* skip navigation*/
#sknavi{position:absolute;}
#sknavi li a{position:absolute;top:-200px;}
#sknavi li a:focus,
#sknavi li a:active{top:1px;left:0;display:block;width:150px;color:#fff;height:18px;padding:5px 3px 0 3px;margin-left:5px;text-align:center;font-size:100%;font-weight:bold;background:#115aa3;text-decoration:none;}
.cursor { cursor:pointer; }

/* common */
.pl0{padding-left:0px !important;}
.pl05{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pr05{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pt05{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.ml0{margin-left:0 !important;}
.ml05{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.mr05{margin-right:05px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mtm1{margin-top:-1px !important;}
.mtm2{margin-top:-2px !important;}
.mt05{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:40px !important;}
.mt55{margin-top:40px !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}

.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs25{font-size:25px;}
.fs30{font-size:30px;}
.fs35{font-size:35px;}
.fs40{font-size:40px;}

.W30{width:30px;}
.W40{width:40px;}
.W50{width:50px;}
.W60{width:60px;}
.W70{width:70px;}
.W80{width:80px;}
.W90{width:90px;}
.W100{width:100px;}
.W110{width:110px;}
.W120{width:120px;}
.W130{width:130px;}
.W140{width:140px;}
.W150{width:150px;}
.W160{width:160px;}
.W170{width:170px;}
.W180{width:180px;}
.W190{width:190px;}
.W200{width:200px;}
.W210{width:210px;}
.W220{width:220px;}
.W230{width:230px;}
.W240{width:240px;}
.W250{width:250px;}
.W260{width:260px;}
.W270{width:270px;}
.W280{width:280px;}
.W290{width:290px;}
.W300{width:300px;}
