{{define "LoginTop"}}
<!doctype html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes,target-densitydpi=medium-dpi" />
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id"
		content="1097552780449-0c9kjir5vh8qvlmfhjkr9eb9ma6c122p.apps.googleusercontent.com">

	<title>CLOUD BARISTA</title>

	<link rel="icon" href="#">

	<link rel="stylesheet" href="/assets/js/bootstrap-4.5.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/login.css" />

	<script src="/assets/js/jquery-1.11.0/jquery.min.js"></script>
	<script src="/assets/js/bootstrap-4.5.2/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.scrollbar.js"></script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/assets/js/common.js"></script>
	<script src="/assets/js/util/util.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://apis.google.com/js/api:client.js"></script>
	<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
</head>

<body class="bg_login">
	{{end}}