{{template "LoginTop" .}}
<div class="loginarea">
    <div class="logintop">
        <div class="loginbox">
            <input type="hidden" id="sel_ns" />
            <div class="loginlogo"><img src="/assets/img/common/img_login_t.png" alt="Cloud Barista"></div>
            <div class="title"><span>C</span>loud <span>B</span>arista</div>

            <!-- Input -->
            <div class="ipbox">
                <ul>
                    <li class="form-label-group"><label class>Account(ID)</label><input type="text" name="userid"
                            id="userID" value="" placeholder="Input /Account(ID)" title="" autofocus /></li>
                    <!-- <li class="form-label-group"><label class>Email</label><input type="text" name="" id="email" value="" placeholder="Email" title="" autofocus /></li> -->
                    <li class="form-label-group"><label>Password</label><input type="password" name="password"
                            id="password" value="" placeholder="Input /Password (*****)" title=""
                            onkeydown="enterKeyForLogin();" /></li>
                </ul>
                <div class="ch"><input type="checkbox" name="" value="" id="ip_ch" title="" /><label
                        for="ip_ch"><span></span> Remenber me</label></div>
                <div class="btnbox">
                    <div class="btn_pw"><a href="#" onclick="commonConfirmOpen('idpwLost')">Lost your password?</a>
                        <span>I</span> <a href="#">Sign Up</a>
                    </div>
                    <button name="" value="" class="btn_login" data-toggle="modal" data-target
                        id="sign_btn">Login</button>
                </div>
            </div>
            <!-- //Input -->
        </div>
    </div>

    <div class="login_footer">
        <div class="infobox">
            <div class="tit">Cloud-Barista Community</div>
            <div class="listbox">
                <div class="linkbox">
                    <p>Homepage :</p>
                    <div class="txt"><a href="https://cloud-barista.github.io"
                            target="_blank">https://cloud-barista.github.io</a></div>
                </div>
                <div class="linkbox">
                    <p>GitHub :</p>
                    <div class="txt"><a href="https://github.com/cloud-barista"
                            target="_blank">https://github.com/cloud-barista</a></div>
                </div>
            </div>
            <div class="linkbox">
                <p>E-mail :</p>
                <div class="txt"><a href="mailto:contact-to-cloud-barista@googlegroups.com"
                        target="_blank">contact-to-cloud-barista@googlegroups.com</a></div>
            </div>
        </div>
    </div>
</div>

<!-- id/pw required -->
<div class="modal fade" id="required" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="txt">ID/Password required !</div>
                <div class="btnbox">
                    <button type="button" class="btn_ok" data-toggle="modal" data-target="#idpwLost">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //required -->

<!-- id/password lost -->
<div class="modal fade" id="idpwLost" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="txt"><span>Illegal account / password</span> 다시 입력 하시겠습니까?</div>
                <div class="btnbox">
                    <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn_ok" data-toggle="modal" data-target="#popLogin">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //id/password lost -->

<!-- popup alert : 원래는 공통으로 사용하는 modal.html을 import 하지만 login만 따로... alertArea에 대한 style 정의 필요 -->
<div class="modal fade" id="alertArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="txt"><span id="alertText"></div>
                <div class="btnbox">
                    <input type="hidden" id="alertOkAction" value="">
                    <button type="button" class="btn_ok" data-dismiss="modal" onclick="commonAlertClose()">OK</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- //popup alert -->

<!-- // SelectNamespace Modal-->
<div id="sss">
    {{template "SelectNamespaceModal" .}}
</div>
<!-- // SelectNamespace Moda end -->
{{template "LoginFooter" .}}

<script src="/assets/js/auth/login.js"></script>
<script>startApp();</script>