{{define "SelectNamespaceModal"}}
        <!-- Cloud Connection / Select NS (NameSpace) input -->
        <div class="modal fade" id="popLogin" tabindex="-1" role="dialog" aria-hidden="true">
           
            <div class="modal-dialog popupBody">
                <div class="modal-content">                
                    <div class="modal-body scrollbar-inner">
                        
                        <div class="wbox">
                        
                            <!-- Select NS (NameSpace) -->
                            <div class="popbox popboxNS">
                                <div class="popcont">
                                    <div class="titlebox">
                                        <div class="tit"><span>Select NS</span> (NameSpace)</div>
                                        <div class="txt">사용자의 작업 영역을 선택 또는 생성해 주세요</div>
                                    </div>
                                
                                    <!-- list -->
                                    <div class="cloudlist">
                                        <div class="listbox scrollbar-inner" id="nsList">                                            
                                        </div>
                                    </div>
                                    <!-- //list -->
                                
                                    <!-- add -->
                                    <div class="addbox">
                                        <div class="txt">or <span>Add</span> new NameSpace</div>
                                        <button name="" value="" class="btn_add" id="btnToggleNamespace">ADD +</button> 
                                    </div>
                                
                                    <div class="add_ipbox" id="addNamespaceForm">
                                    
                                        <div class="iplist">
                                            <ul>
                                                <li><label class="chk">Type New NS Name</label><input type="text" name="" id="addNamespace" value="" placeholder="Input Name" title="" /></li>
                                                <li>
                                                    <label>Type Description</label>
                                                    <textarea  cols="" rows="" placeholder="Input Description" id="addNamespaceDesc" title=""></textarea>
                                                </li>
                                            </ul>
                                        
                                            <div class="btnbox">
                                                <button name="" value="" class="btn_create" id="ns_create_btn" onclick="createNameSpace()">Create</button>
                                                <button name="" value="" class="btn_clear">Clear</button>
                                            </div>
                                            
                                        </div>                                    
                                    </div>
                                    <!-- //add -->                                
                                </div>
                            </div>
                            <!-- //Select NS (NameSpace) -->
                            <button id="select_ns_ok_btn" class="btn_ok" data-dismiss="modal" onclick="clickOK();">OK</button>     
                        </div>                    
                        
                    </div>                
                </div>            
            </div>        
        </div>
        <!-- //Cloud Connection / Select NS (NameSpace) input -->
    {{end}}