{{define "UserGuide"}}
					

 
					<div class="dashboard dashboard_cont">
						<div>
							<!-- <div class="titlebox">
                                    <div>&nbsp;</div>
                                    <div class="tit">&nbsp;<span>Main</span> 화면</div>
                            </div>
                             -->
                            <div class="ds_cont">
								<div class="register_box">								    
									<div class="graybox">
										<div class="g_box">
											
											<div class="logicbox">												
												<div class="mainbox">
													
													<div class="logic_tbox lg_1">
														<div class="tit">Step 1. NameSpace</div>
														<div class="btn btn-primary btn-lg txtmain" id="infoNamePrs">
															<a href="javascript:void(0);" onclick="changePage('/setting/namespaces/namespace/mngform')">NameSpace</a>
															
															<!-- { {if eq .WorkingStep.NAMESPACE "PASS" }} <br> 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/namespaces/namespace/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomainnamespace" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="logicbox">														
												<div class="mainbox">	
													<div class="logic_tbox lg_1">
														<div class="tit">&nbsp;</div>
													</div>	
												</div>
											</div>

											<!-- step2 -->
											<div class="logicbox">												
												<div class="mainbox">
													
													<div class="logic_tbox lg_1">
														<div class="tit">Step 2. Connection</div>
														<div class="btn btn-primary btn-lg txtmain"> <a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')">Connection</a>
														</div>														
													</div>
												</div>
											</div>
											<div class="logicbox">		
												<div class="mainbox">	
													<div class="line line_p0"></div>
													<div class="line line_a line_p0_1"></div>
													
													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;">
															<a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')" >Credential</a> 	<br/>
															<!-- { {if eq .WorkingStep.CREDENTIAL "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')"> [미생성]</a>
															{ { end }}	-->
															<span id="gotomaincredential" style="display:none">
																[미생성]
															</span>
														</div>			
													</div>
													<div class="line line_space"></div>
													
													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;">
															<a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')" >Driver</a>  <br/>
															<!-- { {if eq .WorkingStep.DRIVER "PASS" }} 생성
															{ { else }} <a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomaindriver" style="display:none">
																[미생성]
															</span>
														</div>
													</div>

													<div class="line line_space"></div>

													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;">
															<a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')" >Region</a>  <br/>
															<!-- { {if eq .WorkingStep.REGION "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/connections/cloudconnectionconfig/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomainregion" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="logicbox">														
												<div class="mainbox">	
													<div class="logic_tbox lg_1">
														<div class="tit">&nbsp;</div>
													</div>	
												</div>
											</div>
											<!-- step3 -->
											<div class="logicbox">														
												<div class="mainbox">	
													<div class="logic_tbox lg_1">
														<div class="tit">Step 3. Resource</div>
														<div class="btn btn-primary btn-lg txtmain">Resource 생성</div>
													</div>	
												</div>
											</div>
											<!-- sub단계-->
											<div class="logicbox">													
												<div class="mainbox">
													<div class="line line_p0"></div>
													<div class="line line_a line_p0_1"></div>

													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;">
															<a href="javascript:void(0);" onclick="changePage('/setting/resources/network/mngform')">Network</a> <br/>
															<!-- { {if eq .WorkingStep.VNET "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/resources/network/mngform')"> [미생성]</a>
															{ { end }}	 -->
															<span id="gotomainnetwork" style="display:none">
																[미생성]
															</span>
														</div>														
													</div>
												
													<!-- 
													<div class="line line_p3"></div>
													<div class="line line_a line_p3_1"></div> -->
													<div class="line line_space"></div>
													
													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;" >
															<a href="javascript:void(0);" onclick="changePage('/setting/resources/securitygroup/mngform')"> Security</a><br/>
															<!-- { {if eq .WorkingStep.SECURITY "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/resources/securitygroup/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomainsecuritygroup" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												
													<div class="line line_space"></div>
	
													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;" onclick="changePage('/setting/resources/sshkey/mngform')" >
															<a href="javascript:void(0);" onclick="changePage('/setting/resources/sshkey/mngform')" > SSH Key</a><br/>
															<!-- { {if eq .WorkingStep.SSHKEY "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/resources/sshkey/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomainsshkey" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												
													<div class="line line_space"></div>

													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;">
															<a href="javascript:void(0);" onclick="changePage('/setting/resources/machineimage/mngform')" > (Server) Image </a><br/>
															<!-- { {if eq .WorkingStep.IMAGE "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/resources/machineimage/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomainimage" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												
													<div class="line line_space"></div>
	
													<div class="logic_tbox lg_4">
														<div class="tit">&nbsp;</div>
														<div class="btn btn-info btn-lg txt" style="min-height: 70px;" onclick="changePage('/setting/resources/vmspec/mngform')" > 
															<a href="javascript:void(0);" onclick="changePage('/setting/resources/vmspec/mngform')" > (Server) Spec </a><br/>
															<!-- { {if eq .WorkingStep.SPEC "PASS" }} 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/resources/vmspec/mngform')"> [미생성]</a>
															{ { end }} -->
															<span id="gotomainspec" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="logicbox">														
												<div class="mainbox">	
													<div class="logic_tbox lg_1">
														<div class="tit">&nbsp;</div>
													</div>	
												</div>
											</div>

											<div class="logicbox">												
												<div class="mainbox">
													
													<div class="logic_tbox lg_1">
														<div class="tit">Step 4-1. MCIS </div>
														<div class="btn btn-success btn-lg txtmain"  >
															<a href="javascript:void(0);" onclick="changePage('/operation/manages/mcismng/mngform')"> MCIS </a><br/>
															<!-- { {if eq .WorkingStep.MCIS "PASS" }}  <br> 생성
															{ { else }} 미생성 <br/>[미생성]
															{ { end }} -->
															<span id="gotomainmcis" style="display:none">
																[미생성]
															</span>
														</div>
													</div>

													<div class="line line_space"></div>
													<div class="line line_space"></div>
													<div class="line line_space"></div>
													<div class="line line_space"></div>
													
													<div class="logic_tbox lg_2">
														<div class="tit">Step 4-2. MCKS </div>
														<div class="btn btn-success btn-lg txtmain"  >
															<a href="javascript:void(0);" onclick="changePage('/operation/manages/mcksmng/mngform')"> MCKS </a><br/>
															<!-- { {if eq .WorkingStep.MCKS "PASS" }}  <br> 생성
															{ { else }} 미생성 <br/>[미생성]
															{ { end }} -->
															<span id="gotomainmcks" style="display:none">
																[미생성]
															</span>
														</div>
													</div>
												</div>
											</div>											
												<!-- <div class="mainbox">													
													<div class="logic_tbox lg_1">
														<div class="tit">Step 4-1. MCIS </div>
														<div class="txt" id="infoNamePrs">
															{ {if eq .WorkingStep.MCIS "PASS" } }  <br> 생성
															{ { else } } 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/namespaces/namespace/mngform')"> [미생성]</a>
															{ { end } }
														</div>
													</div>
													<div class="line line_space"></div>
													<div class="line line_space"></div>
													<div class="line line_space"></div>
													<div class="logic_tbox lg_2">
														<div class="tit">Step 4-2. MCKS </div>
														<div class="txt" id="infoNamePrs">
															{ {if eq .WorkingStep.MCKS "PASS" }}  <br> 생성
															{ { else }} 미생성 <br/><a href="javascript:void(0);" onclick="changePage('/setting/namespaces/namespace/mngform')"> [미생성]</a>
															{ { end }}
														</div>
													</div>
												</div> -->
											</div>
										</div>
									</div>    								
								</div>

                            </div>                            
                        
                        </div>                    
                    
					</div>
					<!-- //list -->
					
					
			


<script >



$(document).ready(function () {
	// namespace
	getCommonNameSpaceList("mainnamespace")

	// connection
	// credential
	getCommonCredentialList("maincredential");
	// region
	getCommonRegionList("mainregion");
	// driver
	getCommonDriverList("maindriver");

	// resource
	// network(vnet)
	getCommonNetworkList("mainnetwork")
	// securitygroup
	getCommonSecurityGroupList("mainsecuritygroup")
	// sshkey
	getCommonSshKeyList("mainsshkey")
	// spec
	
	// image
	getCommonVirtualMachineImageList("mainimage")

	getCommonVirtualMachineSpecList("mainspec")
	
	getCommonMcisList("mainmcis")

	getCommonMcksList("mainmcks")
	//$("#guideArea").modal();
});                   

let guideMap = new Map();
// TODO : 가져온 결과로 어떻게 처리할 것인지
function processMap(caller){
	console.log("GUIDE---------- " + caller)
	console.log(guideMap)
	try{
	var keyValue = guideMap.get(caller);
	if( keyValue > 0){
		$("#goto" + caller).html("")
		console.log(" gogogogo ")
		$("#goto" + caller).html("생성완료")
		console.log(" gogogogo22 ")
	}else{
		console.log("-- goto" + caller)
		document.getElementById("goto" + caller).style.display = "";
		if( caller.indexOf("credential") > 0 || caller.indexOf("driver") > 0 || caller.indexOf("region") > 0){
			$("#guideArea").modal();
		}
	}
}catch(e){console.log(e)}
	console.log("goto" + caller)
	// guideMap.forEach( (value, key, map) => {
	// 	// alert(`${key}: ${value}`); // cucumber: 500 ...
	// 	console.log(key + " : " + value);
	// 	if( key == "namespace" && value == 0 ){
	// 		$("#guideArea").modal();
	// 		return;
	// 	}

	// 	if( key == "credential" && value == 0 ){
	// 		document.getElementById("gotoCredential").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoCredential").html("생성완료")
	// 		document.getElementById("gotoCredential").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "region" && value == 0 ){
	// 		document.getElementById("gotoRegion").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoRegion").text("생성완료")
	// 		document.getElementById("gotoRegion").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "driver" && value == 0 ){
	// 		document.getElementById("gotoDriver").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoDriver").text("생성완료")
	// 		document.getElementById("gotoDriver").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "network" && value == 0 ){
	// 		document.getElementById("gotoNetwork").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoNetwork").text("생성완료")
	// 		document.getElementById("gotoNetwork").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "securitygroup" && value == 0 ){
	// 		document.getElementById("gotoSecurity").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoSecurity").text("생성완료")
	// 		document.getElementById("gotoSecurity").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "sshkey" && value == 0 ){
	// 		document.getElementById("gotoSshKey").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoSshKey").text("생성완료")
	// 		document.getElementById("gotoSshKey").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "image" && value == 0 ){
	// 		document.getElementById("gotoServerImage").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoServerImage").text("생성완료")
	// 		document.getElementById("gotoServerImage").style.display = "";
	// 		return;
	// 	}

	// 	if( key == "spec" && value == 0 ){
	// 		document.getElementById("gotoServerSpec").style.display = "";
	// 		$("#guideArea").modal();
	// 		return;
	// 	}else{
	// 		$("#gotoServerSpec").text("생성완료")
	// 		document.getElementById("gotoServerSpec").style.display = "";
	// 		return;
	// 	}
	// });
}

function getNameSpaceListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getNameSpaceListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

function getCredentialListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getCredentialListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

function getRegionListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getRegionListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

function getDriverListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)		
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getDriverListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

function getNetworkListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getNetworkListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

function getSecurityGroupListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getSecurityGroupListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

function getSshKeyListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}
function getSshKeyListCallbackFail(caller, error){
	guideMap.set(caller, 0)
	processMap(caller);
}

//getCommonVirtualMachineImageList
function getImageListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}

function getImageListCallbackFail(caller, error){	
	guideMap.set(caller, 0)
	processMap(caller);
}

function getSpecListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}

function getSpecListCallbackFail(caller, error){	
	guideMap.set(caller, 0)
	processMap(caller);
}

function getMcisListCallbackSuccess(caller, data){
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}

function getMcisListCallbackFail(caller, error){	
	guideMap.set(caller, 0)
	processMap(caller);
}


function getMcksListCallbackSuccess(caller, data){
	console.log("getMcksListCallbackSuccess--" + caller);
	console.log(data);
	if ( data == null || data == undefined || data == "null"){
		guideMap.set(caller, 0)
	}else{// 아직 data가 1건도 없을 수 있음
		if( data.length > 0){
			guideMap.set(caller, 1)
		}
	}
	// console.log(data);
	processMap(caller);
}

function getMcksListCallbackFail(caller, error){	
	guideMap.set(caller, 0)
	processMap(caller);
}
</script>
{{end}}