{{template "OperationTop" .}}
<div id="lnb">
			
	<div class="bg"></div>
		
	<div class="m_box">
		
		{{template "TopBox" .}}

		{{template "LNBPopup" .}}
		
        <!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->	
	</div>
	
	
	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>
	
</div>
{{template "Header" .}}
{{template "Modal" .}}
				<script>
			
				</script>
				<!-- contents -->
				<div class="contbox">
					placementPolicymng
                </div>
				<!-- //contents -->

<script src="/assets/js/operation/policies/placement/placementpolicygmng.js"></script>
{{template "Footer" .}}