{{define "CredentialModal"}}

					
	
					<!-- popup add Credential -->
					<div class="modal fade layerpopup" id="Add_Credential" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Would you like to register <br />Add Credential?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal" data-target="#Add_Credential_Register">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Credential -->
	
					<!-- popup add Credential register -->					
					<div class="modal fade register_add" id="Add_Credential_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Add Credential</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="pop_ipbox">
												<ul>
													<!-- firefox에서 저장된 key를 id, password로 인식하면 해당 칼럼의 background가 yellow 로 표시 되어 더미 input 을 추가하여 focus를 빼앗음-->
													<li class="p_ip1" style="display:none;">
														<input type="text" name="abc" value="admin">
														<input type="password">
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Name</label>
														<input type="text" id="CredentialModalCredentialName" name="" value="" placeholder="input Name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Provider (CP)</label>
														<select id="CredentialModalProviderName" class="selectbox white pline w_ip1" required onchange="selCredentialProvider(this.value)">
															<option>Select Provider</option>
															{{ range $item := .CloudOSList}}	
															<option value="{{ $item }}">{{ $item }}</option>
															{{ end }}	
														</select>
														<!-- <input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" /> -->
													</li>
													<li class="p_ip1" id="liKey0">
														<label><span class="ch">*</span>Key[0]</label>
														<input type="text" id="CredentialModalKey0" name="" value="" placeholder="input key id / name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1" id="liValue0">
														<label><span class="ch">*</span>Value[0]</label>
														<input type="password" id="CredentialModalValue0" name="" value="" placeholder="input key value" class="pline w_ip1" title="" />
														
													</li>
													<li class="p_ip1" id="liKey1">
														<label><span class="ch">*</span>Key[1]</label>
														<input type="text" id="CredentialModalKey1"name="" value="" placeholder="input key id / name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1" id="liValue1">
														<label><span class="ch">*</span>Value[1]</label>
														<input type="password" id="CredentialModalValue1" name="" value="" placeholder="input key value" class="pline w_ip1" title="" />														
													</li>

													<li class="p_ip1" id="liKey2">
														<label><span class="ch">*</span>Key[2]</label>
														<input type="text" id="CredentialModalKey2" name="credential_keys" value="" placeholder="input key id / name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1" id="liValue2">
														<label><span class="ch">*</span>Value[2]</label>
														<input type="password" id="CredentialModalValue2" name="credential_values" value="" placeholder="input key value" class="pline w_ip1" title="" />																												
													</li>

													<li class="p_ip1" id="liKey3">
														<label><span class="ch">*</span>Key[3]</label>
														<input type="text" id="CredentialModalKey3"name="" value="" placeholder="input key id / name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1" id="liValue3">
														<label><span class="ch">*</span>Value[3]</label>
														<input type="password" id="CredentialModalValue3" name="" value="" placeholder="input key value" class="pline w_ip1 " title="" />														
													</li>
													<li class="p_ip1" id="liKey4">
														<label><span class="ch">*</span>Key[4]</label>
														<input type="text" id="CredentialModalKey4"name="" value="" placeholder="input key id / name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1" id="liValue4">
														<label><span class="ch">*</span>Value[4]</label>
														<input type="password" id="CredentialModalValue4" name="" value="" placeholder="input key value" class="pline w_ip1 " title="" />														
													</li>

													<!-- <li class="p_ip1">
														<label><span class="ch">*</span>Value[2]</label>
														<input type="text" id="CredentialModalValue2" name="credential_values" value="" placeholder="input Value" class="pline w_ip1" title="" />
													</li> -->

													<!-- <li class="p_ip1">
														<label><span class="ch">*</span>Key[0]</label>
														<input type="text" id="CredentialModalCredentialName" name="credential_keys" value="" placeholder="input Key" class="pline w_ip1" title="" />
													</li>RegionModalRegionID
													<li class="p_ip1">
														<label><span class="ch">*</span>Value[0]</label>
														<input type="text" name="credential_values" value="" placeholder="input Value" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Key[1]</label>
														<input type="text" name="credential_keys" value="" placeholder="input Key" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Value[1]</label>
														<input type="text" name="credential_values" value="" placeholder="input Value" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1 hide" id="kv_gcp_key">
														<label><span class="ch">*</span>Key[2]</label>
														<input type="text" name="credential_keys" value="" placeholder="input Key" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1 hide" id="kv_gcp_value">
														<label><span class="ch">*</span>Value[2]</label>
														<input type="text" name="credential_values" value="" placeholder="input Value" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1 hide" id="kv_azure_key">
														<label><span class="ch">*</span>Key[3]</label>
														<input type="text" name="credential_keys" value="" placeholder="input Key" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1 hide" id="kv_azure_value">
														<label><span class="ch">*</span>Value[3]</label>
														<input type="text" name="credential_values" value="" placeholder="input Value" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1 hide">
														<label><span class="ch">*</span>Key / Value</label>
														<input type="text" name="credential_keys" id="" value="" placeholder="input Key" class="pline w_ip1" title="" />
														<input type="text" name="credential_values" id="" value="" placeholder="input Value" class="pline w_ip1" title="" />
													</li> -->
												</ul>
											</div>
						
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_co btn_cr_g" onclick='saveNewCredential()'><span>OK</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- //popup add Credential register -->

                    <!-- required modal -->
					<div class="modal fade" id="modalCredentialRequired" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">필수항목을 입력바랍니다.</div>
									<div class="btnbox">
										<button type="button" class="btn_ok" data-toggle="modal" data-target="#Add_Credential_Register">OK</button>
									</div>
								</div>                    
							</div>
						</div>                    
					</div>
					<!-- //required -->
					

{{end}}                    