{{define "DriverModal"}}

	
					<!-- popup add Driver -->
					<div class="modal fade layerpopup" id="Add_Driver" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Would you like to register <br />Add Driver?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal" data-target="#Add_Driver_Register">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Driver -->
	
					<!-- popup add Driver register -->					
					<div class="modal fade register_add" id="Add_Driver_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Add Driver</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="pop_ipbox">
												<ul>
													<li class="p_ip1">
														<label><span class="ch">*</span>Name</label>
														<input type="text" id="DriverModalDriverName" name="" value="" placeholder="input Name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Provider (CP)</label>
														<select id="DriverModalProviderName" class="selectbox white pline w_ip1" required>
															<option>Select Provider</option>
															{{ range $item := .CloudOSList}}	
															<option value="{{ $item }}">{{ $item }}</option>
															{{ end }}	
														</select>
														<!-- <input type="text" name="" value="" placeholder="" class="pline w_ip1" title="" /> -->
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>LibFileName</label>
														<input type="text" id="DriverModalDriverLibFileName" name="credential_keys" value="" placeholder="input Driver Lib File Name" class="pline w_ip1" title="" />
														<!-- <select class="selectbox white pline w_ip1">
															<option value="1">Selected Driver</option>
														</select> -->
													</li>
												</ul>
											</div>
						
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_co btn_cr_g" onclick='saveNewDriver()'><span>OK</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
										</div>
									</div>
								</div>
								
							</div>							
						</div>													
					</div>
					<!-- //popup add Driver register -->


					<!-- required -->
					<!-- <div class="modal fade" id="modalDriverRequired" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">필수항목을 입력바랍니다.</div>
									<div class="btnbox">
										<button type="button" class="btn_ok" data-toggle="modal" data-target="#Add_Driver_Register">OK</button>
									</div>
								</div>                    
							</div>
						</div>                    
					</div> -->
					<!-- //required -->

{{end}}