{{define "InspectModal"}}

<!-- popup inspect Resources -->
<div class="modal fade popup_editBox" id="Inspect_Resources" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="pop-body">

                    <div class="title_box">
                        <div class="title">Inspect Resources</div>
                    </div>

                    <div class="pop-cont">

                        <div class="toptxt search">
                            <ul>
                                <li class="reg_1">
                                    <label class="assistLabel">Connection Name</label>
                                    <select class="selectbox white pline w3" name="inspectResourceConnectionName"
                                        id="inspectResourceConnectionName">
                                        <option value="" selected>Select Conncetion Name</option>
                                        {{ range $item := .CloudConnectionConfigList}}
                                        <option value="{{ $item.ConfigName }}">{{ $item.ConfigName }}</option>
                                        {{ end }}
                                    </select>

                                </li>
                                <li class="reg_1">
                                    <label class="assistLabel"></span>Resource Type</label>
                                    <select class="selectbox white pline w3" name="inspectResourcesType"
                                        id="inspectResourcesType">
                                        <option value="" selected>Selected Resource Type</option>
                                        <option value="vNet">VNet</option>
                                        <option value="securityGroup">Security Group</option>
                                        <option value="sshKey">SSH Key</option>
                                        <option value="vm">VM</option>
                                    </select>
                                </li>
                                <li>
                                    <input type="submit" name="" class="btn_search_image" title="" value=""
                                        onclick="setInspectResourcesList()" />
                                </li>
                            </ul>
                        </div>

                        <!-- table scrollbar -->
                        <div class="dtbox scrollbar-inner">
                            <div class="dataTable dt_overlay">
                                <table cellpadding="0" cellspacing="0" summary="" id="inspectResourcesListTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Spider</th>
                                            <th>Tumblebug</th>
                                        </tr>
                                    </thead>
                                    <tbody id="inspectResourcesList">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //table scrollbar -->

                    </div>

                </div>

                <div class="btnbox">
                    <div class="btn_right">
                        <button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- popup inspect Resources -->

<!-- popup inspect Resources All-->
<div class="modal fade popup_editBox" id="Inspect_Resources_All" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="pop-body">

                    <div class="title_box">
                        <div class="title">Inspect All Resources</div>
                    </div>

                    <div class="pop-cont">
                        <div>
                            <div>
                                <label><strong>CSP Only</strong></label>
                                <span id="inspect_csp_only"></span>
                            </div>
                            <div>
                                <label><strong>Tumblebug</strong></label>
                                <span id="inspect_tumblebug"></span>
                            </div>

                        </div>



                        <!-- table scrollbar -->
                        <div class="dtbox scrollbar-inner">
                            <div class="dataTable dt_overlay">
                                <table cellpadding="0" cellspacing="0" summary="" id="inspectResourcesListAllTable">
                                    <thead>
                                        <tr>
                                            <th>Connection Name</th>
                                            <th>CSP Only</th>
                                            <th>Tumblebug</th>
                                        </tr>
                                    </thead>
                                    <tbody id="inspectResourcesAllList">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //table scrollbar -->

                    </div>

                </div>

                <div class="btnbox">
                    <div class="btn_right">
                        <button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- popup inspect Resources All -->

{{end}}