{{define "RegionModal"}}
					<!-- popup add Region -->
					<div class="modal fade layerpopup" id="Add_Region" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Would you like to register <br />Add Region?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal" data-target="#Add_Region_Register">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Region -->
	
					<!-- popup add Region register -->					
					<div class="modal fade register_add" id="Add_Region_Register" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">Add Region</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="pop_ipbox">
												<ul>
													<li class="p_ip1">
														<label><span class="ch">*</span>Name</label>
														<input type="text" id="RegionModalRegionName" name="" value="" placeholder="input Name" class="pline w_ip1" title="" />
													</li>
													<li class="p_ip1">
														<label><span class="ch">*</span>Provider (CP)</label>
														<select id="RegionModalProviderName" class="selectbox white pline w_ip1" required onchange="selRegionProvider(this.value)">
															<option>Select Provider</option>
															{{ range $item := .CloudOSList}}	
															<option value="{{ $item }}">{{ $item }}</option>
															{{ end }}															
														</select>														
													</li>
													<li class="p_ip1" id="regionLikey0">
														<label><span class="ch">*</span>Region ID</label>
														<input type="text" id="RegionModalRegionID"name="" value="" placeholder="input Region" class="pline w_ip1" title="" />
														<!-- Provider의 실제 region id -->
														<!-- TODO : Region 목록을 해당 provider에서 가져오면 select로 바꿀 것.-->
														<!-- <select class="selectbox white pline w_ip1">
															<option value="1">Selected Region</option>
														</select> -->
													</li>
													<li class="p_ip1" id="regionLikey1">
														<label><span class="ch">*</span>Zone ID</label>
														<input type="text" id="RegionModalZoneID" name="" value="" placeholder="input Zone" class="pline w_ip1" title="" />
														<!-- Provider의 실제 region의 zone id -->
														<!-- TODO : Zone 목록을 해당 provider에서 가져오면 select로 바꿀 것.-->
														<!-- <select class="selectbox white pline w_ip1">
															<option value="1">Selected Zone</option>
														</select> -->
													</li>

													<!-- Azure 의 경우 Key / value 로 입력받음-->
													<li class="p_ip1" id="regionLikey2" style="display:none">
														<label><span class="ch">*</span>Location</label>
														<input type="text" id="RegionModalAzureLocationID"name="" value="" placeholder="input Location" class="pline w_ip1" title="" />
														
													</li>
													<li class="p_ip1" id="regionLikey3" style="display:none">
														<label><span class="ch">*</span>Resource Group</label>
														<input type="text" id="RegionModalAzureResourceGroupID" name="" value="" placeholder="input Resource Group" class="pline w_ip1" title="" />
														
													</li>
												</ul>
											</div>
						
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_co btn_cr_g" onclick='saveNewRegion()'><span>OK</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">Cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- //popup add Region register -->

					<!-- popup add Region -->
					<div class="modal fade layerpopup" id="Del_Region" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">Are you sure to delete this Region?</div>
									<div class="btnbox">
										<button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
										<button type="button" class="btn_ok btn_add" data-toggle="modal">OK</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- //popup add Region -->					

					<!-- required modal -->
					<!-- <div class="modal fade" id="modalRegionRequired" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="txt">필수항목을 입력바랍니다.</div>
									<div class="btnbox">
										<button type="button" class="btn_ok" data-toggle="modal" data-target="#Add_Region_Register">OK</button>
									</div>
								</div>                    
							</div>
						</div>                    
					</div> -->
					<!-- //required -->

{{end}}                    