{{ template "Top" .}}

<div id="lnb">

    <div class="bg"></div>

    <div class="m_box">


        {{template "TopBox" .}}

        {{template "LNBPopup" .}}

        <!-- menu -->
        {{template "MenuLeft" .}}
        <!-- //menu -->

    </div>

    <div class="bottom"></div>
    <a href="javascript:;" id="m_close"></a>

</div>


{{template "Header" .}}

{{template "Modal" .}}

<!-- contents -->
<div class="contbox">

    <div class="titlebox">
        <div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" />Resources / <strong>SSH key</strong></div>
        <div class="location">Home <span>></span> Setting <span>></span> Resources <span>></span> <strong>SSH
                key</strong></div>
    </div>



    <!-- list -->
    <div class="dashboard dashboard_cont">

        <div class="d_box box_m box_w100">
            <div class="titbox">
                <div class="tit initial"><strong>Server SSH key</strong></div>
                <div class="top_info">
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Filter</a>
                            <div class="infobox">
                                <div class="box">
                                    <ul>
                                        <li><a href="javascript:void(0);"
                                                onclick="commonPromptOpen('RsFltSshName', 'sshkeyList')">Name</a></li>
                                        <li><a href="javascript:void(0);"
                                                onclick="commonPromptOpen('RsFltSshConnName', 'sshkeyList')">Connection
                                                Name</a></li>
                                        <li><a href="javascript:void(0);"
                                                onclick="commonPromptOpen('RsFltSshKeyName', 'sshkeyList')">SSH Key
                                                Name</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Sort</a>
                            <div class="infobox">
                                <div class="box">
                                    <ul>
                                        <li><a href="javascript:void(0);"
                                                onclick="tableSort('sshkeyList', 'Name')">Name</a></li>
                                        <li><a href="javascript:void(0);"
                                                onclick="tableSort('sshkeyList', 'Name')">Connection Name</a></li>
                                        <li><a href="javascript:void(0);" onclick="tableSort('sshkeyList', 'Name')">SSH
                                                Key Name</a></li>
                                        <!--
                                        <li><a href="javascript:void(0);" onclick='getSSHList("name")'>Name</a></li>
                                        <li><a href="javascript:void(0);" onclick='getSSHList("connectionName")'>Connection Name</a></li>
                                        <li><a href="javascript:void(0);" onclick='getSSHList("cspSshKeyName")'>SSH Key Name</a></li>
                                        -->
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Action</a>
                            <div class="infobox">
                                <div class="box">
                                    <ul>
                                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox"
                                                onClick="displaySshKeyInfo('REG')">Add</a></li>
                                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist"
                                                onClick="commonConfirmOpen('DeleteSshKey')">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt="" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- popup Regist -->
            <!-- <div class="modal fade layerpopup" id="RegistBox" tabindex="-1" role="dialog" aria-hidden="true" id="modal_reg">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="txt">Would you like to register SSH key <br />Resource ?</div>
                            <div class="btnbox">
                                <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn_ok register" onClick="goFocus('reg_cspSshKeyName')" data-dismiss="modal">OK</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
            <!-- //popup Regist -->

            <!-- popup UnRegist -->
            <!-- <div class="modal fade layerpopup" id="UnRegist" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-body">
                            <div class="txt">Would you like to un-register SSH key <br />Resource ?</div>
                            <div class="btnbox">
                                <button type="button" class="btn_cancel" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn_ok" onclick="goDelete()" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div> -->
            <!-- //popup UnRegist -->

            <div class="ds_cont" id="sshKeyListTable">

                <div class="dataTable status_list">
                    <table cellpadding="0" cellspacing="0" border="1" summary="" id="sshkeyList">
                        <!-- <colgroup>
                            <col width="50px">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="60px">
                        </colgroup> -->
                        <thead>
                            <tr>
                                <th class="column-50px"><input type="checkbox" name="" value="" id="th_chall"
                                        title="" /><label for="th_chall"></label></td>
                                <th>Name</th>
                                <th>Connection Name</th>
                                <th>SSH KEY Name</th>
                                <!-- <th class="column-60px"></th> -->
                            </tr>
                        </thead>
                        <tbody id="sList">
                            {{ $length := len .SshKeyList }}
                            {{ if eq $length 0 }}
                            <tr>
                                <td class="overlay hidden" data-th="" colspan="5">No Data</td>
                            </tr>
                            {{ end }}

                            {{range $index, $item := .SshKeyList}}
                            <tr onclick="showSshKeyInfo('{{$item.ID}}');">
                                <td class="overlay hidden column-50px" data-th="">
                                    <input type="hidden" id="ssh_info_{{$index}}"
                                        value="{{$item.Name}}|{{$item.ConnectionName}}|{{$item.CspSshKeyName}}" />
                                    <input type="checkbox" name="chk" value="{{$item.Name}}" id="raw_{{$index}}"
                                        title="" />
                                    <label for="raw_{{$index}}"></label> <span class="ov off"></span>
                                </td>
                                <td class="btn_mtd ovm" data-th="Name">{{$item.ID}}
                                    <!-- <a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="td_icon" alt=""/></a> 
                                    <span class="ov"></span> -->
                                </td>
                                <td class="overlay hidden" data-th="connectionName">{{$item.ConnectionName}}</td>
                                <td class="overlay hidden" data-th="cspSshKeyName">{{$item.CspSshKeyName}}</td>
                                <!-- <td class="overlay hidden column-60px" data-th=""><a href="javascript:void(0);">
                                    <img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a>
                                </td> -->
                            </tr>
                            {{ end }}
                            <!--
                            <tr>
                                <td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch1" title="" /><label for="td_ch1"></label> <span class="ov off"></span></td>
                                <td class="btn_mtd ovm" data-th="name">name <span class="ov"></span></td>
                                <td class="overlay hidden" data-th="Connection Name">Connection Name</td>
                                <td class="overlay hidden" data-th="SSH KEY Name">SSH KEY Name</td>
                                <td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt="" /></a></td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                </div>
                <!--
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								-->
            </div>

        </div>

    </div>
    <!-- //list -->

    <!-- Modify -->
    <div class="dashboard dashboard_cont server_status" id="sskKeyInfoBox">

        <div class="d_box box_m box_w100">
            <div class="titbox_n">
                <div class="tit initial"><strong>SSH Key Info</strong> [<span class="stxt"></span>]</div>
            </div>

            <div class="ds_cont">
                <div class="register_box">

                    <div class="top_ipbox">
                        <div class="ipbox ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label>SSH Key Name</label>
                                    <span class="sbox">
                                        <input type="hidden" id="dtlCspSshKeyId" name="" value="" placeholder=""
                                               class="gray" title="" readonly />
                                        <input type="text" id="dtlCspSshKeyName" name="" value="" placeholder=""
                                            class="gray" title="" readonly />
                                        /
                                        <input type="text" id="dtlSshKeyName" name="" value="" placeholder=""
                                               class="gray" title="" readonly />
                                        <input type="hidden" id="dtlSshKeyId" name="" value="" placeholder=""
                                               class="gray" title="" readonly />
                                        <!--<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt="" /></a>-->
                                    </span>
                                </li>
                                <li class="reg_1">
                                    <label>Description</label>
                                    <textarea id="dtlDescription" cols="" rows="" placeholder="" class="gray" title=""
                                        readonly></textarea>
                                </li>
                            </ul>
                        </div>
                        <div class="ipbox ipbox2">
                            <ul>
                                <li class="reg_3">
                                    <label>Connection Name</label>
                                    <input type="text" id="dtlConnectionName" name="" value="" placeholder=""
                                        class="gray" title="" readonly />
                                </li>
                                <li class="reg_3">
                                    <label>publicKey</label>
                                    <input type="text" id="dtlPublicKey" name="" value="" placeholder="" class="gray"
                                        title="" readonly />
                                </li>
                                <li class="reg_3">
                                    <label>privateKey</label>
                                    <textarea id="dtlPrivateKey" cols="" rows="" placeholder="" class="gray" title=""
                                        readonly></textarea>
                                    <!-- <input type="text" id="dtlPrivateKey" name="" value="" placeholder="" class="gray" title="" readonly /> -->
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="top_ipbox bottom_ipbox">
                        <div class="ipbox ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label>username</label>
                                    <input type="text" id="dtlUsername" name="" value="" placeholder="" class="gray"
                                        title="" readonly />
                                    <input type="hidden" id="dtlUserID" name="" value="" placeholder="" class="gray"
                                        title="" readonly />
                                </li>
                            </ul>
                        </div>
                        <div class="ipbox ipbox2">
                            <ul>
                                <li class="reg_3">
                                    <label>fingerprint</label>
                                    <!-- <input type="text" name="" value="" placeholder="fingerprint" class="gray" title="" readonly /> -->
                                    <textarea id="dtlFingerprint" cols="" rows="" placeholder="" class="gray" title=""
                                        readonly></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- //Modify -->

    <!-- Register Security -->
    <div class="dashboard dashboard_cont register_cont" id="sshKeyCreateBox">

        <div class="d_box box_m box_w100">
            <div class="titbox_n">
                <div class="tit initial cg"><strong>Create SSH Key</strong></div>
            </div>

            <div class="ds_cont">
                <div class="register_box reg">

                    <div class="top_ipbox">
                        <div class="ipbox ipbox1">
                            <ul>
                                <li class="reg_1">
                                    <label><span class="ch">*</span>SSH Key Name</label>
                                    <input type="text" name="reg_cspSshKeyName" id="regCspSshKeyName" value=""
                                        placeholder="Input Name" class="pline" title="" />
                                </li>
                            </ul>
                        </div>
                        <div class="ipbox ipbox2">
                            <ul>
                                <li class="reg_3">
                                    <label>Cloud Provider</label>
                                    <!-- <input type="text" name="" value="" placeholder="AWS, AZURE, GCP, ALIBABA / Region" class="pline" title="" /> -->
                                    <select class="selectbox white pline w3" name="ProviderName" id="regProvider"
                                        onchange="getConnectionListForSelectbox(this.value, 'regConnectionName')">
                                        <option value="" selected>Select Cloud Provider</option>
                                        {{ range $item := .CloudOSList}}
                                        <option value="{{ $item }}">{{ $item }}</option>
                                        {{ end }}
                                        <option value="MOCK">MOCK</option> <!-- 임시로 MOCK 추가-->
                                    </select>
                                </li>

                                <li class="reg_3">
                                    <label><span class="ch">*</span>Connection Name</label>
                                    <!-- <input type="text" name="" value="" placeholder="Select / Input fingerprint" class="pline ip_w1" title="" /> -->
                                    <!-- <textarea cols="" rows="" placeholder="Description" class="pline ip_w1" title="" readonly></textarea> -->
                                    <select class="selectbox white pline w3" name="reg_connectionName"
                                        id="regConnectionName">
                                        <option value="" selected>Select Connection Name</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btnbox">
                        <div class="btn_center">
                            <button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
                                onclick="displaySshKeyInfo('CLOSE')">Cancel</button>
                            <button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
                                onclick="createSSHKey()">Ok</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- //Register Security -->

</div>
<!-- //contents -->

<script src="/assets/js/setting/resources/sshkeymng.js"></script>
{{template "Footer" .}}