{{ template "Top" .}}

<div id="lnb">

	<div class="bg"></div>

	<div class="m_box">

		{{template "TopBox" .}}

		{{template "LNBPopup" .}}

		<!-- menu -->
		{{template "MenuLeft" .}}
		<!-- //menu -->

	</div>

	<div class="bottom"></div>
	<a href="javascript:;" id="m_close"></a>

</div>

{{template "Header" .}}

{{template "Modal" .}}

<!-- contents -->
<div class="contbox">

	<div class="titlebox">
		<div class="tit"><img src="/assets/img/common/icon_cont.png" alt="" />Resources / <strong>(Server) Spec</strong>
		</div>
		<div class="location">Home <span>></span> Setting <span>></span> Resources <span>></span> <strong>(Server)
				Spec</strong></div>
	</div>



	<!-- list -->
	<div class="dashboard dashboard_cont">

		<div class="d_box box_m box_w100">
			<div class="titbox">
				<div class="tit initial"><strong>Server Spec</strong></div>
				<div class="top_info">
					<ul>
						<li>
							<a href="javascript:void(0);">Filter</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('RsFltSrvSpecName', 'serverSpecList')">Name</a>
										</li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('RsFltSrvSpecConnName', 'serverSpecList')">Connect
												Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="commonPromptOpen('RsFltSrvCspSpecName', 'serverSpecList')">CSP
												Spec Name</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Sort</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);"
												onclick="tableSort('serverSpecList', 'Name')">Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('serverSpecList', 'Connection Name')">Connect
												Name</a></li>
										<li><a href="javascript:void(0);"
												onclick="tableSort('serverSpecList', 'CSP Spec Name')">CSP Spec Name</a>
										</li>
										<!--
														<li><a href="javascript:void(0);" onclick="getVmSpecList('name')">Name</a></li>
														<li><a href="javascript:void(0);" onclick="getVmSpecList('connectionName')">Connect Name</a></li>
														<li><a href="javascript:void(0);" onclick="getVmSpecList('cspSpecName')">CSP Spec Name</a></li>
														-->
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="javascript:void(0);">Action</a>
							<div class="infobox">
								<div class="box">
									<ul>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox"
												onClick="displayVmSpecInfo('REG')">Add</a></li>
										<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist"
												onClick="commonConfirmOpen('DeleteVmSpec')">Delete</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="ds_cont">

				<div class="dataTable status_list" id="vmSpecListTable">
					<table cellpadding="0" cellspacing="0" border="1" summary="" id="serverSpecList">
						<!-- <colgroup>
                                            <col width="50px">
                                            <col width="">
                                            <col width="">
                                            <col width="">
                                            <col width="60px">
                                        </colgroup> -->
						<thead>
							<tr>
								<th class="column-50px"><input type="checkbox" name="" value="" id="th_chall"
										title="" /><label for="th_chall"></label></td>
								<th>Name</th>
								<th>Connection Name</th>
								<th>CSP Spec Name</th>
								<!-- <th class="column-60px"></th> -->
							</tr>
						</thead>
						<tbody id="specList">
							{{ $length := len .VmSpecList }}
							{{ if eq $length 0 }}
							<tr>
								<td class="overlay hidden" data-th="" colspan="5">No Data</td>
							</tr>
							{{ end }}
							{{range $index, $item := .VmSpecList}}
							<tr onclick="showVmSpecInfo('{{$item.Name}}');">
								<td class="overlay hidden column-50px" data-th="">
									<input type="hidden" id="spec_info_{{$index}}" value="{{$item.Name}}" />
									<input type="checkbox" name="chk" value="{{$item.Name }}" id="raw_{{$index }}"
										title="" /><label for="td_ch1"></label> <span class="ov off"></span>
								</td>
								<td class="btn_mtd ovm" data-th="name ">{{ $item.Name }}<span class="ov"></span></td>
								<td class="overlay hidden" data-th="connectionName">{{ $item.ConnectionName }}</td>
								<td class="overlay hidden" data-th="cspSpecName">{{ $item.CspSpecName }}</td>
								<!-- <td class="overlay hidden column-60px" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td> -->
							</tr>
							{{ end }}
						</tbody>
					</table>
				</div>

			</div>

		</div>

	</div>
	<!-- //list -->


	<!-- Modify -->
	<div class="dashboard dashboard_cont server_status" id="vmSpecInfoBox">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial"><strong>Server Spec Info</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box">

					<div class="top_ipbox">
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1">
									<label>Spec Name</label>
									<span class="sbox">
										<input type="text" id="dtlSpecName" name="dtlSpecName" value="" placeholder=""
											class="gray" title="" readonly />
										<!-- <a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt=""/></a> -->
									</span>
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_1">
									<label>Cloud Provider</label>
									<input type="text" id="dtlProvider" name="dtlProvider" placeholder="" class="gray"
										title="" readonly />

								</li>
								<li class="reg_1">
									<label>Connection Name</label>
									<input type="text" id="dtlConnectionName" name="dtlConnectionName" placeholder=""
										class="gray" title="" readonly />

								</li>
								<li class="reg_1">
									<label>CSP Spec Name</label>
									<input type="text" id="dtlCspSpecName" name="dtlCspSpecName" placeholder=""
										class="gray" title="instance유형 t2.micro 등" />
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- //Modify -->


	<!-- Register Spec -->
	<div class="dashboard dashboard_cont register_cont" id="vmSpecCreateBox">

		<div class="d_box box_m box_w100">
			<div class="titbox_n">
				<div class="tit initial cg"><strong>Register Server Spec</strong></div>
			</div>

			<div class="ds_cont">
				<div class="register_box reg">

					<div class="top_ipbox">
						<div class="ipbox ipbox1">
							<ul>
								<li class="reg_2">
									<label><span class="ch">*</span>Spec Name</label>
									<input type="text" id="regSpecName" name="reg_specName" value=""
										placeholder="input spec name" class="pline" title="" />
								</li>
							</ul>
						</div>
						<div class="ipbox ipbox2">
							<ul>
								<li class="reg_1">
									<label>Cloud Provider</label>
									<select class="selectbox white pline w3" name="ProviderName" id="regProvider"
										onchange="getConnectionListForSelectbox(this.value, 'regConnectionName')">
										<option value='' selected>Select Cloud Provider</option>
										<!--
														<option selected>Select Cloud Provider</option>
														<option value="AWS">AWS</option>
														<option value="AZURE">AZURE</option>
														<option value="Alibaba">Alibaba</option>
														<option value="GCP">GCP</option>
														<option value="Cloudit">Cloudit</option>
														<option value="Openstack">Openstack</option>
														-->
										{{ range $item := .CloudOSList}}
										<option value="{{ $item }}">{{ $item }}</option>
										{{ end }}
										<option value="MOCK">MOCK</option> <!-- 임시로 MOCK 추가-->
									</select>

								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>Connection Name</label>
									<select class="selectbox white pline w3" id="regConnectionName"
										name="reg_connectionName">
										<option value='' selected>Selected ConnectionName</option>
									</select>
								</li>
								<li class="reg_1">
									<label><span class="ch">*</span>CSP Spec Name</label>
									<input type="text" id="regCspSpecName" name="reg_cspSpecName" value=""
										placeholder="input csp spec name" class="pline ip_w1" title="" />
									<a href="javascript:void(0);" class="btn_assist">Assist</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="btnbox">
						<div class="btn_center">
							<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel"
								onclick="displayVmSpecInfo('CLOSE')">Cancel</button>
							<button name="" value="" class="btn_co btn_cr_g w135 btn_ok"
								onclick="createVmSpec()">Ok</button>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	<!-- //Register Spec -->
	{{template "VmAssistPopup" .}}
</div>
<!-- //contents -->

<script src="/assets/js/setting/resources/vmspecmng.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<!--slider range js-->
<script>

	$(function () {
		$(".spec_box .s_slider_box").each(function () {
			var $Slider_list = $(this);
			var $Slider_div = $Slider_list.find('.slider_bar');
			var $min_input = $Slider_list.find("[id$='min']");
			var $max_input = $Slider_list.find("[id$='max']");
			var $btn_plus = $Slider_list.find('.btn_s_plus');
			var $btn_minus = $Slider_list.find('.btn_s_minus');
			$Slider_div.slider({
				range: true,
				min: 0,
				max: 100,
				step: 1,
				values: [0, 100],
				slide: function (event, ui) {
					$min_input.val(ui.values[0].toString());
					$max_input.val(ui.values[1].toString());
				}
			});
		})
	})


</script>
{{template "Footer" .}}