{{ template "Top" .}}

		<div id="lnb">
			
			<div class="bg"></div>
				
			<div class="m_box">
				
				{{template "TopBox" .}}
	
				{{template "LNBPopup" .}}
				
				<!-- menu -->
				{{template "MenuLeft" .}}
				<!-- //menu -->
				
			</div>
			
			<div class="bottom"></div>
			<a href="javascript:;" id="m_close"></a>
			
		</div>
		
	
		{{template "Header" .}}
	
        {{template "Modal" .}}
				
				<!-- contents -->
				<div class="contbox">
					
					<div class="titlebox">
						<div class="tit"><img src="/assets/img/common/icon_cont.png" alt=""/>Resources / <strong>(Server) Image</strong></div>
						<div class="location">Home  <span>></span>  Setting  <span>></span>  Resources  <span>></span>  <strong>(Server) Image</strong></div>
					</div>


					
					<!-- list -->
					<div class="dashboard dashboard_cont">
						
						<div class="d_box box_m box_w100">
							<div class="titbox">
								<div class="tit initial"><strong>Server Image</strong></div>
								<div class="top_info">
									<ul>
										<li>
											<a href="javascript:void(0);">Filter</a>
											<div class="infobox">
												<div class="box">
													<ul>
                                                        <li><a href="javascript:void(0);" onclick="commonPromptOpen('RsFltSrvImgId', 'serverImageList')">Image ID</a></li>
														<li><a href="javascript:void(0);" onclick="commonPromptOpen('RsFltSrvImgName', 'serverImageList')">Image Name</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<a href="javascript:void(0);">Sort</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" onclick="tableSort('serverImageList', 'Image ID')">Image ID</a></li>
														<li><a href="javascript:void(0);" onclick="tableSort('serverImageList', 'Image Name')">Image Name</a></li>
														<!--
														<li><a href="javascript:void(0);" onclick="getVirtualMachineImageList('cspImageId')">Image ID</a></li>
														<li><a href="javascript:void(0);" onclick="getVirtualMachineImageList('name')">Image Name</a></li>
														-->
													</ul>
												</div>
											</div>
										</li>										
										<li>
											<a href="javascript:void(0);">Action</a>
											<div class="infobox">
												<div class="box">
													<ul>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#RegistBox" onClick="commonConfirmOpen('AddNewVirtualMachineImage')">Add</a></li>
														<li><a href="javascript:void(0);" data-toggle="modal" data-target="#UnRegist" onClick="commonConfirmOpen('DeleteVirtualMachineImage')">Delete</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li><a href="javascript:void(0);"><img src="/assets/img/common/icon_question.png" alt=""/></a></li>
									</ul>
								</div>
							</div>
								
							<div class="ds_cont">
								
								<div class="dataTable status_list" id="virtualMachineImageListTable">
									<table cellpadding="0" cellspacing="0" border="1" summary="" id="serverImageList">
                                        <!-- <colgroup>
                                            <col width="50px">
                                            <col width="">
                                            <col width="">
                                            <col width="">
                                            <col width="60px">
                                        </colgroup> -->
										<thead>
											<tr>
												<th class="column-50px"><input type="checkbox" name="" value="" id="th_chall" title="" /><label for="th_chall"></label></th>
												<th>Connection</th>
                                                <th>Image ID</th>
												<th>Image Name</th>
												<th>Description</th>
												<!-- <th class="column-60px"></th> -->
											</tr>
										</thead>
										<tbody id="imgList">
											<!--
											<tr>
												<td class="overlay hidden" data-th=""><input type="checkbox" name="chk" value="" id="td_ch4" title="" /><label for="td_ch4"></label> <span class="ov off"></span></td>
												<td class="btn_mtd ovm" data-th="Image ID">gcp-image01 <span class="ov"></span></td>
												<td class="overlay hidden" data-th="Image Name">gcp-image-01</td>
												<td class="overlay hidden" data-th="CP">GCP</td>
												<td class="overlay hidden" data-th="region">ap-east-1</td>
												<td class="overlay hidden" data-th="guestOS">Other Linux</td>
												<td class="overlay hidden" data-th="description">images for gcp …</td>
												<td class="overlay hidden" data-th="status">-</td>
												<td class="overlay hidden" data-th="Create Date">2020-02-01</td>
												<td class="overlay hidden" data-th=""><a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a></td>
                                            </tr>
                                            -->
											{{ $length := len .VirtualMachineImageList }} 
											{{ if eq $length 0 }}
											<tr>
												<td class="overlay hidden" data-th="" colspan="5">No Data</td>
											</tr>
											{{ end }}

											{{range $index, $item := .VirtualMachineImageList}}		
											<tr onclick="showVirtualMachinImageInfo('{{$item.Name}}');">
												<td class="overlay hidden column-50px" data-th="">
													<input type="hidden" id="img_info_{{$index}}" value="{{$item.Name }}"/>
													<input type="checkbox" name="chk" value="{{$item.Name}}" id="raw_{{$index}}" title="" />
													<label for="td_ch1"></label> <span class="ov off"></span>
												</td>
												<td class="btn_mtd ovm" data-th="connectionName">{{$item.ConnectionName}}<span class="ov"></span></td>
												<td class="btn_mtd ovm" data-th="cspImageId">{{$item.CspImageId}}<span class="ov"></span></td>
												<td class="overlay hidden" data-th="name">{{$item.Name}}</td>
												<td class="overlay hidden" data-th="description">{{$item.Description}}</td>
												<!-- <td class="overlay hidden column-60px" data-th="">
													<a href="javascript:void(0);"><img src="/assets/img/contents/icon_link.png" class="icon" alt=""/></a>
												</td> -->
											</tr>
											{{ end }}
										</tbody>
									</table>
								</div>
								
								<!-- 
								<div class="pageing">
									<a href="#" class="btn_prev"><span>이전</span></a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#" class="btn_next"><span>다음</span></a>
								</div>
								-->
							</div>
							
						</div>
						
					</div>
					<!-- //list -->
					
					
					<!-- Modify -->
					<div class="dashboard dashboard_cont server_status" id="virtualMachineImageInfoBox">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial"><strong>Image Info</strong> [<span class="stxt"></span>]</div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1">
													<label>Image Name</label>
													<span class="sbox">
														<input type="text" id="dtlImageName" name="dtlImageName" value="" placeholder="" class="gray" title="" readonly />
														<!--<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt=""/></a>-->
													</span>
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_1">
													<label>Cloud Provider</label>
													<input type="text" id="dtlProvider" name="dtlProvider" value="" placeholder="" class="gray" title="" readonly />
													<!--
													<select class="selectbox w1">
														<option value="1">Selected Provider</option>
													</select>
													<select class="selectbox w2">
														<option value="1">Selected Region</option>
													</select>
													-->
												</li>
												<li class="reg_1">
													<label>Connection Name</label>
													<input type="text" id="dtlConnectionName" name="dtlConnectionName" value="" placeholder="" class="gray" title="" readonly />
													<a href="javascript:void(0);" class="btn_assist" id="assistVmImage">Assist</a>
													<!--
													<select class="selectbox w3">
														<option value="1">Selected ConnectionName</option>
													</select>
													-->
												</li>
											</ul>
										</div>
									</div>
									
									<div class="graybox">
										
										<div class="g_box">
											<div class="g_ipbox g_ipbox1">
												<ul>
													<li>
														<label>Image Id</label>
														<span class="sbox">
															<input type="text" id="dtlImageId" name="" value="" placeholder="" class="gray" title="" readonly />
															<!--<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt=""/></a>-->
														</span>
													</li>
													<li>
														<label>guestOS</label>
														<input type="text" id="dtlGuestOS" name="dtlGuestOS" value="" placeholder="" class="gray" title="" readonly />
													</li>
												</ul>
											</div>
											
											<div class="g_ipbox g_ipbox1">
												<ul>
													<li>
														<label>Description</label>
														<textarea id="dtlDescription" name="dtlDescription" cols="" rows="" placeholder="" class="gray" title="" readonly ></textarea>
													</li>
												</ul>
											</div>
											<!--
											<div class="g_ipbox g_ipbox1 g_ipbox3">
												<ul>
													<li>
														<label>guestOS</label>
														<input type="text" name="" value="" placeholder="guestOS" class="gray" title="" readonly />
													</li>
													<li>
														<label>status</label>
														<input type="text" name="" value="" placeholder="status" class="gray" title="" readonly />
													</li>
												</ul>
											</div>
											-->
											<!--
											<div class="g_ipbox g_ipbox2 g_ipbox4">
												<ul>
													<li>
														<label>creationDate</label>
														<input type="text" name="" value="" placeholder="vNetId" class="gray" title="" readonly />
													</li>
													<li>
														<label>keyvalues</label>
														<textarea  cols="" rows="" placeholder="display Json Context" class="gray" title="" readonly ></textarea>
														<span class="reg_stxt right_a"><a href="#">Import JSON</a></span>
													</li>
												</ul>
												<span class="b_txt">Help ) Provider 별 Custom 필수 항목 값이 정의 될 수도 있음.</span>
											</div>
											-->
										</div>
										
									</div>
									
									<div class="top_ipbox bottom_ipbox padd_Box_1">
										<div class="ipbox ipbox1 ipbox5">
											<ul>
												<li class="reg_1">
													<label>CSP Image Name</label>
													<input type="text" id="dtlCspImageName" name="dtlCspImageName" value="" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
										<div class="ipbox ipbox2 ipbox6">
											<ul>
												<li class="reg_2">
													<label>CSP Image ID</label>
													<input type="text" id="dtlCspImageId" name="dtlCspImageId" value="" placeholder="" class="gray" title="" readonly />
												</li>
											</ul>
										</div>
									</div>									
									
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Modify -->
					
					
					<!-- Register Image -->
					<div class="dashboard dashboard_cont register_cont"  id="virtualMachineImageCreateBox">
						
						<div class="d_box box_m box_w100">
							<div class="titbox_n">
								<div class="tit initial cg"><strong>Register Server Image</strong></div>
							</div>
							
							<div class="ds_cont">
								<div class="register_box">
									
									<div class="top_ipbox">
										<div class="ipbox ipbox1">
											<ul>
												<li class="reg_2">
													<label><span class="ch">*</span>Image Name</label>
													<input type="text" id="regImageName" name="reg_imageName" value="" placeholder="Input Image Name" class="pline" title="" />
                                                </li>
                                                <li class="reg_2">
													<label><span class="ch">*</span>CSP Image ID</label>
													<input type="text" id="regCspImgId" name="reg_cspImgId" value="" placeholder="Input CSP Image Id" class="pline ip_w1" title="" />													
													<a href="javascript:void(0);" class="btn_assist">Assist</a>
                                                </li>
                                                <li class="reg_2">
                                                    <label>CSP Image Name</label>
                                                    <span class="sbox">
                                                        <input type="text" id="regCspImgName" name="reg_cspImgName" value="" placeholder="Input CSP Image Name" class="pline" title="" />
                                                    </span>
                                                </li>
                                                <li class="reg_2">
                                                    <label>guestOS</label>
                                                    <input type="text" id="regGuestOS" name="reg_guestOS" value="" placeholder="Input GuestOS" class="pline" title="" />
                                                </li>
											</ul>
										</div>
										<div class="ipbox ipbox2">
											<ul>
												<li class="reg_1">
													<label>Cloud Provider</label>
													<select class="selectbox white pline w3" name="ProviderName" id="regProvider" onchange="getConnectionListForSelectbox(this.value, 'regConnectionName')">
														<option value="" selected>Select Cloud Provider</option>
														<!--
														<option selected>Select Cloud Provider</option>
														<option value="AWS">AWS</option>
														<option value="AZURE">AZURE</option>
														<option value="Alibaba">Alibaba</option>
														<option value="GCP">GCP</option>
														<option value="Cloudit">Cloudit</option>
														<option value="Openstack">Openstack</option>
														-->
														{{ range $item := .CloudOSList}}	
														<option value="{{ $item }}">{{ $item }}</option>
														{{ end }}
														<option value="MOCK">MOCK</option>	<!-- 임시로 MOCK 추가-->
                                                    </select> 
                                             
												</li>
												<li class="reg_1">
													<label><span class="ch">*</span>Connection Name</label>
													<select class="selectbox white pline w3"  name="reg_connectionName" id="regConnectionName" onchange="clearCspImageInfo()">
														<option value="" selected>Selected ConnectionName</option>
													</select>
                                                </li>
                                                <li>
														<label>Description</label>
														<textarea id="regDescription" name="reg_description" cols="" rows="" placeholder="Description" class="pline" title=""></textarea>
												</li>
                                                <!--
												<li class="reg_2">
													<label><span class="ch">*</span>CSP Image ID</label>
													<input type="text" id="reg_cspImgId" name="reg_cspImgId" value="" placeholder="Input CSP Image Id" class="pline ip_w1" title="" />
                                                </li>
                                                -->
											</ul>
										</div>
									</div>
									
                                    <!-- hidden input box -->
                                    <!--
									<div class="graybox ipbox_hidden">
										
										<div class="g_box">
											<div class="g_ipbox g_ipbox1">
												<ul>
													<li>
														<label>CSP Image ID</label>
														<span class="sbox">
															<input type="text" id="reg_cspImgName" name="reg_cspImgName" value="" placeholder="Input CSP Image Name" class="pline" title="" />
															<a href="javascript:void(0);"><img src="/assets/img/contents/icon_copy.png" class="icon" alt=""/></a>
														</span>
                                                    </li>
                                                    <li>
														<label><span class="ch">*</span>guestOS</label>
														<input type="text" id="reg_guestOS" name="reg_guestOS" value="" placeholder="Input GuestOS" class="pline" title="" />
                                                    </li>
												</ul>
											</div>
											
											<div class="g_ipbox g_ipbox2">
												<ul>
													<li>
														<label>Description</label>
														<textarea  id="reg_description" name="reg_description" cols="" rows="" placeholder="Description" class="pline" title=""></textarea>
													</li>
												</ul>
                                            </div>
                                            
											<div class="g_ipbox g_ipbox1 g_ipbox3">
												<ul>
													<li>
														<label><span class="ch">*</span>guestOS</label>
														<input type="text" id="reg_guestOS" name="reg_guestOS" value="" placeholder="Input GuestOS" class="pline" title="" />
                                                    </li>
                                                    <li>
														<label>status</label>
														<select class="selectbox white pline sel_w1">
															<option value="1">Selected status</option>
														</select>
                                                    </li>
												</ul>
                                            </div>
                                            
											<div class="g_ipbox g_ipbox2 g_ipbox4">
												<ul>
													<li>
														<label>creationDate</label>
														<input type="text" name="" value="" placeholder="vNetId" class="pline" title="" />
													</li>
													<li>
														<label>keyvalues</label>
														<textarea  cols="" rows="" placeholder="display Json Context" class="pline" title=""></textarea>
														<span class="reg_stxt right_a"><a href="#">Import JSON</a></span>
													</li>
												</ul>
												<span class="b_txt">Help ) Provider 별 Custom 필수 항목 값이 정의 될 수도 있음.</span>
                                            </div>
                                            
										</div>
										
                                    </div>
                                    -->
                                    <!-- //hidden input box -->
                                    <!--
									<div class="btn_arr">
										<div class="icon"></div>
									</div>
									-->
									<div class="btnbox">
										<div class="btn_center">
											<button name="" value="" class="btn_co btn_cr_b w135 btn_cancel" onclick="displayVirtualMachineImageInfo('CLOSE')">Cancel</button> 
											<button name="" value="" class="btn_co btn_cr_g w135 btn_ok" onclick="createVirtualMachineImage()">Ok</button> 
										</div>
									</div>
								
								</div>
							</div>
							
						</div>
						
					</div>
					<!-- //Register Image -->

					<!-- Image Assist popup -->
					<div class="modal fade popup_editBox" id="imageAssist" tabindex="-1" role="dialog" aria-hidden="true">
						
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								
								<div class="modal-body">
									<div class="pop-body">
										
										<div class="title_box">
											<div class="title">CSP Image List</div>
										</div>
										
										<div class="pop-cont">
											
											<div class="toptxt">
												<label>Image List : <span id="lookupVmImageCount"></span></label>
												<button type="button" class="btn btn-sm btn-dark" onclick="commonConfirmOpen('FetchImages')">Fetch Images</button>
											</div>

											<div class="top_info">
												<ul>
													<li>
														<a href="javascript:void(0);">Filter</a>
														<div class="infobox">
															<div class="box">
																<ul>
																	<li><a href="javascript:void(0);" onclick="commonPromptOpen('RsFltSrvImgId', 'serverImageList')">Image ID</a></li>
																	<li><a href="javascript:void(0);" onclick="commonPromptOpen('RsFltSrvImgName', 'serverImageList')">Image Name</a></li>
																</ul>
															</div>
														</div>
													</li>
													<li>
														<a href="javascript:void(0);">Sort</a>
														<div class="infobox">
															<div class="box">
																<ul>
																	<li><a href="javascript:void(0);" onclick="tableSort('assistSpecList', 'Name')">Name</a></li>
																	<li><a href="javascript:void(0);" onclick="tableSort('assistSpecList', 'Status')">Status</a></li>
																	<li><a href="javascript:void(0);" onclick="tableSort('assistSpecList', 'GuestOS')">GuestOS</a></li>
																	<li><a href="javascript:void(0);" onclick="tableSort('assistSpecList', 'IID nameId')">IID nameId</a></li>
																</ul>
															</div>
														</div>
													</li>													
												</ul>
											</div>
										
											
											<!-- table scrollbar -->
											<div class="dtbox scrollbar-inner">
												<div class="dataTable dt_overlay">
													<table cellpadding="0" cellspacing="0" summary="" id="popAssistVmImageTable">
														<colgroup><col width="35%"><col width="25%"><col width=""></colgroup>
														<thead>
															<tr>
																<th>Name</th>
																<th>Status</th>
																<th>GuestOS</th>
																<th>IID nameId</th>
																<th>IID systemId</th>
															</tr>
														</thead>
														<tbody id="assistVmImageList">
															
														</tbody>
													</table>
												</div>
											</div>	
											<!-- //table scrollbar -->
											
										</div>
										
									</div>
									
									<div class="btnbox">
										<div class="btn_right">
											<button name="" value="" class="btn_apply btn_co btn_cr_g"><span>Apply</span></button> 
											<button name="" value="" class="btn_cancel btn_co btn_cr_b" data-dismiss="modal">cancel</button> 
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
													
					</div>
					<!-- Image Assist popup -->
				</div>
				<!-- //contents -->
				
<script src="/assets/js/setting/resources/virtualmachineimagemng.js"></script>
{{template "Footer" .}}
